<form
  #championshipForm="ngForm"
  fxLayout="column"
  fxLayoutAlign="start start"
  (ngSubmit)="save()"
>
  <mat-form-field>
    <input
      name="name"
      matInput
      required
      placeholder="Nome lega"
      [(ngModel)]="championship.league.name"
    >
  </mat-form-field>
  <mat-form-field>
    <input
      name="number_transferts"
      type="number"
      matInput
      required
      placeholder="Numero max trasferimenti"
      [(ngModel)]="championship.number_transferts"
    >
  </mat-form-field>
  <mat-form-field>
    <input
      name="number_selections"
      type="number"
      matInput
      required
      placeholder="Numero max cambi selezione"
      [(ngModel)]="championship.number_selections"
    >
  </mat-form-field>
  <mat-form-field>
    <input
      name="minute_lineup"
      type="number"
      matInput
      required
      placeholder="Minuti anticipo formazione"
      [(ngModel)]="championship.minute_lineup"
    >
  </mat-form-field>
  <mat-form-field>
    <input
      name="points_missed_lineup"
      type="number"
      matInput
      min="0"
      max="100"
      required
      placeholder="Percentuale formazione mancante"
      [(ngModel)]="championship.points_missed_lineup"
    >
  </mat-form-field>
  <mat-slider
    name="points_missed_lineup"
    min="0"
    max="100"
    step="0.5"
    placeholder="Percentuale formazione mancante"
    thumbLabel
    tickInterval="10"
    [displayWith]="formatLabel"
    [(ngModel)]="championship.points_missed_lineup"
  ></mat-slider>
  <mat-slide-toggle
    name="captain"
    [(ngModel)]="championship.captain"
  >Capitano</mat-slide-toggle>
  <mat-slide-toggle
    name="captain_missed_lineup"
    [(ngModel)]="championship.captain_missed_lineup"
  >Capitano formazione mancante</mat-slide-toggle>
  <mat-slide-toggle
    name="jolly"
    [(ngModel)]="championship.jolly"
  >Jolly</mat-slide-toggle>
  <button
    type="submit"
    color="accent"
    mat-raised-button
    [disabled]="!championshipForm.form.valid"
  >SALVA</button>
</form>
