<div @cardCreationAnimation>
  <mat-card *ngIf="(league$ | async) as league">
    <form
      *ngIf="(championship$ | async) as championship "
      #championshipForm="ngForm"
      fxLayout="column"
      fxLayoutAlign="start start"
      (ngSubmit)="save(league, championship)"
    >
      <mat-form-field>
        <mat-label>Nome lega</mat-label>
        <input
          name="name"
          matInput
          required
          placeholder="Nome lega"
          [(ngModel)]="league.name"
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Numero max trasferimenti</mat-label>
        <input
          name="number_transferts"
          type="number"
          matInput
          required
          placeholder="Numero max trasferimenti"
          [(ngModel)]="championship.number_transferts"
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Numero max cambi selezione</mat-label>
        <input
          name="number_selections"
          type="number"
          matInput
          required
          placeholder="Numero max cambi selezione"
          [(ngModel)]="championship.number_selections"
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Minuti anticipo formazione</mat-label>
        <input
          name="minute_lineup"
          type="number"
          matInput
          required
          placeholder="Minuti anticipo formazione"
          [(ngModel)]="championship.minute_lineup"
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Percentuale formazione mancante</mat-label>
        <input
          name="points_missed_lineup"
          type="number"
          matInput
          min="0"
          max="100"
          required
          placeholder="Percentuale formazione mancante"
          [(ngModel)]="championship.points_missed_lineup"
        >
      </mat-form-field>
      <mat-slider
        name="points_missed_lineup"
        min="0"
        max="100"
        step="0.5"
        placeholder="Percentuale formazione mancante"
        thumbLabel
        tickInterval="10"
        [displayWith]="formatLabel"
        [(ngModel)]="championship.points_missed_lineup"
      ></mat-slider>
      <mat-slide-toggle
        name="captain"
        [(ngModel)]="championship.captain"
      >Capitano</mat-slide-toggle>
      <mat-slide-toggle
        name="captain_missed_lineup"
        [(ngModel)]="championship.captain_missed_lineup"
      >Capitano formazione mancante</mat-slide-toggle>
      <mat-slide-toggle
        name="jolly"
        [(ngModel)]="championship.jolly"
      >Jolly</mat-slide-toggle>
      <button
        type="submit"
        color="accent"
        mat-raised-button
        [disabled]="!championshipForm.form.valid"
      >SALVA</button>
    </form>
  </mat-card>
</div>
