@use '@angular/material' as mat;

:host {
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%;
}

.mat-toolbar {
  box-shadow: var(--mat-sys-level2);

  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-surface-container),
    )
  );
}

.mat-toolbar-row {
  background-color: inherit;
  padding: 0;
  height: auto;
}

.fab {
  transform-origin: right bottom;
  display: flex;
  align-self: flex-end;
  margin: 1rem;
}
