@let _team = team();
<mat-card appearance="outlined">
  <a
    [routerLink]="['/teams/', _team.id]"
    [state]="{ img: 'url(\'' + imgRef()?.nativeElement?.currentSrc + '\')' }"
    [style.viewTransitionName]="viewTransitionName(_team)"
  >
    <figure
      class="aspect-ratio-box placeholder"
      mat-card-image
      matRipple
    >
      @if (_team.photo_url) {
        <img
          #listImg
          height="337"
          ngSrcset="256w, 600w, 1280w"
          sizes="(min-width: 60em) calc(.3 * (100vw - 15em)), (min-width: 37.5em) 45vw, calc(100vw - 1em)"
          width="600"
          [alt]="_team.name"
          [loaderParams]="_team.photo_url"
          [ngSrc]="_team.photo_url | srcset: true"
          [priority]="priority()"
        />
      }
      <figcaption>{{ _team.name }}</figcaption>
    </figure>
  </a>
  <mat-card-header>
    <mat-card-title
      [style.viewTransitionName]="viewTransitionName(_team, 'title-' + _team.name | slug)"
      >{{ _team.name }}</mat-card-title
    >
    <mat-card-subtitle>{{ _team.user.name }} {{ _team.user.surname }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <a
      matButton="filled"
      [routerLink]="['/teams/', _team.id]"
      >DETTAGLI</a
    >
    <a
      matButton="tonal"
      [routerLink]="['/teams/', _team.id, 'scores', 'last']"
      >PUNTEGGIO</a
    >
  </mat-card-actions>
</mat-card>
