@use 'pkg:@angular/material' as mat;

html {
  .mat-mdc-card {
    overflow-y: hidden;

    @include mat.card-overrides(
      (
        outlined-container-color: var(--mat-sys-surface-container-low),
      )
    );

    @supports selector(:has) {
      &:has(> table) {
        border-radius: var(--mat-sys-corner-extra-small);
      }
    }

    > a {
      border-radius: inherit;
    }
  }

  .mat-mdc-card-actions {
    justify-content: end;
    gap: 0.5rem;
    flex-direction: row-reverse;
  }

  .mat-mdc-card-header-text {
    overflow: hidden;
  }

  .mat-mdc-card-image {
    &.placeholder {
      background-color: var(--mat-sys-surface-container-highest);
    }
  }

  .grid > .mat-mdc-card:hover {
    box-shadow: var(--mat-sys-level1);
  }
}
