@mixin snackbar() {
  .cdk-overlay-container {
    .mdc-snackbar {
      transition: margin var(--mat-sys-motion-emphasized-decelerate-duration)
        var(--mat-sys-motion-emphasized-decelerate);
    }

    &.with-bars {
      .mdc-snackbar {
        margin-bottom: 5.5rem;
      }

      &.loggedin .mdc-snackbar {
        margin-bottom: 10rem;
      }
    }
  }
}
