html {
  .mdc-snackbar {
    transition: margin var(--mat-sys-motion-emphasized-decelerate-duration)
      var(--mat-sys-motion-emphasized-decelerate);
  }

  @media (max-width: theme('screens.sm')) {
    app-main:not(.fullscreen) {
      ~ .cdk-overlay-container .mdc-snackbar {
        margin-bottom: 6rem;
      }

      &.logged-in ~ .cdk-overlay-container .mdc-snackbar {
        margin-bottom: 10rem;
      }
    }
  }
}
