/* stylelint-disable selector-class-pattern */
@use '@angular/material' as mat;

@mixin toolbar() {
  .mat-toolbar {
    transition: background-color 400ms var(--mat-sys-motion-standard);
  }

  .mat-toolbar-multiple-rows {
    min-height: unset;
  }

  .is-scrolled .mat-toolbar {
    @include mat.toolbar-overrides(
      (
        container-background-color: var(--mat-sys-surface-container),
      )
    );
  }

  .mat-drawer .mat-toolbar {
    background-color: inherit;
  }
}
