<div *ngIf="dataSource$ | async as dataSource; else loading">
  <div
    *ngIf="dataSource.data.length; else empty"
    class="table-container mat-elevation-z1"
  >
    <table
      @tableRowAnimation
      #table
      mat-table
      matSort
      [dataSource]="dataSource"
    >
      <ng-container matColumnDef="old_member">
        <th
          *matHeaderCellDef
          mat-header-cell
          mat-sort-header
        > Vecchio giocatore </th>
        <td
          *matCellDef="let row;"
          mat-cell
        >
          <a [routerLink]="['/players', row.old_member.player.id]">{{row.old_member.player.full_name}}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="new_member">
        <th
          *matHeaderCellDef
          mat-header-cell
          mat-sort-header
        > Nuovo giocatore </th>
        <td
          *matCellDef="let row;"
          mat-cell
        >
          <a [routerLink]="['/players', row.new_member.player.id]">{{row.new_member.player.full_name}}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="constraint">
        <th
          *matHeaderCellDef
          mat-header-cell
        > Obbligato </th>
        <td
          *matCellDef="let row;"
          mat-cell
        >
          <mat-icon *ngIf="row.constrained">done</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="matchday">
        <th
          *matHeaderCellDef
          mat-header-cell
        > Giornata </th>
        <td
          *matCellDef="let row;"
          mat-cell
        >{{row.matchday.number}}</td>
      </ng-container>

      <tr
        *matHeaderRowDef="displayedColumns; sticky: true"
        mat-header-row
      ></tr>
      <tr
        *matRowDef="let row; columns: displayedColumns;"
        mat-row
      ></tr>
    </table>
  </div>
</div>
<ng-template #empty>
  <app-mat-empty-state
    label="Nessun trasferimento presente"
    icon="swap_vert"
    [rounded]="true"
    [size]="330"
  >
  </app-mat-empty-state>
</ng-template>
<ng-template #loading>
  <mat-progress-spinner
    color="accent"
    mode="indeterminate"
  ></mat-progress-spinner>
</ng-template>
<app-selection *ngIf="app.team?.id == teamId && !app.seasonEnded"></app-selection>
