<div *ngIf="player">
    <fm-parallax-header [title]="player.name + ' ' + player.surname" [subtitle]="selectedMember.role.singolar + ' - ' + selectedMember.club.name" [backgroundImage]="selectedMember.backgroundImg" [image]="selectedMember.img">
        <div parallax-header-right>
            <md-select style="width:146px" placeholder="Stagione" [(ngModel)]="selectedMember" [color]="media.isActive('gt-sm') ? 'white' : ''">
                <md-option *ngFor="let member of player.members" [value]="member">{{ member.season.name }}</md-option>
            </md-select>

        </div>
    </fm-parallax-header>

    <div class="mat-elevation-z4">
        <md-table #table [dataSource]="dataSource">
            <ng-container cdkColumnDef="matchday">
                <md-header-cell *cdkHeaderCellDef><span mdTooltip="Giornata">#</span></md-header-cell>
                <md-cell *cdkCellDef="let row">{{row.matchday.number}}</md-cell>
            </ng-container>

            <ng-container cdkColumnDef="rating">
                <md-header-cell *cdkHeaderCellDef> Voto </md-header-cell>
                <md-cell *cdkCellDef="let row">{{row.rating}}</md-cell>
            </ng-container>

            <ng-container cdkColumnDef="points">
                <md-header-cell *cdkHeaderCellDef> Punti </md-header-cell>
                <md-cell *cdkCellDef="let row">{{row.points}}</md-cell>
            </ng-container>

            <ng-container cdkColumnDef="goals">
                <md-header-cell *cdkHeaderCellDef> Gol </md-header-cell>
                <md-cell *cdkCellDef="let row">{{row.goals}}</md-cell>
            </ng-container>

            <ng-container cdkColumnDef="goals_against">
                <md-header-cell *cdkHeaderCellDef> Gol s </md-header-cell>
                <md-cell *cdkCellDef="let row">{{row.goals_against}}</md-cell>
            </ng-container>

            <ng-container cdkColumnDef="assist">
                <md-header-cell *cdkHeaderCellDef> Assist </md-header-cell>
                <md-cell *cdkCellDef="let row">{{row.assist}}</md-cell>
            </ng-container>

            <ng-container cdkColumnDef="penalities_scored">
                <md-header-cell *cdkHeaderCellDef> Rig </md-header-cell>
                <md-cell *cdkCellDef="let row">{{row.penalities_scored}}</md-cell>
            </ng-container>

            <ng-container cdkColumnDef="penalities_taken">
                <md-header-cell *cdkHeaderCellDef> Rig s </md-header-cell>
                <md-cell *cdkCellDef="let row">{{row.penalities_taken}}</md-cell>
            </ng-container>

            <ng-container cdkColumnDef="regular">
                <md-header-cell *cdkHeaderCellDef><span mdTooltip="Titolare">Tit.</span></md-header-cell>
                <md-cell *cdkCellDef="let row">
                    <i *ngIf="row.regular" class="material-icons">done</i>
                </md-cell>
            </ng-container>

            <ng-container cdkColumnDef="yellow_card">
                <md-header-cell *cdkHeaderCellDef><span mdTooltip="Ammonizioni" class="yellow_card mat-elevation-z1"></span></md-header-cell>
                <md-cell *cdkCellDef="let row">
                    <i *ngIf="row.yellow_card" class="material-icons">done</i>
                </md-cell>
            </ng-container>

            <ng-container cdkColumnDef="red_card">
                <md-header-cell *cdkHeaderCellDef><span mdTooltip="Espulsioni" class="red_card mat-elevation-z1"></span></md-header-cell>
                <md-cell *cdkCellDef="let row">
                    <i *ngIf="row.red_card" class="material-icons">done</i>
                </md-cell>
            </ng-container>

            <ng-container cdkColumnDef="quotation">
                <md-header-cell *cdkHeaderCellDef><span mdTooltip="Quotazione">Q.</span></md-header-cell>
                <md-cell *cdkCellDef="let row">{{row.quotation}}</md-cell>
            </ng-container>

            <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
            <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
        </md-table>
    </div>
</div>