<div class="flex-container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around flex-start"
  fxLayoutAlign.xs="start" @cardCreationAnimation>

  <a class="flex-item" routerLink="../members" fxFlex.gt-md="30" fxFlex.md="30" fxFlex.sm="45" fxFlex.xs="100">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Modifica giocatori</mat-card-title>
      </mat-card-header>
    </mat-card>
  </a>

  <a class="flex-item" routerLink="../new_transfert" fxFlex.gt-md="30" fxFlex.md="30" fxFlex.sm="45" fxFlex.xs="100">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Nuovo trasferimento</mat-card-title>
      </mat-card-header>
    </mat-card>
  </a>
</div>