@if (articles.length) {
<div
  class="grid grid-cols-1 grid-rows-1 gap-4 gap-y-4 sm:grid-cols-2 md:gap-6 lg:gap-8"
  @cardCreationAnimation
>
  @for (article of articles; track article.id; let i = $index) {
  <mat-card
    appearance="outlined"
    [id]="article.id"
  >
    <mat-card-header>
      <mat-card-title>{{article.title}}</mat-card-title>
      <mat-card-subtitle>{{article.created_at | date: 'dd/MM/y HH:mm'}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{article.body}}</p>
    </mat-card-content>
    <mat-card-actions>
      <a
        mat-button
        type="button"
        [routerLink]="['/articles',article.id]"
        >EDIT</a
      >
      <button
        mat-button
        type="button"
        (click)="delete(article.id)"
      >
        DELETE
      </button>
    </mat-card-actions>
  </mat-card>
  }
</div>
} @if (articles.length === 0 && !isLoading) {
<app-mat-empty-state
  description="Sii il primo"
  icon="message"
  label="Nessun articolo rilasciato"
>
  <a
    mat-flat-button
    routerLink="/articles/new"
    >Nuovo articolo</a
  >
</app-mat-empty-state>
} @if (isLoading) {
<mat-progress-spinner
  #loading
  color="accent"
  mode="indeterminate"
/>
}
