<div *ngIf="articles.length" class="flex-container" fxLayout="row wrap" fxLayout.xs="column"
  fxLayoutAlign="space-around flex-start" fxLayoutAlign.xs="start" @cardCreationAnimation>
  <mat-card [id]="article.id" fxFlex.gt-sm="45" fxFlex.xs="100" *ngFor="let article of articles; let i=index">
    <mat-card-header>
      <mat-card-title>{{article.title}}</mat-card-title>
      <mat-card-subtitle>{{article.created_at | date: 'dd/MM/y HH:mm'}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{article.body}}</p>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="end">
      <a mat-button [routerLink]="['/articles',article.id]">EDIT</a>
      <button mat-button (click)="delete(article.id)">DELETE</button>
    </mat-card-actions>
  </mat-card>
</div>
<fm-mat-empty-state *ngIf="articles.length == 0 && !isLoading" label="Nessuna conferenza stampa ancora rilasciata"
  description="Sii il primo" icon="message">
  <a mat-raised-button color="accent" routerLink="/articles/new">Nuova conferenza stampa</a>
</fm-mat-empty-state>
<mat-progress-spinner #loading *ngIf="isLoading" color="accent" mode="indeterminate"></mat-progress-spinner>
