@media (min-width: theme('screens.lg')) {
  .options {
    position: fixed;
    top: 56px;
    right: 24px;
    z-index: 1;
    width: 18rem;
  }

  .mat-expansion-panel-body {
    padding: 0 12px 8px;
  }
}

.mat-mdc-form-field {
  width: 100%;
}
