@import '~@angular/flex-layout/mq';
@include layout-bp(gt-md) {
  .options {
    position: fixed;
    top: 56px;
    right: 24px;
    z-index: 1;
    width: 220px;
  }

  .mat-expansion-panel-body {
    padding: 0 12px 8px;
  }
}

.mat-form-field {
  width: 100%;
}
