<mat-card appearance="outlined" class="options mat-elevation-z4">
  <mat-card-header>
    <mat-card-title>Giornata {{lineup.matchday?.number}}</mat-card-title>
    <mat-card-subtitle *ngIf="lineup.modified_at">Aggiornata il: {{lineup.modified_at | date: 'dd/MM HH:mm'}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <mat-form-field class="module">
      <mat-label>Modulo</mat-label>
      <mat-select
        #module="ngModel"
        name="module"
        placeholder="Modulo"
        [disabled]="disabled"
        [(ngModel)]="lineupService.selectedModule"
        (selectionChange)="lineupService.moduleChange()"
      >
        <mat-option
          *ngFor="let m of lineupService.modules; trackBy: trackByModules"
          [value]="m"
        >{{m.label}}</mat-option>
      </mat-select>
      <mat-error *ngIf="module.errors?.['Expired']">
        {{module.errors?.['Expired']}}
      </mat-error>
      <mat-error *ngIf="module.errors?.['MissingPlayer']">
        {{module.errors?.['MissingPlayer']}}
      </mat-error>
    </mat-form-field>
    <mat-checkbox
      name="jolly"
      [attr.value]="true"
      [disabled]="disabled"
      [(ngModel)]="lineup.jolly"
    >Jolly</mat-checkbox>
    <mat-error *ngIf="module.errors?.['JollyAlreadyUsed']">
      {{module.errors?.['JollyAlreadyUsed']}}
    </mat-error>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>Capitani</mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <mat-form-field
          *ngFor="let captain of (lineupService.captains | keyvalue); trackBy: trackByCaptainField"
        >
          <mat-label>{{captain.key}}</mat-label>
          <mat-select
            [disabled]="disabled"
            [name]="captain.key"
            [placeholder]="captain.key"
            [(ngModel)]="lineup[captain.value]"
            (selectionChange)="lineupService.captainSelectionChange()"
          >
            <mat-option
              *ngFor="let c of lineupService.captainables; trackBy: trackByCaptain"
              [disabled]="c.disabled"
              [value]="c.member.id"
            >{{c.member.player.full_name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-template>
    </mat-expansion-panel>

  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <ng-content select="[buttons]"></ng-content>
  </mat-card-actions>
</mat-card>
