<div class="mat-elevation-z8 ranking-container" *ngIf="dataSource; else loading">
    <div class="table-container">
        <mat-table #table [dataSource]="dataSource" class="ranking" @tableRowAnimation>
            <ng-container matColumnDef="teamName">
                <mat-header-cell *matHeaderCellDef> Squadra </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <a [routerLink]="['/teams',row.team.id]">{{row.team.name}}</a>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="points">
                <mat-header-cell *matHeaderCellDef> P.ti </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.sum_points}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="rankingDisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: rankingDisplayedColumns;"></mat-row>
        </mat-table>
    </div>
    <div class="table-container scores-container">
        <mat-table #table [dataSource]="dataSource" class="scores" @tableRowAnimation>
            <ng-container *ngFor="let matchday of matchdays" [matColumnDef]="matchday">
                <mat-header-cell *matHeaderCellDef> {{matchday}} </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <a routerLink="/scores/{{row.scores[matchday].id}}">{{row.scores[matchday].points}}</a>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="matchdays"></mat-header-row>
            <mat-row *matRowDef="let row; columns: matchdays;"></mat-row>
        </mat-table>
    </div>
</div>
<ng-template #loading>
    <mat-progress-spinner color="accent" mode="indeterminate"></mat-progress-spinner>
</ng-template>