<ng-container *ngIf="team$ | async as team">
  <form
    *ngIf="(data$ | async) as data; else loading"
    #lineupForm="ngForm"
    (ngSubmit)="save(team, data.dispositions)"
  >
    <div ngModelGroup="members">
      <app-module-area
        [module]="module"
        [wrap]="true"
        [membersByRole]="data.membersByRole"
        [dispositions]="data.dispositions"
      >
      </app-module-area>
    </div>
    <button
      color="accent"
      type="submit"
      mat-raised-button
    >SALVA</button>
  </form>
  <ng-template #loading>
    <mat-progress-spinner
      color="accent"
      mode="indeterminate"
    ></mat-progress-spinner>
  </ng-template>
</ng-container>
