<form *ngIf="team && team.members; else loading" #membersForm="ngForm" (ngSubmit)="save()">
  <div *ngFor="let role of roles | keyvalue; trackBy: track">
    <h5>{{role.value.label}}</h5>
    <div class="flex-container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around flex-start">
      <div class="disposition" *ngFor="let key2 of role.value.entries;let i = index; trackBy: trackByMember">
        <fm-member-selection *ngIf="team.members[getIndex(role?.key, i)]" [isMemberDisabled]="isAlreadySelectedCallback"
          [memberList]="role.value.members" [placeholder]="role.value.label + ' ' + (i + 1)"
          [name]="'-' + getIndex(role.key, i)" [size]="75" [(ngModel)]="team.members[getIndex(role.key, i)]">
        </fm-member-selection>
      </div>
    </div>
  </div>
  <button color="accent" mat-raised-button type="submit" [disabled]="!membersForm.form.valid">SALVA</button>
</form>
<ng-template #loading>
  <mat-progress-spinner color="accent" mode="indeterminate"></mat-progress-spinner>
</ng-template>
