<ng-container *ngIf="team$ | async as team">
  <form
    *ngIf="(data$ | async) as data; else loading"
    #lineupForm="ngForm"
    (ngSubmit)="save(team, data.dispositions)"
  >
    <div ngModelGroup="members">
      <app-module-area
        [dispositions]="data.dispositions"
        [membersByRole]="data.membersByRole"
        [module]="module"
        [wrap]="true"
       />
    </div>
    <button
      color="accent"
      mat-raised-button
      type="submit"
    >SALVA</button>
  </form>
  <ng-template #loading>
    <mat-progress-spinner
      color="accent"
      mode="indeterminate"
     />
  </ng-template>
</ng-container>
