@import '~@angular/material/theming';
@import '../partials/fantamanajer-theme';
@include mat-core();

$primary: mat-palette($mat-cyan, A200, A100, A400);
$accent: mat-palette($mat-pink, A200);
$warn: mat-palette($mat-red);

$theme: mat-dark-theme($primary, $accent, $warn);
$foreground: map-get($theme, foreground);
$background: map-get($theme, background);
@include fantamanajer-theme($theme);

:root {
  color-scheme: dark;
}

fm-profile .mat-toolbar.has-image,
img {
  filter: grayscale(60%);
}

img[src^='//via.placeholder.com'],
img[srcset^='//via.placeholder.com'] {
  filter: invert(0.85);
}

img[src~='.svg'] {
  $app-background: mat-color($background, 'background');
  $badge-color: mat-color($foreground, 'disabled-text');
  @if (type-of($badge-color) == color and type-of($app-background) == color) {
    $badge-opacity: opacity($badge-color);
    background-color: mix($app-background, rgba($badge-color, 1), (1 - $badge-opacity) * 100%);
  }
  @else {
    background-color: $badge-color;
  }

}

a {
  color: mat-color($primary);
}
