<h2 mat-dialog-title>{{team.name}}</h2>
<mat-dialog-content>
  @if (!seasonEnded()) {
  <div>
    <mat-form-field>
      <mat-label>Nome squadra</mat-label>
      <input
        matInput
        name="name"
        placeholder="Nome"
        required
        [(ngModel)]="team.name"
      />
    </mat-form-field>
  </div>
  }

  <div
    accept="image/*"
    class="my-drop-zone"
    ngfDrop
    selectable
    [ngClass]="{'good-file-over':validComboDrag, 'bad-file-over':invalidComboDrag}"
    [(file)]="file"
    [(invalidDrag)]="invalidComboDrag"
    [(validDrag)]="validComboDrag"
  >
    <p>Clicca o trascina il file quì per caricare l'immagine</p>
    @if (file) {
    <div class="create-box">
      <img
        alt="uploadImage"
        [ngfSrc]="file"
      />
    </div>
    }
  </div>
  <div>
    <app-notification-subscription
      label="Notifiche tramite email"
      type="email"
      [team]="team"
      [(subscriptions)]="team.email_notification_subscriptions"
    />
    <app-notification-subscription
      label="Notifiche push"
      type="push"
      [team]="team"
      [(subscriptions)]="team.push_notification_subscriptions"
    />
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    matButton
    tabindex="-1"
    type="reset"
    [mat-dialog-close]="undefined"
  >
    ANNULLA
  </button>
  <button
    cdkFocusInitial
    matButton
    type="submit"
    (click)="save()"
  >
    SALVA
  </button>
</mat-dialog-actions>
