.my-drop-zone {
  border: dotted 3px var(--mat-sys-surface-dim);
  text-align: center;
  padding: 1rem;
  transition: all 300ms var(--mat-sys-motion-emphasized-decelerate);
  border-radius: var(--mat-sys-corner-small);
}

.good-file-over {
  background-color: var(--mat-sys-tertiary-container);
  border-color: var(--mat-sys-tertiary);
}

.bad-file-over {
  background-color: var(--mat-sys-error-container);
  border-color: var(--mat-sys-error);
  cursor: not-allowed;
}

input[type='file'] {
  display: none;
}

.mat-mdc-form-field {
  width: 100%;
}

img {
  max-width: 256px;
  max-height: 256px;
  border: 1px solid var(--mat-sys-neutral10);
  transform-origin: center;
}
