<app-profile></app-profile>
<mat-nav-list>
  <a
    *ngIf="deferredPrompt"
    mat-list-item
    href=""
    (click)="install()"
  >
    <mat-icon matListIcon>get_app</mat-icon>Installa l'app
  </a>
  <a
    mat-list-item
    routerLinkActive="active"
    routerLink="/home"
  >
    <mat-icon matListIcon>home</mat-icon>Home
  </a>
  <a
    *ngIf="loggedIn"
    mat-list-item
    routerLinkActive="active"
    [routerLink]="['teams', team?.id]"
  >
    <mat-icon
      svgIcon="team"
      matListIcon
    ></mat-icon>{{team?.name}}
  </a>
  <a
    *ngIf="loggedIn"
    mat-list-item
    routerLinkActive="active"
    [routerLink]="['championships', championship?.id]"
  >
    <mat-icon matListIcon>emoji_events</mat-icon>{{championship?.league?.name}}
  </a>
  <a
    mat-list-item
    routerLinkActive="active"
    routerLink="/clubs"
  >
    <mat-icon matListIcon>sports_soccer</mat-icon>Clubs
  </a>
  <mat-divider></mat-divider>
  <h3 mat-subheader>Account</h3>
  <ng-container *ngIf="loggedIn; else notLogged">
    <a
      mat-list-item
      routerLinkActive="active"
      routerLink="/user"
    >
      <mat-icon matListIcon>account_circle</mat-icon>Profilo
    </a>
    <a
      mat-list-item
      routerLinkActive="active"
      routerLink="/auth/logout"
    >
      <mat-icon matListIcon>exit_to_app</mat-icon>Log Out
    </a>
  </ng-container>
  <ng-template #notLogged>
    <a
      mat-list-item
      routerLinkActive="active"
      routerLink="/auth/login"
    >
      <mat-icon matListIcon>input</mat-icon>Log In
    </a>
  </ng-template>
</mat-nav-list>
