<div *ngIf="team" @enterDetailAnimation>
    <div class="animation-container">
        <fm-parallax-header [backgroundImage]="team.photo_url" [tabs]="tabs" [title]="team.name" [subtitle]="team.user.name + ' ' + team.user.surname + ' - '">
            <div parallax-header-right *ngIf="team.user.id == app.user.id">
                <button mat-icon-button (click)="openDialog()">
                    <mat-icon>settings</mat-icon>
                </button>
            </div>
        </fm-parallax-header>

        <router-outlet></router-outlet>
    </div>
</div>