@use '@angular/material' as mat;
@use '@angular/flex-layout/mq';

.circle .mat-icon {
  position: absolute;
  @include mat.elevation(4);

  padding: 2px;
  border-radius: 50%;
  cursor: help;
  font-size: 20px;
  width: 20px;
  height: 20px;

  &.number {
    font-size: 10px;
    line-height: 20px;
    font-weight: bold;
  }

  &:nth-child(1) {
    top: -6px;
    left: -6px;
    transform-origin: bottom right;
  }

  &:nth-child(2) {
    top: -6px;
    right: -6px;
    transform-origin: bottom left;
  }

  &:nth-child(3) {
    bottom: -6px;
    left: -6px;
    transform-origin: top right;
  }

  &:nth-child(4) {
    bottom: -6px;
    right: -6px;
    transform-origin: top left;
  }
}

:host-context(.mat-option) .mat-icon {
  line-height: 24px;
}
@include mq.layout-bp(gt-sm) {
  .circle .mat-icon {
    font-size: 32px;
    width: 32px;
    height: 32px;
    padding: 4px;

    &.number {
      font-size: 16px;
      line-height: 32px;
    }

    &:nth-child(1) {
      top: .33rem;
      left: 1rem;
    }

    &:nth-child(2) {
      top: .33rem;
      right: 1rem;
    }

    &:nth-child(3) {
      bottom: .33rem;
      left: 1rem;
    }

    &:nth-child(4) {
      bottom: .33rem;
      right: 1rem;
    }
  }
}
