<span
  *ngIf="member.likely_lineup as like"
  [ngClass]="{'circle':circle}"
>
  <mat-icon
    *ngIf="like.regular"
    matTooltip="Titolare"
  >
    verified_user
  </mat-icon>
  <span
    *ngIf="like.second_ballot"
    class="mat-icon number"
    [matTooltip]="'Ballottaggio ' + (like.second_ballot / 100 | percent)"
  >
    {{like.second_ballot / 100 | percent}}
  </span>
  <mat-icon
    *ngIf="!like.regular"
    matTooltip="Panchina"
  >
    event_seat
  </mat-icon>
  <mat-icon
    *ngIf="like.injured"
    matTooltip="Infortunato"
  >
    local_hospital
  </mat-icon>
  <mat-icon
    *ngIf="like.disqualified"
    matTooltip="Squalificato"
  >
    highlight_off
  </mat-icon>
  <mat-icon
    *ngIf="captain"
    matTooltip="Capitano"
  >
    copyright
  </mat-icon>
  <span
    class="mat-icon number"
    [matTooltip]="'Avversario ' + (like.versus | titlecase)"
  >
    {{like.versus | uppercase | slice: 0:3}}
  </span>
</span>
<ng-container *ngIf="!circle">
  {{member.player.full_name}}
</ng-container>
