@use '@angular/material' as mat;

:host-context(.mat-mdc-option) {
  :host {
    display: inline-flex;
    flex-direction: column;
  }

  .icon-container {
    display: inline-flex;
    font-size: small;
  }
}

.circle .mat-icon,
.circle > span {
  position: absolute;

  @include mat.elevation(4);

  padding: 2px;
  border-radius: 50%;
  cursor: help;
  font-size: 20px;
  width: 20px;
  height: 20px;

  &.number {
    font-size: 10px;
    line-height: 20px;
    font-weight: bold;
  }

  &:nth-child(1) {
    top: -6px;
    left: -6px;
    transform-origin: bottom right;
  }

  &:nth-child(2) {
    top: -6px;
    right: -6px;
    transform-origin: bottom left;
  }

  &:nth-child(3) {
    bottom: -6px;
    left: -6px;
    transform-origin: top right;
  }

  &:nth-child(4) {
    bottom: -6px;
    right: -6px;
    transform-origin: top left;
  }
}

:host-context(.mat-mdc-option) .mat-icon,
:host-context(.mat-mdc-option) > span {
  line-height: 1rem;
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}
:host-context(.mat-mdc-option) .icon-container > span {
  font-size: small;
}

@media (min-width: theme('screens.md')) {
  .circle .mat-icon,
  .circle > span {
    font-size: 32px;
    width: 32px;
    height: 32px;
    padding: 4px;

    &.number {
      font-size: 16px;
      line-height: 32px;
    }

    &:nth-child(1) {
      top: 0.33rem;
      left: 1rem;
    }

    &:nth-child(2) {
      top: 0.33rem;
      right: 1rem;
    }

    &:nth-child(3) {
      bottom: 0.33rem;
      left: 1rem;
    }

    &:nth-child(4) {
      bottom: 0.33rem;
      right: 1rem;
    }
  }
}
