@import '~@angular/material/theming';
@mixin fantamanajer-core($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  body,
  html {
    margin: 0;
    height: 100%;
  }

  .mat-text-accent {
    color: mat-color($accent);
  }

  .mat-text-primary {
    color: mat-color($primary);
  }

  ::selection {
    background: mat-color($accent);
    color: #fff;
  }

  img[src$='.svg'] {
    background-color: #fff;
  }

  .sticky {
    transition: top .2s ease-in;
  }

  router-outlet ~ * {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  body {
    font-family: Roboto, sans-serif;
  }

  .tabbed-container {
    min-height: calc(100vh - 400px);
  }

  .spacer {
    flex: 1 1 auto;
  }

  .hundred {
    height: 100%;
  }

  .mat-progress-spinner {
    margin: 3rem auto 5rem;
  }

  a {
    text-decoration: none;
    color: mat-color(map-get($theme, accent));
  }

  .red_card,
  .yellow_card {
    width: .75rem;
    height: 1rem;
    display: inline-block;
    @include mat-elevation(1);
  }

  .yellow_card {
    background-color: yellow;

  }

  .red_card {
    background-color: red;
  }

  .inherit-color {
    .mat-focused .mat-form-field-label,
    .mat-form-field-label,
    .mat-form-field.mat-focused .mat-select-arrow,
    .mat-select-arrow,
    .mat-select-value {
      color: inherit;
    }

    .mat-focused .mat-form-field-ripple,
    .mat-form-field-ripple,
    .mat-form-field-underline {
      background-color: currentColor;
    }
  }

  fm-main:not(:empty) + .pre-bootstrap {
    animation: leave-animation .5s forwards;
  }
  @keyframes leave-animation {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      z-index: -1;
      display: none !important;
    }
  }
}
