@mixin fantamanajer-form-theme($theme) {
  .mat-form-field.white {
    .mat-form-field-label {
      color: rgba(255, 255, 255, 0.87);
    }

    .mat-form-field-underline {
      background-color: rgba(255, 255, 255, 0.12);
    }

    mat-select {
      .mat-select,
      .mat-select-arrow,
      .mat-select-disabled .mat-select-value,
      .mat-select-trigger {
        color: rgba(255, 255, 255, 0.38);
      }

      .mat-select-value {
        color: rgba(255, 255, 255, 0.87);
      }
    }
  }
}
