@use '@angular/flex-layout/mq';

.role {
  width: 100%;
  padding-bottom: 1rem;
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
mat-select {
  min-width: 100%;
  display: inline-block !important;
}

h5 {
  padding-right: 1rem;

}

.role-container {
  margin: .5rem 0;

  h5 {
    top: 1rem;
    height: min-content;
    margin: 0;
    position: sticky;
  }
}

.mat-mdc-form-field {
  width: 100%;
}

.flex-container {
  margin: 0 1rem;
}

button {
  margin: 1rem auto;
}
@include mq.layout-bp(gt-xs) {
  .mat-mdc-form-field {
    min-width: 10rem;
    margin: 0 .5rem;
  }
}
