<div *ngIf="!app.seasonEnded; else seasonEnded">
  <div *ngIf="(lineup$ | async) as lineup; else loading">
    <form
      *ngIf="lineup.module || lineup.team.id === teamId; else notSet"
      #lineupForm="ngForm"
      [appMemberAlreadySelected]="lineup"
      class="flex-container"
      (ngSubmit)="save(lineup)"
    >
      <app-lineup-detail
        #lineupDetail
        [lineup]="lineup"
        [disabled]="!editMode"
        [benchs]="benchs"
      >
        <button
          *ngIf="editMode"
          buttons
          mat-button
          align="end"
          type="submit"
          color="accent"
        >Salva</button>
      </app-lineup-detail>
    </form>
    <ng-template #notSet>
      <h3 class="subheading-1">Formazione non settata</h3>
    </ng-template>
  </div>
</div>
<ng-template #loading>
  <mat-progress-spinner
    color="accent"
    mode="indeterminate"
  ></mat-progress-spinner>
</ng-template>
<ng-template #seasonEnded>
  <app-mat-empty-state
    description="Goditi l'estate e tieniti pronto per la prossima stagione"
    icon="wb_sunny"
    [rounded]="true"
    [label]="(app.matchday$ | async)?.season?.name + ' conclusa'"
  ></app-mat-empty-state>
</ng-template>
