<div *ngIf="team | async as team; else loading">
    <div>
        <fm-parallax-header [backgroundImage]="team.photo_url" [tabs]="tabs" [title]="team.name" [subtitle]="team.user.name + ' ' + team.user.surname + ' - '">
            <div parallax-header-right *ngIf="team.user.id == auth.user.id">
                <button mat-icon-button (click)="openDialog()"><mat-icon>settings</mat-icon></button>
            </div>
        </fm-parallax-header>
    </div>
    <router-outlet></router-outlet>
</div>
<ng-template #loading>
    <mat-progress-spinner color="accent" mode="indeterminate"></mat-progress-spinner>
</ng-template>