@if ((scores$ | async); as scores) {

<div class="flex-container">
  <mat-form-field>
    <mat-label>Giornata</mat-label>
    <mat-select
      #matchday
      name="score"
      placeholder="Giornata"
      (selectionChange)="getScore($event.value)"
    >
      @for (score of scores; track score.id) {
      <mat-option [value]="score">{{score.matchday.number}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  @if (matchday.value) {
  <div>
    @if ((score$ | async); as score) {
    <form
      #scoreForm="ngForm"
      class="flex-container"
      (ngSubmit)="save(score)"
    >
      <mat-card appearance="outlined">
        <mat-form-field>
          <mat-label>Punteggio</mat-label>
          <input
            matInput
            name="points"
            placeholder="Punteggio"
            required
            step="0.5"
            type="number"
            [(ngModel)]="score.points"
          >
        </mat-form-field>
        <mat-slide-toggle
          name="penality"
          [(ngModel)]="penality"
        >Penalità</mat-slide-toggle>
        @if (penality) {
        <div>
          <mat-form-field>
            <mat-label>Penalità</mat-label>
            <input
              matInput
              name="penality_points"
              placeholder="Penalità"
              step="0.5"
              type="number"
              [(ngModel)]="score.penality_points"
            >
          </mat-form-field>
          <mat-form-field>
            <mat-label>Motivazione penalità</mat-label>
            <input
              matInput
              name="penality"
              placeholder="Motivazione penalità"
              [(ngModel)]="score.penality"
            >
          </mat-form-field>
        </div>
        }
      </mat-card>
      <h4>Formazione</h4>
      <app-lineup-detail
        [benchs]="9"
        [lineup]="score.lineup"
      >
        <button
          buttons
          color="accent"
          mat-flat-button
          type="submit"
        >Salva</button>
      </app-lineup-detail>
    </form>
    } @else {

    <mat-progress-spinner
      color="accent"
      mode="indeterminate"
    />

    }
  </div>
  }
</div>

} @else {

<mat-progress-spinner
  color="accent"
  mode="indeterminate"
/>

}