<div class="flex-container" *ngIf="scores | async as _scores; else loading">
  <mat-form-field>
    <mat-label>Giornata</mat-label>
    <mat-select #matchday [(ngModel)]="selectedScore" name="score" placeholder="Giornata"
      (selectionChange)="getScore($event)">
      <mat-option *ngFor="let score of _scores; trackBy: track" [value]="score">{{score.matchday.number}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="selectedScore">
    <form #scoreForm="ngForm" (ngSubmit)="save(_score)" class="flex-container"
      *ngIf="score | async as _score; else loading">
      <mat-form-field>
        <mat-label>Punteggio</mat-label>
        <input matInput type="number" step="0.5" required [(ngModel)]="_score.points" name="points"
          placeholder="Punteggio">
      </mat-form-field>
      <mat-slide-toggle [(ngModel)]="penality" name="penality">Penalità</mat-slide-toggle>
      <div *ngIf="penality">
        <mat-form-field>
          <mat-label>Penalità</mat-label>
          <input matInput type="number" step="0.5" [(ngModel)]="_score.penality_points" name="penality_points"
            placeholder="Penalità">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Motivazione penalità</mat-label>
          <input matInput [(ngModel)]="_score.penality" name="penality" placeholder="Motivazione penalità">
        </mat-form-field>
      </div>
      <h4>Formazione</h4>
      <fm-lineup-detail [lineup]="_score.lineup"></fm-lineup-detail>
      <button color="accent" mat-raised-button type="submit">Salva</button>
    </form>
  </div>
</div>
<ng-template #loading>
  <mat-progress-spinner color="accent" mode="indeterminate"></mat-progress-spinner>
</ng-template>
