<div class="parallax-container">
    <div class="parallax">
        <div class="parallax-header-img mat-elevation-z2">
            <div fmRellax [center]="true">
                <img sizes="(max-width: {{width}}px) 100vw, {{width}}px" [srcset]="srcset" [src]="backgroundImage || '//placehold.it/1200x800'"
                    [alt]="title">
            </div>
        </div>
        <div class="parallax-header-title-container">
            <img *ngIf="image" [src]="image">
            <div class="parallax-header-title">
                <h1 class="mat-display-1 title">{{title}}</h1>
                <div class="subtitle">
                    <p *ngIf="subtitle" class="mat-body-2">{{subtitle}}
                        <ng-content select="subtitle"></ng-content>
                    </p>
                </div>
            </div>
            <ng-content class="parallax-header-right" select="[parallax-header-right]"></ng-content>
        </div>
    </div>
    <mat-tab-group #tabGroup *ngIf="tabs.length">
        <mat-tab *ngFor="let tab of tabs">
            <ng-template mat-tab-label>
                <a class="mat-tab-link" [routerLink]="tab.link" routerLinkActive #rla="routerLinkActive" isActive="rla.isActive" [ngClass]="{'mat-tab-label-active':rla.isActive}">{{tab.label}}</a>
            </ng-template>
        </mat-tab>
    </mat-tab-group>

</div>