<div *ngIf="articles | async as articles; else loading" class="flex-container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center"
    fxLayoutAlign.xs="start" @cardCreationAnimation>
    <mat-card [id]="article.id" fxFlex.gt-sm="45" fxFlex.xs="100" *ngFor="let article of articles; let i=index">
        <mat-card-header>
            <mat-card-title>{{article.title}}</mat-card-title>
            <mat-card-subtitle>{{article.created_at | date: 'dd/MM/y HH:mm'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{article.body}}</p>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="end">
            <a mat-button [routerLink]="['/articles',article.id]">EDIT</a>
            <button mat-button (click)="delete(article.id)">DELETE</button>
        </mat-card-actions>
    </mat-card>
    <h3 class="subheading-1" *ngIf="articles.length == 0">Nessun articolo presente</h3>
</div>
<ng-template #loading>
    <mat-progress-spinner color="accent" mode="indeterminate"></mat-progress-spinner>
</ng-template>