<div *ngIf="club | async as club; else loading">
    <div @enterDetailAnimation>
        <div class="animation-container">
            <fm-parallax-header [backgroundImage]="club.background_url" [image]="club.photo_url" [title]="club.name"
                [tabs]="tabs"></fm-parallax-header>
        </div>
    </div>
    <div [@tabTransition]="getState(o)">
        <router-outlet #o="outlet"></router-outlet>
    </div>
</div>
<ng-template #loading>
    <mat-progress-spinner color="accent" mode="indeterminate"></mat-progress-spinner>
</ng-template>