<div
  class="mat-mdc-dialog-container mdc-dialog cdk-dialog-container mdc-dialog--open"
  [@openOverlayAnimation]="animationState"
>
  <div class="mdc-dialog__container">
    <div class="mat-mdc-dialog-surface mdc-dialog__surface">
      <h3
        class="mat-mdc-dialog-title title"
        mat-dialog-title
      >
        Notifiche
      </h3>
      <div
        cdkScrollable
        class="content mat-mdc-dialog-content"
      >
        @if (stream | async; as _stream) { @if (_stream.results.length) {
        <mat-list @listItemAnimation>
          @for (activity of _stream.results; track $index) {
          <mat-list-item>
            <mat-icon matListItemIcon>{{ activity.icon }}</mat-icon>
            <h3 matListItemTitle>{{ activity.title }}</h3>
            <span
              matListItemLine
              [title]="(activity.time | date: 'dd/MM/y HH:mm')"
            >
              {{ activity.humanTime }}
            </span>
            <span matListItemLine>{{ activity.body }}</span>
          </mat-list-item>
          }
        </mat-list>
        } @else {

        <app-mat-empty-state
          icon="mood"
          label="Nessuna notifica presente"
        />

        } } @else {

        <mat-progress-spinner
          color="accent"
          mode="indeterminate"
        />

        }
      </div>
    </div>
  </div>
</div>
