.speed-dial {
  will-change: transform;
  position: absolute;
  top: calc(-100% + 0.5rem);
  right: 1rem;
  z-index: 1;
  transform-origin: right bottom;
}

@media (min-width: theme('screens.lg')) {
  .speed-dial {
    display: none;
  }
}
