@import '~@angular/flex-layout/mq';
@include layout-bp(gt-md) {
  :host {
    width: calc(100% - 15rem);
  }
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 102;
}

app-breadcrumb {
  flex: 10 1 auto;
  overflow: hidden;
}
