<div class="mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
        <ng-container cdkColumnDef="old_member">
            <mat-header-cell *cdkHeaderCellDef> Vecchio giocatore </mat-header-cell>
            <mat-cell *cdkCellDef="let row">
                <a [routerLink]="['/players', row.old_member.player.id]">{{row.old_member.player.name}} {{row.old_member.player.surname}}</a>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="new_member">
            <mat-header-cell *cdkHeaderCellDef> Nuovo giocatore </mat-header-cell>
            <mat-cell *cdkCellDef="let row">
                <a [routerLink]="['/players', row.new_member.player.id]">{{row.new_member.player.name}} {{row.new_member.player.surname}}</a>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="contraint">
            <mat-header-cell *cdkHeaderCellDef> Obbligato </mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.constraint}} </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="matchday">
            <mat-header-cell *cdkHeaderCellDef> Giornata </mat-header-cell>
            <mat-cell *cdkCellDef="let row">{{row.matchday.number}}</mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
<h3>Selezione giocatori</h3>
<fm-selection></fm-selection>