@use 'sass:map';
@use '@angular/material' as mat;
@mixin core() {
  app-login {
    .mat-horizontal-stepper-header-container {
      display: none !important;
    }

    .mat-horizontal-content-container {
      padding-bottom: 0 !important;
    }
  }
}
@mixin color($theme) {
  $primary: map.get($theme, primary);
  $foreground: map.get($theme, foreground);

  app-login {
    .mat-card-title,
    .mat-icon {
      color: mat.get-color-from-palette($foreground, 'icon');
    }
  }
}
@mixin theme($theme) {
   @include core();
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
     @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
     @include typography($theme);
  }
}
