<div
  @cardCreationAnimation
  class="flex-container"
  fxLayout="column wrap"
  fxLayoutAlign="space-around center"
>
  <form
    #f="ngForm"
    (ngSubmit)="f.form.valid && login()"
  >
    <mat-card>
      <mat-card-header>
        <mat-icon>account_circle</mat-icon>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-horizontal-stepper
          #stepper
          [linear]="true"
        >
          <mat-step>

            <mat-form-field>
              <mat-label>Email</mat-label>
              <input
                #username="ngModel"
                autofocus
                required
                name="email"
                type="email"
                placeholder="Email"
                autocomplete="username"
                matInput
                [(ngModel)]="loginData.email"
              >
              <mat-error *ngIf="username.errors?.email">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="username.errors?.required">
                Email is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <div fxLayoutAlign="end end">
              <button
                type="button"
                color="accent"
                mat-raised-button
                matStepperNext
                [disabled]="username.errors !== null"
                (click)="checkToken()"
              >Avanti</button>
            </div>
          </mat-step>
          <mat-step>
            <h3>{{loginData.email}}</h3>
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input
                #password="ngModel"
                name="password"
                type="password"
                placeholder="Password"
                autocomplete="current-password"
                matInput
                required
                [(ngModel)]="loginData.password"
              >
            </mat-form-field>

            <mat-checkbox
              name="remember_me"
              [(ngModel)]="loginData.remember_me"
            >Ricordami</mat-checkbox>
            <div
              class="actions"
              fxLayout="row"
              fxLayoutAlign="end"
            >
              <ng-container *ngIf="(token$ | async) as token;">
                <button
                  color="accent"
                  mat-raised-button
                  type="button"
                  (click)="tokenLogin(token)"
                >Accedi tramite token</button>
              </ng-container>
              <button
                color="accent"
                mat-raised-button
              >Accedi</button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </mat-card-content>
    </mat-card>
  </form>
</div>
