.mat-card {
  max-width: 30rem;
  margin: 1rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  min-width: 24rem;
  font-size: 16px;

  mat-form-field {
    width: 100%;
  }
}

.mat-card-header {
  flex-direction: column-reverse;
}

.mat-icon {
  font-size: 96px;
  height: 96px;
  width: 96px;
  display: block;
  margin: 0 auto;
}

.mat-card-title {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.actions {
  margin-top: 1rem;
}
