<div
  @cardCreationAnimation
  class="flex-container"
  fxLayout="column wrap"
  fxLayoutAlign="space-around center"
>
  <mat-card>
    <mat-card-header>
      <mat-icon>account_circle</mat-icon>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-horizontal-stepper
        #stepper
        [linear]="true"
      >
        <mat-step>
          <form
            #userForm="ngForm"
            (ngSubmit)="checkToken()"
          >
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input
                #username="ngModel"
                required
                name="email"
                type="email"
                placeholder="Email"
                autocomplete="username"
                matInput
                cdkFocusInitial
                [(ngModel)]="loginData.email"
              >
              <mat-error *ngIf="username.errors?.email">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="username.errors?.required">
                Email is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <div fxLayoutAlign="end end">
              <button
                color="accent"
                mat-raised-button
                [disabled]="username.errors !== null"
              >Avanti</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <form
            #f="ngForm"
            (ngSubmit)="f.valid && login()"
          >
            <input
              class="mat-h3"
              readonly
              required
              name="email"
              type="email"
              autocomplete="username"
              [(ngModel)]="loginData.email"
            >
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input
                #password="ngModel"
                name="password"
                type="password"
                placeholder="Password"
                autocomplete="current-password"
                matInput
                required
                [(ngModel)]="loginData.password"
              >
              <mat-error *ngIf="password.errors">
                {{password.errors.msg}}
              </mat-error>
            </mat-form-field>

            <mat-checkbox
              name="remember_me"
              [(ngModel)]="loginData.rememberMe"
            >Ricordami</mat-checkbox>
            <div
              class="actions"
              fxLayout="row"
              fxLayoutAlign="space-between"
            >
              <button
                color="accent"
                mat-raised-button
                matStepperPrevious
                (click)="f.reset()"
              >Cambia account</button>
              <button
                color="accent"
                mat-raised-button
              >Accedi</button>
            </div>
          </form>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card-content>
  </mat-card>
</div>
