<div
  class="login flex flex-col flex-wrap justify-around items-center"
  @cardCreationAnimation
>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-icon>account_circle</mat-icon>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-horizontal-stepper
        #stepper
        linear
      >
        <mat-step>
          <form #userForm="ngForm">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input
                #username="ngModel"
                autocomplete="username webauthn"
                cdkFocusInitial
                matInput
                name="email"
                placeholder="Email"
                required
                type="email"
                [(ngModel)]="loginData.email"
              >
              @if (username.errors?.['email']) {
              <mat-error>
                Please enter a valid email address
              </mat-error>
              }
              @if (username.errors?.['required']) {
              <mat-error>
                Email is
                <strong>required</strong>
              </mat-error>
              }
            </mat-form-field>
            <div class="items-end align-end">
              <button
                color="accent"
                mat-flat-button
                matStepperNext
                type="submit"
                [disabled]="username.errors !== null"
              >Avanti</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <form
            #f="ngForm"
            (ngSubmit)="f.valid && login()"
          >
            <input
              placeholder="Email"
              autocomplete="username"
              class="username"
              name="email"
              readonly
              required
              type="email"
              [(ngModel)]="loginData.email"
            >
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input
                #password="ngModel"
                autocomplete="current-password webauthn"
                matInput
                name="password"
                placeholder="Password"
                required
                type="password"
                [(ngModel)]="loginData.password"
              >
              @if (password.errors) {
              <mat-error>
                {{password.errors['msg']}}
              </mat-error>
              }
            </mat-form-field>

            <div class="actions flex flex-row justify-between">
              <button
                color="accent"
                mat-flat-button
                matStepperPrevious
                type="reset"
                (click)="reset()"
              >Cambia account</button>
              <button
                color="accent"
                mat-flat-button
                type="submit"
              >Accedi</button>
            </div>
          </form>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card-content>
  </mat-card>
</div>