@use 'sass:map';
@use '@angular/material' as mat;

@mixin base($theme) {
  .login {
    .mat-horizontal-stepper-header-container {
      display: none !important;
    }

    .mat-horizontal-content-container {
      padding-bottom: 0 !important;
    }
  }
}

@mixin color($theme) {
  .login {
    .mat-icon {
      color: mat.get-theme-color($theme, primary);
    }

    --mat-stepper-container-color: transparent;
  }
}

@mixin density($theme) {
}

@mixin typography($theme) {
}

@mixin theme($theme) {
  @include mat.private-check-duplicate-theme-styles($theme, 'login') {
    @include base($theme);

    @include color($theme);
    @include density($theme);
    @include typography($theme);
  }
}
