@use "@angular/material" as mat;
@use "@angular/flex-layout/mq";
@mixin core() {
  .mat-mdc-card {
    margin: 1rem;
  }
  @include mq.layout-bp(gt-md) {
    .mat-mdc-card {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
@mixin color($theme) {}
@mixin theme($theme) {
   @include core;

  $color-config: mat.get-color-config($theme);
  @if $color-config {
     @include color($theme);
  }
}
