@use "@angular/material" as mat;
@use "@angular/flex-layout/mq";
@mixin core() {
  .mat-card {
    margin: 1rem;
  }

  .mat-card-header-text {
    overflow: hidden;
  }
  @include mq.layout-bp(gt-md) {
    .mat-card {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
@mixin color($theme) {
}
@mixin theme($theme) {
  @include core;

  $color-config: mat.get-color-config($theme);
  @if $color-config {
    @include color($theme);
  }
}
