@import '@angular/flex-layout/mq';
@mixin fantamanajer-card-theme($theme) {
  .mat-card {
    margin: 1rem;
  }

  .mat-card-header-text {
    overflow: hidden;
  }
  @include layout-bp(gt-md) {
    .mat-card {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
