@use '~@angular/material' as mat;
@import '~@angular/material/theming';
@mixin fantamanajer-core($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  body,
  html {
    margin: 0;
    height: 100%;
    font-family: Roboto, sans-serif;
  }

  fieldset {
    margin: 0;
    padding: 0;
    border: 0;
  }

  .mat-text-accent {
    color: mat.get-color-from-palette($accent);
  }

  .mat-text-primary {
    color: mat.get-color-from-palette($primary);
  }

  ::selection {
    background: mat.get-color-from-palette($accent);
    color: mat.get-color-from-palette($accent, default-contrast);
  }

  .sticky {
    transition: top .2s ease-in;
  }

  router-outlet ~ * {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .tabbed-container {
    min-height: calc(100vh - 400px);
  }

  .spacer {
    flex: 1 1 auto;
  }

  .mat-progress-spinner {
    margin: 3rem auto 5rem;
  }

  a {
    text-decoration: none;
  }

  .red_card,
  .yellow_card {
    width: .75rem;
    height: 1rem;
    display: inline-block;
    @include mat.elevation(1);
  }

  .yellow_card {
    background-color: yellow;

  }

  .red_card {
    background-color: red;
  }

  app-main:not(:empty) + .pre-bootstrap {
    background-color: transparent;
    animation: leave-animation .2s ease-in-out forwards;
  }
  @keyframes leave-animation {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      transform: scale(0);
      display: none !important;
    }
  }
}
