@import '~@angular/material/theming';
@import './core';
@import './card';
@import './table';
@import './form';
@import 'app/layout/layout';
@import 'app/modules/auth/pages/login/login';
@import 'app/modules/lineup-common/components/lineup-detail/lineup-detail';
@import 'app/modules/member-common/components/member-selection/member-selection';
@import 'app/shared/components/mat-empty-state/mat-empty-state';
@mixin fantamanajer-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  @include angular-material-theme($theme);
  @include fantamanajer-core($theme);
  @include fantamanajer-form-theme($theme);
  @include fantamanajer-card-theme($theme);
  @include table-extended-theme($theme);
  @include layout-theme($theme);
  @include login-theme($theme);
  @include mat-empty-state-theme($theme);
  @include member-selection-theme($theme);
  @include lineup-detail-theme($theme);
}
