@use '@angular/material' as mat;
@mixin core() {
  .inherit-color {
    .mat-focused .mat-form-field-label,
    .mat-form-field-label,
    .mat-form-field.mat-focused .mat-select-arrow,
    .mat-select-arrow,
    .mat-select-value {
      color: inherit;
    }

    .mat-focused .mat-form-field-ripple,
    .mat-form-field-ripple,
    .mat-form-field-underline {
      background-color: currentColor;
    }
  }
}
@mixin color($theme) {}
@mixin theme($theme) {
   @include core();
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
     @include color($theme);
  }
}
