/* Variables */
:root {
  --scrollbar-size: 0.375rem;
  --scrollbar-minlength: 1.5rem;

  /* Minimum length of scrollbar thumb (width of horizontal, height of vertical) */
  --scrollbar-ff-width: thin;

  /* FF-only accepts auto, thin, none */
  --scrollbar-track-color: transparent;
  --scrollbar-color: rgb(0 0 0 / 20%);
  --scrollbar-color-hover: rgb(0 0 0 / 30%);
  --scrollbar-color-active: rgb(0 0 0);
}

/* Use .layout-scrollbar-obtrusive to only use overflow if scrollbars don’t overlay */

.mat-select-panel,
.mat-sidenav > div,
.mat-sidenav-content,
.scrollbar-test {
  overscroll-behavior: contain;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-width: var(--scrollbar-ff-width);
}

/* This class controls what elements have the new fancy scrollbar CSS */

.mat-select-panel,
.mat-sidenav > div,
.mat-sidenav-content {
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-track-color);
  overflow-y: overlay !important;

  &::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 3px;

    &:hover {
      background-color: var(--scrollbar-color-hover);
    }

    &:active {
      background-color: var(--scrollbar-color-active);
    }

    /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
    &:vertical {
      min-height: var(--scrollbar-minlength);
    }
  }
}

/* Only apply height/width to ::-webkit-scrollbar if is obtrusive */

.layout-scrollbar-obtrusive {
  .mat-select-panel::-webkit-scrollbar,
  .mat-sidenav > div::-webkit-scrollbar,
  .mat-sidenav-content::-webkit-scrollbar {
    height: var(--scrollbar-size);
    width: var(--scrollbar-size);
  }
}

.mat-select-panel::-webkit-scrollbar-thumb:vertical,
.mat-sidenav > div::-webkit-scrollbar-thumb:vertical,
.mat-sidenav-content::-webkit-scrollbar-thumb:vertical,
.scrollbar-test::-webkit-scrollbar-thumb:vertical {
  min-height: var(--scrollbar-minlength);
}

.mat-select-panel::-webkit-scrollbar-thumb:horizontal,
.mat-sidenav > div::-webkit-scrollbar-thumb:horizontal,
.mat-sidenav-content::-webkit-scrollbar-thumb:horizontal,
.scrollbar-test::-webkit-scrollbar-thumb:horizontal {
  min-width: var(--scrollbar-minlength);
}
