@use '@angular/material' as mat;
@use './partials/material';
@use './partials/styles';
@use './partials/card';
@use './partials/table';
@use './partials/toolbar';
@use './partials/form';

@mixin core() {
  @include material.core;
  @include styles.core;
  @include form.core;
  @include card.core;
  @include table.core;
  @include toolbar.core;
}

@mixin density($theme) {
  @include material.density($theme);
  @include styles.density($theme);
  @include form.density($theme);
  @include card.density($theme);
  @include table.density($theme);
  @include toolbar.density($theme);
}

@mixin typography($theme) {
  @include material.typography($theme);
  @include styles.typography($theme);
  @include form.typography($theme);
  @include card.typography($theme);
  @include table.typography($theme);
  @include toolbar.typography($theme);
}

@mixin color($theme) {
  @include material.color($theme);
  @include styles.color($theme);
  @include form.color($theme);
  @include card.color($theme);
  @include table.color($theme);
  @include toolbar.color($theme);
}

@mixin theme($theme) {
  @include core;

  @include mat.private-check-duplicate-theme-styles($theme, 'main') {
    $color: mat.get-color-config($theme);
    $density: mat.get-density-config($theme);
    $typography: mat.get-typography-config($theme);

    @if $color {
      @include color($color);
    }

    @if $density {
      @include density($density);
    }

    @if $typography {
      @include typography($typography);
    }
  }
}
