<h1 mat-dialog-title>{{data.team.name}}</h1>
<div mat-dialog-content>
  <div *ngIf="app.matchday.number <= 3">
    <mat-form-field>
      <mat-label>Nome squadra</mat-label>
      <input matInput required [(ngModel)]="team.name" name="name" placeholder="Nome">
    </mat-form-field>
  </div>

  <div ngfDrop class="my-drop-zone" [selectable]="true" ngfDrop [(file)]="file" accept="image/*"
    [(validDrag)]="validComboDrag" [(invalidDrag)]="invalidComboDrag"
    [ngClass]="{'good-file-over':validComboDrag, 'bad-file-over':invalidComboDrag}">
    <p>Clicca o trascina il file quì per caricare l'immagine</p>
    <div *ngIf="file" @createBox>
      <img alt="uploadImage" [ngfSrc]="file" />
    </div>
  </div>
  <div>
    <fm-notification-subscription type="email" label="Notifiche tramite email"
      [(subscriptions)]="team.email_notification_subscriptions" [team]="team"></fm-notification-subscription>
    <fm-notification-subscription type="push" label="Notifiche push"
      [(subscriptions)]="team.push_notification_subscriptions" [team]="team"></fm-notification-subscription>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="save()" tabindex="2">SALVA</button>
  <button mat-button (click)="cancel()" tabindex="-1">ANNULLA</button>
</div>
