<div class="flex-container"
     fxLayout="row wrap"
     fxLayout.xs="column"
	 fxLayoutGap="3em"
	 fxLayoutGap.xs="1em"
     fxLayoutAlign="center center"
     fxLayoutAlign.xs="start">
		<md-card fxFlex.gt-sm="30" fxFlex.sm="45" fxFlex.xs="100" *ngFor="let article of articles; let i=index">
			<md-card-header>
				<md-card-title>{{article.title}}</md-card-title>
				<md-card-subtitle>{{article.subtitle}}{{article.created_at}}</md-card-subtitle>
			</md-card-header>
			<md-card-content>
				<p>{{article.body}}</p>
			</md-card-content>
			<md-card-actions fxLayoutAlign="end">
				<a md-button [routerLink]="['/articles',article.id]">EDIT</a>
				<button md-button (click)="delete(i)">DELETE</button>
			</md-card-actions>
		</md-card>
</div>
