<h1 md-dialog-title>
    Articolo</h1>
<div md-dialog-content>
    <form *ngIf="article">
        <md-input-container>
            <input mdInput [(ngModel)]="article.title" name="title" placeholder="Titolo">
        </md-input-container>

        <md-input-container>
            <input mdInput [(ngModel)]="article.subtitle" name="subTitle" placeholder="Sotto titolo">
        </md-input-container>

        <md-input-container>
            <textarea mdInput [(ngModel)]="article.body" name="body" placeholder="Testo"></textarea>
        </md-input-container>
    </form>
</div>
<div md-dialog-actions>
    <button color="accent" md-raised-button (click)="save()">Salva</button>
    <button md-raised-button (click)="cancel()">annulla</button>
</div>