<div *ngIf="passkeys$ | async as passkeys; else loading">
  <mat-list *ngIf="passkeys.length; else empty">
    <mat-list-item *ngFor="let passkey of passkeys; trackBy:trackPasskey">
      <mat-icon matListItemIcon>passkey</mat-icon>
      <span matListItemTitle>{{passkey.name}}</span>
      <span matListItemLine>{{passkey.created_at | date: 'dd/MM/y HH:mm'}}</span>
      <div matListItemMeta>
        <button
          mat-icon-button
          type="button"
          (click)="unregister(passkey)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-list>
</div>
<ng-template #empty>
  <app-mat-empty-state
    icon="passkey"
    label="Nessuna passkey registrata"
    [rounded]="true"
    [size]="330"
  />
</ng-template>
<ng-template #loading>
  <mat-progress-spinner
    color="accent"
    mode="indeterminate"
  />
</ng-template>
<div *ngIf="isSupported$ | async">
  <p>Passkeys are a password replacement that validates your identity using touch, facial recognition, a device
    password, or a PIN.</p>
  <button
    color="accent"
    mat-raised-button
    type="button"
    (click)="register()"
  >
    Registra passkey
  </button>
</div>