<div *ngIf="dataSource; else loading">
  <div
    *ngIf="dataSource.data.length; else empty"
    class="table-container mat-elevation-z1"
  >
    <table
      @tableRowAnimation
      #table
      mat-table
      matSort
      [dataSource]="dataSource"
    >
      <ng-container matColumnDef="name">
        <th
          *matHeaderCellDef
          mat-header-cell
          mat-sort-header
        > Nome </th>
        <td
          *matCellDef="let row;"
          mat-cell
        >
          {{row.name}}
        </td>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <th
          *matHeaderCellDef
          mat-header-cell
          mat-sort-header
        > Creato il </th>
        <td
          *matCellDef="let row;"
          mat-cell
        >
          {{row.created_at | date: 'dd/MM/y HH:mm'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="counter">
        <th
          *matHeaderCellDef
          mat-header-cell
        > Utilizzi </th>
        <td
          *matCellDef="let row;"
          mat-cell
        >
          {{row.counter}}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th
          *matHeaderCellDef
          mat-header-cell
        > </th>
        <td
          *matCellDef="let row;"
          mat-cell
        >
          <button
            color="accent"
            mat-raised-button
            (click)="unregister(row)"
          >Elimina</button>
        </td>
      </ng-container>

      <tr
        *matHeaderRowDef="displayedColumns; sticky: true"
        mat-header-row
      ></tr>
      <tr
        *matRowDef="let row; columns: displayedColumns;"
        mat-row
      ></tr>
    </table>
  </div>
  <p>Web Authentication is a new standard enabling the creation and use of strong, attested, scoped, public key-based
    credentials by web applications, for the purpose of strongly authenticating users using hardware authenticators.</p>
  <button
    color="accent"
    mat-raised-button
    (click)="register()"
  >
    Registra device
  </button>
</div>
<ng-template #empty>
  <app-mat-empty-state
    label="Nessun device registrato"
    icon="swap_vert"
    [rounded]="true"
    [size]="330"
  >
  </app-mat-empty-state>
</ng-template>
<ng-template #loading>
  <mat-progress-spinner
    color="accent"
    mode="indeterminate"
  ></mat-progress-spinner>
</ng-template>
