<mat-sidenav-container>
  <mat-sidenav
    #drawer
    fixedInViewport="true"
    [opened]="(isOpen | async)"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  >
    <fm-navbar></fm-navbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <fm-toolbar
      #toolbar
      [showDrawerButton]="(isHandset$ | async) || false"
      [state]="(showedToolbar$ | async)"
    ></fm-toolbar>
    <main [@contextChange]="o | state">
      <router-outlet #o="outlet"></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
<fm-speed-dial
  #speedDial
  class="speed-dial"
  [@closeAnimation]="(showedSpeedDial$ | async)"
></fm-speed-dial>
