<mat-sidenav-container class="hundred a">
  <mat-toolbar color="primary" class="mat-toolbar-primary mat-elevation-z4">
    <button fxHide.gt-sm mat-icon-button (click)="nav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <fm-breadcrumb></fm-breadcrumb>
    <span class="spacer"></span>
    <fm-notification-list *ngIf="auth.loggedIn()"></fm-notification-list>
  </mat-toolbar>
  <mat-sidenav #nav [opened]="media.isActive('gt-sm')" [mode]="media.isActive('xs') || media.isActive('sm') ? 'over' : 'side'"
    class="mat-elevation-z6">
    <fm-navbar></fm-navbar>
  </mat-sidenav>
  <main class="container">

    <router-outlet></router-outlet>
  </main>
</mat-sidenav-container>
<fm-speed-dial></fm-speed-dial>