.mat-sidenav {
  width: 340px;
  max-width: calc(100% - 54px);
}

main {
  max-width: 100%;
  width: 100%;
  height: max-content;
  padding-bottom: 1rem;
}

.mat-sidenav-content {
  display: flex;
  height: 100%;
  padding-top: 4rem;
  height: calc(100% - 4rem) !important;
}
@media (max-width: 600px) {
  .mat-sidenav-content {
    padding-top: 3.5rem;
    height: calc(100% - 3.5rem) !important;
  }
}
@media (min-width: 600px) {
  .container {
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
  }

  .mat-sidenav {
    width: 15rem !important;
  }

}
