.spacer {
  flex: 1 1 auto;
}

fm-breadcrumb {
  flex: 10 1 auto;
  overflow: hidden;
}

.hundred {
  height: 100%;
}

.mat-sidenav {
  width: 340px;
  max-width: calc(100% - 54px);
}

.mat-toolbar {
  z-index: 200;
}
@media (min-width: 600px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
  }

  .mat-sidenav {
    width: 15rem !important;
  }

}
@media (min-width: 960px) {
  .mat-toolbar {
    width: calc(100% - 15rem);
  }
}
