<mat-sidenav-container class="hundred">
  <mat-sidenav #nav [opened]="media.isActive('gt-sm')" [mode]="media.isActive('lt-md') ? 'over' : 'side'" class="mat-elevation-z6">
    <fm-navbar></fm-navbar>
  </mat-sidenav>
  <mat-sidenav-content #scrollable cdkScrollable>
    <fm-toolbar #toolbar [@scrollUpAnimation]="scrollDirection"></fm-toolbar>
    <main class="container">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
<fm-speed-dial #speedDial class="speed-dial" [@scrollDownAnimation]="scrollDirection"></fm-speed-dial>