@if (stream$ | async; as stream) {
  <div
    *appSeasonActive
    @createBox
  >
    <button
      #button
      aria-label="open"
      mat-icon-button
      type="button"
    >
      <mat-icon
        aria-hidden="false"
        matBadgeColor="accent"
        matBadgeOverlap="true"
        matBadgePosition="above after"
        matBadgeSize="small"
        [matBadge]="(stream.unseen | number: '1.0-0') ?? ''"
        [matBadgeHidden]="stream.unseen === 0"
        >notifications</mat-icon
      >
      @defer (on interaction(button)) {
        <app-notification-list
          #notificationList
          [origin]="buttonRef()"
        />
      }
    </button>
  </div>
}
