@import '~@angular/material/theming';
@import './partials/core';
@import './partials/card';
@import './partials/table';
@import './partials/form';
@import '../layout/layout';
@import '../components/mat-empty-state/mat-empty-state';
@import '../../modules/auth/pages/login/login';
@import '../../modules/lineup/components/lineup-detail/lineup-detail';
@import '../../modules/member-common/components/member-selection/member-selection';
@import '../../modules/notification/modals/notification-overlay/notification-overlay';
@mixin fantamanajer-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  @include angular-material-theme($theme);
  @include fantamanajer-core($theme);
  @include fantamanajer-form-theme($theme);
  @include fantamanajer-card-theme($theme);
  @include table-extended-theme($theme);
  @include layout-theme($theme);
  @include login-theme($theme);
  @include mat-empty-state-theme($theme);
  @include member-selection-theme($theme);
  @include lineup-detail-theme($theme);
  @include notification-overlay-theme($theme);
}
