<div *ngIf="dataSource; else loading">
    <div class="mat-elevation-z8" *ngIf="dataSource.data.length; else empty">
        <table mat-table #table [dataSource]="dataSource" @tableRowAnimation matSort>
            <ng-container matColumnDef="old_member">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Vecchio giocatore </th>
                <td mat-cell *matCellDef="let row">
                    <a [routerLink]="['/players', row.old_member.player.id]">{{row.old_member.player.name}}
                        {{row.old_member.player.surname}}</a>
                </td>
            </ng-container>

            <ng-container matColumnDef="new_member">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nuovo giocatore </th>
                <td mat-cell *matCellDef="let row">
                    <a [routerLink]="['/players', row.new_member.player.id]">{{row.new_member.player.name}}
                        {{row.new_member.player.surname}}</a>
                </td>
            </ng-container>

            <ng-container matColumnDef="constraint">
                <th mat-header-cell *matHeaderCellDef> Obbligato </th>
                <td mat-cell *matCellDef="let row">
                    <mat-icon *ngIf="row.constrained">done</mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="matchday">
                <th mat-header-cell *matHeaderCellDef> Giornata </th>
                <td mat-cell *matCellDef="let row">{{row.matchday.number}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
<ng-template #empty>
    <fm-mat-empty-state [rounded]="true" [size]="330" label="Nessun trasferimento presente" icon="swap_vert"></fm-mat-empty-state>
</ng-template>
<ng-template #loading>
    <mat-progress-spinner color="accent" mode="indeterminate"></mat-progress-spinner>
</ng-template>
<div *ngIf="app.team.id == teamId && !app.seasonEnded">
    <h3>Selezione giocatori</h3>
    <fm-selection></fm-selection>
</div>