<div class="mat-elevation-z8" *ngIf="dataSource.data.length; else loading">
    <mat-table #table [dataSource]="dataSource" @tableRowAnimation matSort>
        <ng-container matColumnDef="old_member">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Vecchio giocatore </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <a [routerLink]="['/players', row.old_member.player.id]">{{row.old_member.player.name}} {{row.old_member.player.surname}}</a>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="new_member">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nuovo giocatore </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <a [routerLink]="['/players', row.new_member.player.id]">{{row.new_member.player.name}} {{row.new_member.player.surname}}</a>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="constraint">
            <mat-header-cell *matHeaderCellDef> Obbligato </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.constraint}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="matchday">
            <mat-header-cell *matHeaderCellDef> Giornata </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.matchday.number}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
<ng-template #loading>
    <mat-progress-spinner color="accent" mode="indeterminate"></mat-progress-spinner>
</ng-template>
<div *ngIf="app.team.id == teamId">
    <h3>Selezione giocatori</h3>
    <fm-selection></fm-selection>
</div>