.mat-sidenav-container {
  height: 100%;
}

.mat-sidenav {
  width: 340px;
  max-width: calc(100% - 54px);

  .mat-toolbar {
    background: inherit;
  }
}

main {
  padding-bottom: 1rem;
  position: relative;
}

.pan {
  position: absolute;
  width: .5rem;
  z-index: 99;
  top: 0;
  bottom: 0;
}

.speed-dial {
  transform: scale(0);
}

.speed-dial,
app-toolbar {
  will-change: transform;
}

// @include mq.layout-bp(gt-sm) {
@media (min-width: theme('screens.md')) {
  main {
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
  }

  .pan {
    display: none;
  }

  .mat-sidenav {
    width: 15rem !important;
  }
}
