@use '@angular/material' as mat;

.mat-sidenav-container {
  overflow: visible;
  min-height: 100vh;
}

.bottom {
  position: fixed;
  bottom: 0;
  z-index: 102;
  width: 100%;
  view-transition-name: navigation-bar;
}

.mat-drawer {
  view-transition-name: sidenav;
}

.mat-drawer-side {
  border: 0 none;
}

.mat-drawer-content {
  display: flex;
  flex-direction: column;
  overflow: visible;
  opacity: 1 !important;
}

main {
  margin: 0.5rem 1rem;
  position: relative;
}

.with-bars .is-scrolled {
  @include mat.elevation(2);
}

@media (min-width: theme('screens.sm')) {
  .mat-sidenav {
    display: block !important;
    visibility: visible !important;
    transform: none !important;
  }
}

@media (min-width: theme('screens.sm')) and (max-width: theme('screens.lg')) {
  .mat-drawer[old-navigation-mode='rail'] {
    transition-property: width, background-color !important;
    transform: translate3d(0, 0, 0);

    &:not(.mat-drawer-opened) {
      transition-duration: 200ms !important;
      transition-timing-function: cubic-bezier(0.3, 0, 0.8, 0.15) !important;
    }

    &.mat-drawer-opened {
      transition-timing-function: cubic-bezier(0.05, 0.7, 0.1, 1) !important;
      transition-duration: 400ms !important;
    }
  }

  .mat-drawer:not(.mat-drawer-opened) {
    width: 5rem !important; // Closed width - adjust as needed
    display: block !important;
    visibility: visible !important;
    border-radius: 0;
  }

  .mat-drawer-content {
    margin-left: 5rem;
  }
}

@media (min-width: theme('screens.lg')) {
  main {
    margin: 0.5rem 1rem 1rem;
  }

  .mat-drawer {
    width: 18rem;
  }

  .mat-drawer-content {
    margin-left: 18rem;

    .mat-drawer-content-hidden {
      opacity: 0 !important;
    }
  }
}
