<mat-sidenav-container>
  <mat-sidenav
    #drawer
    fixedInViewport="true"
    [autoFocus]="false"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isOpen$ | async)"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    (openedChange)="open($event)"
  >
    <app-navbar />
  </mat-sidenav>
  <mat-sidenav-content>
    <app-toolbar [@scrollUpAnimation]="(showedToolbar$ | async)" />
    <main [@contextChange]="o | state">
      <router-outlet #o="outlet" />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-speed-dial
  #speedDial
  class="speed-dial"
  [@closeAnimation]="(showedSpeedDial$ | async)"
/>