@let _navigationMode = navigationMode();
<mat-sidenav-container>
  <mat-sidenav
    autoFocus="false"
    fixedInViewport="true"
    [attr.old-navigation-mode]="oldNavigationMode$ | async"
    [attr.role]="_navigationMode === 'bar' ? 'dialog' : 'navigation'"
    [mode]="_navigationMode === 'drawer' ? 'side' : 'over'"
    [(opened)]="openDrawer"
    (closedStart)="openDrawer.set(false)"
  >
    @defer (on viewport) {
      <app-navigation-drawer />
    } @placeholder (minimum 500ms) {
      <app-navigation-skeleton />
    }
  </mat-sidenav>
  <mat-sidenav-content>
    <app-top-app-bar class="scroll scroll-up" />
    <main appMainTransition="root">
      <router-outlet #o="outlet" />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
@defer (when _navigationMode === 'bar') {
  <app-navigation-bar class="scroll scroll-down" />
}
