.mat-sidenav-container {
  height: 100vh;
  height: stretch;
}

.speed-dial,
app-toolbar {
  will-change: transform;
}

.mat-sidenav {
  width: 340px;
  max-width: calc(100% - 54px);

  .mat-toolbar {
    background: inherit;
  }
}

.mat-drawer-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  padding-bottom: 1rem;
  position: relative;
}

.speed-dial {
  transform: scale(0);
}

// @include mq.layout-bp(gt-sm) {
@media (min-width: theme('screens.md')) {
  main {
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
  }

  .mat-sidenav {
    width: 15rem !important;
  }
}
