<div class="table-container">
  <div class="mat-mdc-table-header flex flex-row">
    <span class="mat-mdc-table-title">Seleziona per acquistarlo</span>
    <mat-form-field floatLabel="always">
      <mat-label>Ruolo</mat-label>
      <mat-select
        placeholder="Seleziona il ruolo"
        [compareWith]="compareRole"
        [ngModel]="role$ | async"
        (selectionChange)="role$.next($event.value)"
      >
        @for (role of (roles); track track($index, role)) {
  <mat-option

          [value]="role"
        >
          {{role.singolar}}
        </mat-option>
}
      </mat-select>
    </mat-form-field>
    @if ((selectedMember$ | async); as member) {

      @if (member !== undefined) {
<div

        class="mat-mdc-table-header-selected flex flex-row"
      >
        <span class="mat-mdc-table-title">Selezionato {{member?.player?.full_name}}</span>
        <a
          mat-button
          matTooltip="Acquista"
          [queryParams]="{new_member_id: member?.id}"
          [routerLink]="'/teams/' + (app.team$ | async)?.id + '/transferts'"
        >
          <mat-icon>add_shopping_cart</mat-icon>
        </a>
      </div>
}

}
  </div>
  @if (members$ && (app.team$ | async); as team) {
<app-member-list

    [elevation]="0"
    [hideRole]="true"
    [isSelectable]="team.championship.started && !app.seasonEnded || false"
    [members]="members$!"
   />
}
</div>
