<div class="table-container">
  <div
    class="mat-mdc-table-header"
    fxLayout="row"
  >
    <span class="mat-mdc-table-title">Seleziona per acquistarlo</span>
    <mat-form-field floatLabel="always">
      <mat-label>Ruolo</mat-label>
      <mat-select
        placeholder="Seleziona il ruolo"
        [compareWith]="compareRole"
        [ngModel]="role$ | async"
        (selectionChange)="role$.next($event.value)"
      >
        <mat-option
          *ngFor="let role of (roles | keyvalue); trackBy: track"
          [value]="role.value"
        >
          {{role.value.singolar}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <ng-container *ngIf="(selectedMember$ | async) as member">
      <div
        *ngIf="member !== undefined"
        class="mat-mdc-table-header-selected"
        fxLayout="row"
      >
        <span class="mat-mdc-table-title">Selezionato {{member?.player?.full_name}}</span>
        <a
          mat-button
          matTooltip="Acquista"
          [queryParams]="{new_member_id: member?.id}"
          [routerLink]="'/teams/' + (app.team$ | async)?.id + '/transferts'"
        >
          <mat-icon>add_shopping_cart</mat-icon>
        </a>
      </div>
    </ng-container>
  </div>
  <app-member-list
    *ngIf="members$ && (app.team$ | async) as team"
    [elevation]="0"
    [isSelectable]="team.championship.started && !app.seasonEnded || false"
    [members]="members$"
  ></app-member-list>
</div>
