<div *ngIf="(score$ | async) as score; else loading">
  <div *ngIf="score.lineup; else nolineup">
    <app-disposition-list
      *ngIf="regular$ | async as regular"
      [caption]="'Punteggio: ' + score.points"
      [dispositions]="regular"
      [lineup]="score.lineup"
      [regular]="true"
     />
    <app-disposition-list
      *ngIf="notRegular$ | async as notRegular"
      caption="Panchinari"
      [dispositions]="notRegular"
     />
  </div>
  <ng-template #nolineup>
    <app-mat-empty-state
      description="Formazione non presente"
      icon="mood_bad"
      [label]="'Punteggio: ' + score.points"
     />
  </ng-template>
</div>
<ng-template #loading>
  <mat-progress-spinner
    color="accent"
    mode="indeterminate"
   />
</ng-template>
