<div *ngIf="(score$ | async) as score; else loading">
  <div *ngIf="score.lineup; else nolineup">
    <app-disposition-list *ngIf="regular.length" [regular]="true" [lineup]="score.lineup" [dispositions]="regular"
      [caption]="'Punteggio: ' + score.points"></app-disposition-list>
    <app-disposition-list *ngIf="notRegular.length" caption="Panchinari" [dispositions]="notRegular">
    </app-disposition-list>
  </div>
  <ng-template #nolineup>
    <app-mat-empty-state description="Formazione non presente" icon="mood_bad" [label]="'Punteggio: ' + score.points">
    </app-mat-empty-state>
  </ng-template>
</div>
<ng-template #loading>
  <mat-progress-spinner color="accent" mode="indeterminate"></mat-progress-spinner>
</ng-template>
