<div *ngIf="player | async as player; else loading">
    <fm-parallax-header [title]="player.name + ' ' + player.surname" [subtitle]="selectedMember.role.singolar + ' - ' + selectedMember.club.name" [backgroundUrls]="selectedMember.club.background_urls" [backgroundImage]="selectedMember.club.background_url"
        [image]="selectedMember.photo_url || player.photo_url">
        <div parallax-header-right>
            <a *ngIf="selectedMember.free" (click)="buy()" [routerLink]="'/teams/' + sharedService.currentTeam.id + '/transferts'" [queryParams]="{new_member_id: selectedMember.id}" mat-button>Acquista</a>
            <mat-form-field [color]="media.isActive('gt-sm') ? 'white' : ''">
                <mat-select (change)='seasonChange()' style="width:146px" placeholder="Stagione" [(ngModel)]="selectedMember">
                    <mat-option *ngFor="let member of player.members" [value]="member">{{ member.season.name }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </fm-parallax-header>

    <div class="mat-elevation-z4">
        <mat-table #table [dataSource]="dataSource">
            <ng-container cdkColumnDef="matchday">
                <mat-header-cell *cdkHeaderCellDef><span mdTooltip="Giornata">#</span></mat-header-cell>
                <mat-cell *cdkCellDef="let row">{{row.matchday.number}}</mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="rating">
                <mat-header-cell *cdkHeaderCellDef> Voto </mat-header-cell>
                <mat-cell *cdkCellDef="let row">{{row.rating}}</mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="points">
                <mat-header-cell *cdkHeaderCellDef> Punti </mat-header-cell>
                <mat-cell *cdkCellDef="let row">{{row.points}}</mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="goals">
                <mat-header-cell *cdkHeaderCellDef> Gol </mat-header-cell>
                <mat-cell *cdkCellDef="let row">{{row.goals}}</mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="goals_against">
                <mat-header-cell *cdkHeaderCellDef> Gol s </mat-header-cell>
                <mat-cell *cdkCellDef="let row">{{row.goals_against}}</mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="assist">
                <mat-header-cell *cdkHeaderCellDef> Assist </mat-header-cell>
                <mat-cell *cdkCellDef="let row">{{row.assist}}</mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="penalities_scored">
                <mat-header-cell *cdkHeaderCellDef> Rig </mat-header-cell>
                <mat-cell *cdkCellDef="let row">{{row.penalities_scored}}</mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="penalities_taken">
                <mat-header-cell *cdkHeaderCellDef> Rig s </mat-header-cell>
                <mat-cell *cdkCellDef="let row">{{row.penalities_taken}}</mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="regular">
                <mat-header-cell *cdkHeaderCellDef><span mdTooltip="Titolare">Tit.</span></mat-header-cell>
                <mat-cell *cdkCellDef="let row">
                    <i *ngIf="row.regular" class="material-icons">done</i>
                </mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="yellow_card">
                <mat-header-cell *cdkHeaderCellDef><span mdTooltip="Ammonizioni" class="yellow_card mat-elevation-z1"></span></mat-header-cell>
                <mat-cell *cdkCellDef="let row">
                    <i *ngIf="row.yellow_card" class="material-icons">done</i>
                </mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="red_card">
                <mat-header-cell *cdkHeaderCellDef><span mdTooltip="Espulsioni" class="red_card mat-elevation-z1"></span></mat-header-cell>
                <mat-cell *cdkCellDef="let row">
                    <i *ngIf="row.red_card" class="material-icons">done</i>
                </mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="quotation">
                <mat-header-cell *cdkHeaderCellDef><span mdTooltip="Quotazione">Q.</span></mat-header-cell>
                <mat-cell *cdkCellDef="let row">{{row.quotation}}</mat-cell>
            </ng-container>

            <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</div>
<ng-template #loading>
    <mat-progress-spinner color="accent" mode="indeterminate"></mat-progress-spinner>
</ng-template>