<ng-container *ngIf="lineup">
  <div
    class="header"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-between center"
    fxLayoutAlign.xs="left left"
  >
    <mat-form-field>
      <mat-label>Modulo</mat-label>
      <mat-select
        name="module"
        placeholder="Modulo"
        [disabled]="disabled"
        [(ngModel)]="lineup.module_object"
        (selectionChange)="lineupService.changeModule(lineup)"
      >
        <mat-option
          *ngFor="let m of modules"
          [value]="m"
        >{{m.label}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="lineup.modified_at">Data aggiornamento: {{lineup.modified_at | date: 'dd/MM HH:mm'}}</div>
    <mat-checkbox
      name="jolly"
      [disabled]="disabled"
      [attr.value]="true"
      [(ngModel)]="lineup.jolly"
    >Jolly</mat-checkbox>
  </div>
  <ng-container *ngIf="lineup.module_object">
    <div
      *ngFor="let area of lineupService.areas; trackBy: trackByArea"
      fxLayout="row"
      [ngClass]="[area.role.abbreviation, 'area-container']"
    >
      <h5
        fmSticky
        [title]="area.role.plural"
      >{{area.role.plural | uppercase}}</h5>
      <div
        class="area"
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="space-around"
      >
        <ng-container *ngFor="let i of (area.toIndex | range: area.fromIndex)">
          <fm-member-selection
            @items
            fxLayout="column"
            fxLayout.xs="row"
            fxLayoutAlign="start center"
            class="regular"
            [disabled]="disabled"
            [required]="true"
            [memberList]="area.options"
            [captain]="lineup?.dispositions[i].member?.id == lineup?.captain_id"
            [placeholder]="area.role.singolar"
            [width]="320"
            [height]="450"
            [(ngModel)]="lineup?.dispositions[i].member"
            (selectionChange)="lineupService.memberSelectionChange($event)"
          >
          </fm-member-selection>
        </ng-container>
      </div>
    </div>
  </ng-container>
  <div>
    <h5>Capitani</h5>
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="space-evenly start"
    >
      <mat-form-field
        *ngFor="let captain of (lineupService.captains | keyvalue)"
        appearance="standard"
      >
        <mat-label>{{captain.key}}</mat-label>
        <mat-select
          [disabled]="disabled"
          [placeholder]="captain.key"
          [name]="captain.key"
          [(ngModel)]="lineup[captain.value + '_id']"
          (selectionChange)="lineupService.captainSelectionChange()"
        >
          <mat-option
            *ngFor="let c of lineupService.captainables; trackBy: trackByCaptain"
            [disabled]="c.disabled"
            [value]="c.member.id"
          >{{c.member.player.full_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="benchwarmers">
    <h5>Panchinari</h5>
    <div
      fxLayout="row wrap"
      fxLayout.xs="column"
      fxLayoutAlign="space-around"
    >
      <fm-member-selection
        *ngFor="let bench of lineupService.benchs; trackBy: trackByBench"
        class="benchwarmer"
        fxLayout="column"
        fxLayout.xs="row"
        fxLayoutAlign="start center"
        [memberMap]="lineupService.benchOptions"
        [disabled]="disabled"
        [placeholder]="'Panchinaro ' + (bench - 10)"
        [name]="bench"
        [width]="320"
        [height]="450"
        [(ngModel)]="lineup.dispositions[bench].member"
        (selectionChange)="lineupService.benchwarmerSelectionChange($event)"
      >
      </fm-member-selection>
    </div>
  </div>
</ng-container>
