@import '~@angular/flex-layout/mq';

.role {
  width: 100%;
  padding-bottom: 1rem;
}

mat-select {
  min-width: 100%;
  display: inline-block !important;
}

.role fm-member-selection {
  flex: 1;
}

.role-container {
  margin: .5rem 0;

  h5 {
    top: 1rem;
    height: min-content;
    margin: 0;
    position: sticky;
    text-orientation: upright;
    writing-mode: vertical-lr;
    padding: .5rem 1rem 1rem 0;
    text-overflow: ellipsis;
  }
}

.mat-form-field {
  width: 100%;
}

.flex-container {
  margin: 0 1rem;
}
@include layout-bp(gt-xs) {
  .mat-form-field {
    width: unset;
    min-width: 10rem;
    margin: 0 .5rem;
  }
}
