<ng-container *ngIf="lineup">
  <div
    class="header"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-between center"
    fxLayoutAlign.xs="left left"
  >
    <mat-form-field>
      <mat-label>Modulo</mat-label>
      <mat-select
        #module="ngModel"
        name="module"
        placeholder="Modulo"
        [disabled]="disabled"
        [(ngModel)]="lineup.module_object"
      >
        <mat-option
          *ngFor="let module of modules"
          [value]="module"
        >{{module.label}}</mat-option>
      </mat-select>
      <mat-error *ngIf="module.invalid">{{getErrors(module)}}</mat-error>
    </mat-form-field>
    <div *ngIf="lineup.modified_at">Data aggiornamento: {{lineup.modified_at | date: 'dd/MM/y HH:mm'}}</div>
    <mat-checkbox
      name="jolly"
      [disabled]="disabled"
      [attr.value]="true"
      [(ngModel)]="lineup.jolly"
    >Jolly</mat-checkbox>
  </div>
  <ng-container *ngIf="lineup.module_object">
    <div
      *ngFor="let role of (lineup.module_object?.map | keyvalue:descOrder); trackBy: trackByRole"
      fxLayout="row"
      [ngClass]="[role.key.abbreviation, 'role-container']"
    >
      <h5
        fmSticky
        [title]="role.key.plural"
      >{{role.key.plural | uppercase}}</h5>
      <div
        class="role"
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="space-around"
      >
        <fm-member-selection
          *ngFor="let memberKey of role.value; trackBy: trackBySelection"
          @items
          fxLayout="column"
          fxLayout.xs="row"
          fxLayoutAlign="start center"
          class="regular"
          [required]="true"
          [disabled]="disabled"
          [captain]="lineup.dispositions[getIndex(lineup, role.key, memberKey)].member?.id == lineup.captain_id"
          [isMemberDisabled]="isRegularCallback"
          (selectionChange)="removeBenchwarmer(lineup, $event)"
          [memberList]="membersByRole.get(role.key)"
          [placeholder]="role.key.singolar"
          [name]="role.key.abbreviation + '-' + memberKey"
          [width]="320"
          [height]="450"
          [(ngModel)]="lineup.dispositions[getIndex(lineup, role.key, memberKey)].member"
        ></fm-member-selection>
      </div>
    </div>
  </ng-container>
  <div>
    <h5>Capitani</h5>
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="space-evenly start"
    >
      <mat-form-field
        *ngFor="let captain of (captains | keyvalue)"
        appearance="standard"
      >
        <mat-label>{{captain.key}}</mat-label>
        <mat-select
          [disabled]="disabled"
          [placeholder]="captain.key"
          [name]="captain.key"
          [(ngModel)]="lineup[captain.value + '_id']"
        >
          <mat-option
            *ngFor="let member of getCapitanables(lineup); trackBy: trackByMember"
            [disabled]="isCaptainAlreadySelected(lineup, member)"
            [value]="member.id"
          >{{member.player.full_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="benchwarmers">
    <h5>Panchinari</h5>
    <div
      fxLayout="row wrap"
      fxLayout.xs="column"
      fxLayoutAlign="space-around"
    >
      <fm-member-selection
        *ngFor="let bench of benchs; trackBy: trackByBench"
        class="benchwarmer"
        fxLayout="column"
        fxLayout.xs="row"
        fxLayoutAlign="start center"
        [disabled]="disabled"
        [isMemberDisabled]="isAlreadySelectedCallback"
        [memberMap]="membersByRole"
        [placeholder]="'Panchinaro ' + (bench - 10)"
        [name]="bench"
        [width]="320"
        [height]="450"
        [(ngModel)]="lineup.dispositions[bench].member"
      ></fm-member-selection>
    </div>
  </div>
</ng-container>
