@use '@angular/material' as mat;
@import '@angular/material/theming';
@import '../partials/fantamanajer-theme';
@include mat.core();

$primary: mat.define-palette(mat.$cyan-palette, A200, A100, A400);
$accent: mat.define-palette(mat.$pink-palette, A200);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-dark-theme($primary, $accent, $warn);
$foreground: map-get($theme, foreground);
$background: map-get($theme, background);
@include fantamanajer-theme($theme);

app-profile .mat-toolbar.has-image,
img {
  filter: grayscale(60%);
}

img[src^='//via.placeholder.com'],
img[srcset^='//via.placeholder.com'] {
  filter: invert(0.85);
}

img[src~='.svg'] {
  $app-background: mat.get-color-from-palette($background, 'background');
  $badge-color: mat.get-color-from-palette($foreground, 'disabled-text');
  @if (type-of($badge-color) == color and type-of($app-background) == color) {
    $badge-opacity: opacity($badge-color);
    background-color: mix($app-background, rgba($badge-color, 1), (1 - $badge-opacity) * 100%);
  }
  @else {
    background-color: $badge-color;
  }

}

a {
  color: mat.get-color-from-palette($primary);
}
