@use '~@angular/material' as mat;
@import '~@angular/material/theming';
@import '../partials/fantamanajer-theme';
@include mat.core();

$primary: mat.define-palette(mat.$cyan-palette);
$accent: mat.define-palette(mat.$pink-palette, A200, A100, A700);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme($primary, $accent, $warn);
@include fantamanajer-theme($theme);

a {
  color: mat.get-color-from-palette($accent, darker);
}

img[src*='svg'] {
  background-color: #fff;
}
