@use '@angular/material-experimental' as matx;
@use 'app/app';
@use 'main/main';

$theme: matx.define-theme(
  (
    typography: (
      plain-family: "'Exo 2'",
      brand-family: "'Exo 2'",
    ),
  )
);

@import 'main/transition';
@import 'tailwindcss/utilities';

:root {
  @include main.base($theme);
  @include main.density($theme);
  @include main.typography($theme);

  @include app.base($theme);
  @include app.density($theme);
  @include app.typography($theme);
}
