@use '@angular/material' as mat;
@use 'app/app';
@use 'main/main';
@use 'themes/color' as color;

$theme: mat.define-theme(
  (
    typography: (
      plain-family: "'Exo 2', sans-serif",
      brand-family: "'Exo 2', sans-serif",
    ),
  )
);
$light-theme: mat.define-theme(
  (
    color: color.$light-color,
  )
);
$dark-theme: mat.define-theme(
  (
    color: color.$dark-color,
  )
);

@import 'main/transition';
@import 'tailwindcss/utilities';

:root {
  @include main.base($theme);
  @include main.density($theme);
  @include main.typography($theme);

  @include app.base($theme);
  @include app.density($theme);
  @include app.typography($theme);

  @media (prefers-color-scheme: light) {
    @include main.color($light-theme);
    @include app.color($light-theme);
  }

  @media (prefers-color-scheme: dark) {
    @include main.color($dark-theme);
    @include app.color($dark-theme);
  }
}
