@use '@angular/material-experimental' as matx;
@use 'app/app';
@use 'main/main';
@use 'themes/light/color' as light-color;
@use 'themes/light/styles' as light-styles;
@use 'themes/dark/color' as dark-color;
@use 'themes/dark/styles' as dark-styles;

$theme: matx.define-theme(
  (
    typography: (
      plain-family: "'Exo 2', sans-serif",
      brand-family: "'Exo 2', sans-serif",
    ),
  )
);
$light-theme: matx.define-theme(
  (
    color: light-color.$color,
  )
);
$dark-theme: matx.define-theme(
  (
    color: dark-color.$color,
  )
);

@import 'main/transition';
@import 'tailwindcss/utilities';

:root {
  @include main.base($theme);
  @include main.density($theme);
  @include main.typography($theme);

  @include app.base($theme);
  @include app.density($theme);
  @include app.typography($theme);

  @media (prefers-color-scheme: light) {
    @include main.color($light-theme);
    @include app.color($light-theme);
    @include light-styles.styles($light-theme);
  }

  @media (prefers-color-scheme: dark) {
    @include main.color($dark-theme);
    @include app.color($dark-theme);
    @include dark-styles.styles($dark-theme);
  }
}
