@use '@angular/material' as mat;
@use 'app/app';
@use 'main/main';
@use 'themes/color' as color;

@forward 'main/transition';
@forward 'tailwindcss/utilities';

html {
  color-scheme: light dark;

  @include mat.theme(
    (
      color: color.$color,
      typography: "'Exo 2', sans-serif",
      density: 0,
    )
  );
  @include mat.stepper-overrides(
    (
      container-color: transparent,
    )
  );
  @include mat.expansion-overrides(
    (
      container-background-color: transparent,
    )
  );

  .tertiary-fab {
    @include mat.fab-overrides(
      (
        container-color: var(--mat-sys-tertiary-container),
      )
    );
  }

  @include main.theme($theme);
  @include app.theme($theme);
}
