<div
  *ngIf="lineup"
  @cardCreationAnimation
>
  <app-lineup-options
    [disabled]="disabled"
    [lineup]="lineup"
  >
    <ng-content
      buttons
      select="[buttons]"
    ></ng-content>
  </app-lineup-options>
  <ng-container *ngIf="lineupService.selectedModule">
    <div ngModelGroup="dispositions">
      <app-module-area
        [disabled]="disabled"
        [dispositions]="lineupService.lineup.dispositions"
        [membersByRole]="lineupService.membersByRole"
        [module]="lineupService.selectedModule"
        (selectionChange)="lineupService.memberSelectionChange($event.role, $event.member)"
      ></app-module-area>
    </div>
  </ng-container>
  <div
    *ngIf="lineup.dispositions?.length"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-evenly start"
  >
    <fieldset class="benchwarmers">
      <mat-card>
        <mat-card-title>Panchinari</mat-card-title>
        <mat-card-content>

          <div
            fxLayout="column"
            fxLayout.gt-sm="row wrap"
            fxLayoutAlign="space-around"
            ngModelGroup="dispositions"
          >
            <ng-container *ngFor="let bench of lineupService.benchs; trackBy: trackByBench">
              <div [ngModelGroup]="bench + ''">
                <app-member-selection
                  *ngIf="lineup.dispositions[bench] as disp"
                  fxLayout="row"
                  fxLayoutAlign="start center"
                  class="benchwarmer"
                  name="member"
                  [disabled]="disabled"
                  [height]="450"
                  [memberMap]="lineupService.benchOptions"
                  [placeholder]="'Panchinaro ' + (bench - 10)"
                  [width]="320"
                  [member]="disp.member ?? undefined"
                  (memberChange)="lineupService.benchwarmerSelectionChange($event)"
                >
                </app-member-selection>
              </div>
            </ng-container>
          </div>
        </mat-card-content>
      </mat-card>
    </fieldset>
  </div>
</div>
