@if (lineup()) {
<div @cardCreationAnimation>
  <app-lineup-options
    [disabled]="disabled()"
    [lineup]="lineup()!"
  >
    <ng-content
      buttons
      select="[buttons]"
    />
  </app-lineup-options>
  @if (lineupService.selectedModule) {

  <div ngModelGroup="dispositions">
    <app-module-area
      [disabled]="disabled()"
      [dispositions]="lineupService.lineup.dispositions"
      [membersByRole]="lineupService.membersByRole"
      [module]="lineupService.selectedModule"
      (selectionChange)="lineupService.memberSelectionChange($event.role, $event.member)"
    />
  </div>

  } @if (lineup()!.dispositions.length) {
  <fieldset
    class="benchwarmers flex"
    ngModelGroup="dispositions"
  >
    <mat-card
      appearance="outlined"
      class="grow"
    >
      <mat-card-header>
        <mat-card-title>Panchinari</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="flex flex-col justify-around md:flex-row md:flex-wrap">
          @for (bench of lineupService.benchs; track bench) {
          <div [ngModelGroup]="bench + ''">
            @if (lineup()!.dispositions[bench]; as disp) {
            <app-member-selection
              class="benchwarmer flex flex-row items-center justify-start"
              name="member"
              [disabled]="disabled()"
              [height]="450"
              [memberMap]="lineupService.benchOptions"
              [placeholder]="'Panchinaro ' + (bench - 10)"
              [width]="320"
              [(member)]="disp.member"
              (memberChange)="lineupService.benchwarmerSelectionChange($event)"
            />
            }
          </div>
          }
        </div>
      </mat-card-content>
    </mat-card>
  </fieldset>
  }
</div>
}
