@mixin lineup-detail-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .role-container h5 {
    color: mat-color($foreground, 'secondary-text');
  }
}
