<div class="grid grid-cols-1 grid-rows-1 gap-2 sm:grid-cols-2 lg:grid-cols-3">
  @for (club of clubs(); track club.id; let i = $index) {
  <mat-card appearance="outlined">
    <figure
      class="aspect-ratio-box"
      mat-card-image
      matRipple
      [style.viewTransitionName]="viewTransitionName(club)"
    >
      @if (club.background_url) {
      <a
        [routerLink]="['/clubs/',club.id]"
        [state]="{img: 'url(\'' + listImg.currentSrc + '\')'}"
      >
        <img
          #listImg
          class="card-img"
          height="337"
          ngSrcset="600w, 1280w"
          sizes="(min-width: 60em) calc(.3 * (100vw - 15em)), (min-width: 37.5em) 45vw, calc(100vw - 1em)"
          width="600"
          [alt]="club.name"
          [loaderParams]="club.background_url"
          [ngSrc]="club.background_url | srcset: true"
          [priority]="i === 0"
        />
      </a>
      } @else {
      <a [routerLink]="['/clubs/',club.id]">
        <div class="placeholder">
          <span>{{club.name}}</span>
        </div>
      </a>
      }

      <ng-template #placeholder>
        <div class="placeholder">
          <span>{{club.name}}</span>
        </div>
      </ng-template>
    </figure>
    <mat-card-header>
      <img
        class="club-header-image"
        height="40"
        loading="lazy"
        mat-card-avatar
        width="40"
        [alt]="club.name"
        [ngSrc]="club.photo_url || ''"
        [style.viewTransitionName]="viewTransitionName(club, 'avatar-' + club.name | slug)"
      />
      <mat-card-title
        [style.viewTransitionName]="viewTransitionName(club, 'title-' + club.name | slug)"
        >{{club.name}}</mat-card-title
      >
      <mat-card-subtitle>Club</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <a
        mat-flat-button
        [routerLink]="[club.id, 'players']"
        >DETTAGLI</a
      >
      <a
        mat-stroked-button
        [routerLink]="[club.id, 'stream']"
        >ATTIVITÀ</a
      >
    </mat-card-actions>
  </mat-card>
  }
</div>
