.aspect-ratio-box {
  position: relative;
  overflow: hidden;
  aspect-ratio: 16/9;
}

.mat-mdc-card-avatar {
  width: auto;
  min-width: 24px;
  border-radius: var(--mat-sys-corner-none);
}

.has-image {
  transition: opacity 0.3s;
  opacity: 0;
}

img {
  object-fit: cover;
  max-height: 100%;
  width: 100%;

  &.ng-lazyloaded {
    opacity: 1;
  }
}

.mat-mdc-card-image {
  height: 100%;
  max-width: 100%;
}

@supports (view-transition-class: none) {
  .club-header-image,
  .mat-mdc-card-title {
    view-transition-class: metadata;
  }
}
