<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 grid-rows-1 gap-x-12">
  @for (club of clubs; track club.id; let i = $index) {
  <mat-card appearance="outlined">

    <figure
      class="aspect-ratio-box"
      mat-card-image
      [style.viewTransitionName]="'preview-' + club.name"
    >
      @if (club.background_url) {
      <img
        defaultImage="//via.placeholder.com/600x337"
        height="337"
        sizes="(min-width: 60em) calc(.3 * (100vw - 15em)), (min-width: 37.5em) 45vw, calc(100vw - 1em)"
        width="600"
        #img
        [alt]="club.name"
        [srcset]="(club.background_url | srcset)"
      >
      } @else {

      <div class="placeholder">
        <span>{{club.name}}</span>
      </div>

      }

      <ng-template #placeholder>
        <div class="placeholder">
          <span>{{club.name}}</span>
        </div>
      </ng-template>
    </figure>
    <mat-card-header>
      <img
        class="club-header-image"
        mat-card-avatar
        [alt]="club.name"
        [lazyLoad]="club.photo_url || ''"
        [style.viewTransitionName]="'avatar-' + club.name"
      >
      <mat-card-title [style.viewTransitionName]="'title-' + club.name">{{club.name}}</mat-card-title>
      <mat-card-subtitle>Club</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <a
        color="primary"
        mat-button
        [routerLink]="[club.id]"
      >DETTAGLI</a>
      <a
        color="primary"
        mat-button
        [routerLink]="[club.id, 'stream']"
      >ATTIVITÀ</a>
    </mat-card-actions>
  </mat-card>
  }

</div>