.mat-mdc-card-avatar {
  width: auto;
  min-width: 24px;
  border-radius: 0;
}

.has-image {
  transition: opacity 0.3s;
  opacity: 0;
}

img {
  object-fit: cover;

  &.ng-lazyloaded {
    opacity: 1;
  }
}

.mat-mdc-card-image {
  height: 100%;
  max-width: 100%;
}
