<div class="flex-container" fxLayoutWrap="row" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutAlign.xs="start">

    <mat-card class="flex-item" fxFlex.gt-md="30" fxFlex.md="30" fxFlex.sm="45" fxFlex.xs="100" *ngFor="let team of teams; let i=index">
        <mat-card-header>
            <mat-card-title>{{team.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="team.photo_url || '//placehold.it/350x200'">
        <mat-card-content>
            <p></p>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="end">
            <a mat-button [routerLink]="['/teams/',team.id]">OPEN</a>
        </mat-card-actions>
    </mat-card>

</div>