/* stylelint-disable value-keyword-case */
@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;

$typography: mat.define-typography-config(
  $font-family: 'Open Sans'
);
$m3-base-config: (
  color: (
    primary: matx.$m3-magenta-palette,
    secondary: matx.$m3-purple-palette,
    tertiary: matx.$m3-red-palette
  ),
  typography: (
    plain-family: 'Open Sans'
  )
);

// Our M3 light theme.
$theme: matx.define-theme($m3-base-config);
