/* stylelint-disable value-keyword-case */
@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;

$m3-base-config: (
  color: (
    primary: matx.$m3-green-palette,
    tertiary: matx.$m3-violet-palette
  ),
  typography: (
    plain-family: 'Open Sans',
    brand-family: 'Open Sans'
  )
);

// Our M3 light theme.
$theme: matx.define-theme($m3-base-config);
