@mixin navbar-theme($theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);

  .mat-list-item .mat-icon {
    color: mat-color($foreground, 'icon');
  }

  .mat-list-item.active,
  .mat-list-item.active:active,
  .mat-list-item.active:hover {
    background-color: mat-color($primary, 0.12) !important;
    color: mat-color($primary) !important;

    .mat-icon {
      color: mat-color($primary, 'darker') !important;
    }
  }
}
