<div class="mat-elevation-z8 ranking-container">
    <div class="table-container">
        <mat-table #table [dataSource]="rankingDataSource" class="ranking">
            <ng-container cdkColumnDef="teamName">
                <mat-header-cell *cdkHeaderCellDef> Squadra </mat-header-cell>
                <mat-cell *cdkCellDef="let row">
                    <a [routerLink]="['/teams',row.team.id]">{{row.team.name}}</a>
                </mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="points">
                <mat-header-cell *cdkHeaderCellDef> P.ti </mat-header-cell>
                <mat-cell *cdkCellDef="let row"> {{row.sum_points}} </mat-cell>
            </ng-container>

            <mat-header-row *cdkHeaderRowDef="rankingDisplayedColumns"></mat-header-row>
            <mat-row *cdkRowDef="let row; columns: rankingDisplayedColumns;"></mat-row>
        </mat-table>
    </div>
    <div class="table-container scores-container">
        <mat-table #table [dataSource]="scoresDataSource" class="scores">
            <ng-container *ngFor="let column of scoresDisplayedColumns" [cdkColumnDef]="column">
                <mat-header-cell *cdkHeaderCellDef> {{column}} </mat-header-cell>
                <mat-cell *cdkCellDef="let row">
                    <a routerLink="/scores/{{row.get(column).id}}">{{row.get(column).points}}</a>
                </mat-cell>
            </ng-container>

            <mat-header-row *cdkHeaderRowDef="scoresDisplayedColumns"></mat-header-row>
            <mat-row *cdkRowDef="let row; columns: scoresDisplayedColumns;"></mat-row>
        </mat-table>
    </div>
</div>