<div *ngIf="!app.seasonEnded; else seasonEnded">
    <div *ngIf="lineup | async as lineup; else loading">
        <div *ngIf="lineup.module || lineup.team.id == teamId; else notSet" class="flex-container">
            <div class="header" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center"
                fxLayoutAlign.xs="left left">
                <mat-form-field>
                    <mat-select [disabled]="!editMode" name="module" [(ngModel)]="lineup.module_object" placeholder="Modulo"
                        (selectionChange)="changeModule(lineup)">
                        <mat-option *ngFor="let module of modules" [value]="module">{{module.label}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="lineup.modified_at">Data aggiornamento: {{lineup.modified_at | date: 'dd/MM/y HH:mm'}}</div>
                <mat-checkbox [disabled]="!editMode" [(ngModel)]="lineup.jolly" [attr.value]="true">Jolly</mat-checkbox>
            </div>
            <ng-container *ngIf="lineup.module_object">
                <div *ngFor="let key of roleKeys" [ngClass]="[key, 'role-container']" fxLayout="row">
                    <h5>{{key}}</h5>
                    <div class="role" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around">
                        <fm-member-selection fxLayout.xs="row" fxLayout="column" fxLayoutAlign="start center" class="regular"
                            *ngFor="let key2 of lineup.module_object.map.get(key)" [disabled]="!editMode"
                            [isMemberDisabled]="isRegularCallback" (selectionChange)="removeBenchwarmer(lineup, $event)"
                            [memberList]="membersByRole.get(key)" [placeholder]="key" [name]="key + '-' + key2"
                            [(ngModel)]="lineup.dispositions[getIndex(lineup, key, key2)].member"></fm-member-selection>
                    </div>
                </div>
            </ng-container>
            <div>
                <h5>Capitani</h5>
                <div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-evenly start">
                    <mat-form-field *ngFor="let captain of captainsKeys">
                        <mat-select [disabled]="!editMode" [(ngModel)]="lineup[captains.get(captain) + '_id']"
                            [placeholder]="captain" [name]="captain">
                            <mat-option *ngFor="let member of getCapitanables(lineup)" [disabled]="isCaptainAlreadySelected(lineup, member)"
                                [value]="member.id">{{member.player.surname}}
                                {{member.player.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="benchwarmers">
                <h5>Panchinari</h5>
                <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around">
                    <fm-member-selection fxLayout.xs="row" fxLayout="column" fxLayoutAlign="start center" class="benchwarmer"
                        *ngFor="let bench of benchs" [disabled]="!editMode" [isMemberDisabled]="isAlreadySelectedCallback"
                        [memberMap]="membersByRole" [placeholder]="'Panchinaro ' + (bench - 10)" [name]="bench" [size]="75"
                        [(ngModel)]="lineup.dispositions[bench].member"></fm-member-selection>
                </div>
            </div>
            <button *ngIf="editMode" color="accent" mat-raised-button (click)="save(lineup)">Salva</button>
        </div>
        <ng-template #notSet>
            <h3 class="subheading-1">Formazione non settata</h3>
        </ng-template>
    </div>
</div>
<ng-template #loading>
    <mat-progress-spinner color="accent" mode="indeterminate"></mat-progress-spinner>
</ng-template>
<ng-template #seasonEnded>
    <fm-mat-empty-state [rounded]="true" [label]="app.matchday.season.name + ' conclusa'" description="Goditi le vacanze e tieniti pronto per la prossima stagione"
        icon="wb_sunny"></fm-mat-empty-state>
</ng-template>