<div
  class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 grid-rows-1 gap-x-4 lg:gap-x-8"
  @cardCreationAnimation
>
  <a
    routerLink="../edit"
    fragment="tab"
  >
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Modifica opzioni</mat-card-title>
      </mat-card-header>
      <mat-card-content />
    </mat-card>
  </a>

  <a
    routerLink="../add-team"
    fragment="tab"
  >
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Aggiungi squadra</mat-card-title>
      </mat-card-header>
      <mat-card-content />
    </mat-card>
  </a>
</div>