<!-- eslint-disable @angular-eslint/template/no-inline-styles -->
<button
  aria-label="Toggle sidenav"
  class="toggle"
  matIconButton
  type="button"
  (click)="clickNav()"
>
  <mat-icon aria-label="Side nav toggle icon">menu{{ openDrawer() ? '_open' : '' }}</mat-icon>
</button>
@if (team()) {
  <app-profile class="profile" />
  <div class="fab-container">
    <app-fab
      class="fab"
      direction="down"
      [extended]="openDrawer()"
    />
  </div>
}
<app-navigation-list
  mode="full"
  class="navigation-list"
/>
