@use 'pkg:@angular/material' as mat;

.fab-container {
  transition-property: margin;
  margin: 0.5rem 0.75rem 0;
}

.fab {
  display: none;
  z-index: 1;
  position: relative;

  @include mat.fab-overrides(
    (
      extended-container-elevation-shadow: none,
      extended-hover-container-elevation-shadow: none,
      container-elevation-shadow: none,
      hover-container-elevation-shadow: none,
    )
  );
}

.toggle {
  display: none;
  margin-left: 1.25rem;
}

@media (min-width: theme('screens.sm')) {
  .fab {
    display: flex;
  }
}

@media (min-width: theme('screens.sm')) and (max-width: theme('screens.lg')) {
  .fab-container,
  app-profile,
  app-navigation-list {
    transition-timing-function: var(--drawer-animation-timing-function);
    transition-duration: var(--drawer-animation-duration);
  }

  app-profile {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition-property: max-height, opacity;
  }

  .toggle {
    display: block;
  }

  app-navigation-list {
    transition-property: margin-top;
    margin-top: 3rem;
  }

  :host-context(.mat-drawer.mat-drawer-opened) {
    app-profile {
      max-height: 500px;
      opacity: 1;
    }

    .fab-container {
      margin: 1rem;
    }

    app-navigation-list {
      margin-top: 0;
    }
  }
}
