@use '@angular/material' as mat;

.fab {
  margin: 1rem;
  display: none;
  z-index: 1;
  position: relative;
  transition: margin 200ms var(--mat-sys-motion-emphasized-decelerate);

  @include mat.fab-overrides(
    (
      extended-container-elevation-shadow: none,
      extended-hover-container-elevation-shadow: none,
      container-elevation-shadow: none,
      hover-container-elevation-shadow: none,
    )
  );
}

app-profile {
  max-height: 500px;
  overflow: hidden;
  opacity: 1;
  transition:
    max-height 200ms var(--mat-sys-motion-emphasized-decelerate),
    opacity 200ms var(--mat-sys-motion-emphasized-decelerate);
}

app-navigation-list {
  transition-property: margin;
  transition-duration: 200ms;
  transition-timing-function: var(--mat-sys-motion-emphasized-decelerate) !important;
}

.toggle {
  display: none;
  transition: margin 200ms var(--mat-sys-motion-emphasized-decelerate);
}

@media (min-width: theme('screens.sm')) {
  .fab {
    display: flex;
  }
}

@media (min-width: theme('screens.sm')) and (max-width: theme('screens.lg')) {
  .toggle {
    display: block;
  }

  :host-context(.mat-drawer-opened) {
    app-profile {
      max-height: 300px;
    }

    .toggle {
      margin-top: 1rem;
      margin-left: 1rem;
    }
  }

  :host-context(.mat-drawer:not(.mat-drawer-opened)) {
    app-profile {
      max-height: 0;
      opacity: 0;
      transition-timing-function: var(--mat-sys-motion-emphasized-accelerate);
    }

    .fab {
      margin: 0.5rem 0.75rem;
      transition-timing-function: var(--mat-sys-motion-emphasized-accelerate);
    }

    .toggle {
      margin: 3rem 1.25rem 0;
      transition-timing-function: var(--mat-sys-motion-emphasized-accelerate);
    }

    app-navigation-list {
      margin-top: 3rem;
      transition-timing-function: var(--mat-sys-motion-emphasized-accelerate);
    }
  }
}
