<form *ngIf="teams | async as teams" #membersForm="ngForm" (ngSubmit)="save()">

    <mat-form-field>
        <mat-select (selectionChange)="onChange()" [compareWith]="compareTeam" placeholder="Squadra" required [(ngModel)]="team"
            name="team">
            <mat-option></mat-option>
            <mat-option *ngFor="let team of teams" [value]="team">{{team.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div *ngIf="team">
        <div *ngFor="let key of keys">
            <h5>{{roles.get(key).label}}</h5>
            <div class="flex-container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around flex-start">
                <div class="disposition" *ngFor="let key2 of roles.get(key).entries;let i = index;">
                    <mat-form-field>
                        <mat-select (selectionChange)="onMemberChange()" [compareWith]="compareMember" [placeholder]="roles.get(key).label + ' ' + (i + 1)"
                            required [(ngModel)]="team.members[getIndex(key, i)]" [name]="'-' + getIndex(key, i)">
                            <mat-option></mat-option>
                            <mat-option *ngFor="let member of roles.get(key).members" [value]="member">{{member.player.surname}}
                                {{member.player.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <button color="accent" mat-raised-button type="submit" [disabled]="!membersForm.form.valid">SALVA</button>
    </div>

</form>