/* stylelint-disable selector-not-notation */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-class-pattern */

@use 'pkg:@angular/material' as mat;

:host {
  display: block;
  width: 100%;
}

.mat-mdc-subheader {
  font: var(--mat-sys-title-small);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition:
    max-height 200ms var(--drawer-animation-timing-function),
    opacity 100ms var(--drawer-animation-timing-function),
    margin 100ms var(--drawer-animation-timing-function);
  max-height: 2rem;
  opacity: 1;
}

.mat-mdc-nav-list {
  gap: 0;
  transition-property: gap, padding;
  transition-timing-function: var(--drawer-animation-timing-function);
  transition-duration: var(--drawer-animation-duration);
}

.mdc-list-item {
  > .mat-icon {
    transition: font-variation-settings 200ms var(--mat-sys-motion-standard);
  }

  @include mat.list-overrides(
    (
      active-indicator-color: transparent,
    )
  );
}

.mat-mdc-list-item-title {
  opacity: 0;
  transition: opacity 100ms var(--drawer-animation-timing-function);
}

:host-context(.mat-drawer) {
  .mat-divider {
    margin: 0 1rem;
  }

  .mat-mdc-nav-list {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}

:host-context(.mat-drawer-opened) {
  .mat-mdc-list-item-title {
    opacity: 1;
  }

  .mat-mdc-nav-list {
    padding: 0 0.75rem;
  }

  .mat-mdc-list-item {
    height: 3.5rem;

    @include mat.list-overrides(
      (
        list-item-focus-state-layer-color: transparent,
      )
    );

    > .mat-icon {
      margin-right: 1rem;
      font-variation-settings:
        'FILL' 0,
        'wght' 400;
    }
  }

  .title-lite {
    display: none;
  }
}

// è chiuso
:host-context(.navigation-bar),
:host-context(
  .navigation-mode-rail .mat-drawer:not(.mat-drawer-opened):not(.mat-drawer-animating)
) {
  .mat-mdc-nav-list {
    transition: margin var(--drawer-animation-duration) var(--drawer-animation-timing-function);

    @include mat.list-overrides(
      (
        list-item-focus-state-layer-color: transparent,
        list-item-label-text-size: var(--mat-sys-label-large-size),
        list-item-label-text-line-height: var(--mat-sys-label-large-line-height),
        list-item-label-text-weight: var(--mat-sys-label-large-weight),
        list-item-label-text-color: var(--mat-sys-on-surface-variant),
      )
    );
  }

  .mat-divider,
  .mat-mdc-subheader {
    display: none;
  }

  .mat-mdc-list-item-title {
    opacity: 1;
  }

  .mdc-list-item--with-leading-icon .mdc-list-item__start {
    padding-inline: var(--mat-list-list-item-leading-icon-start-space, 16px)
      var(--mat-list-list-item-leading-icon-end-space, 16px);
    margin: 0;
  }

  .mat-mdc-list-item {
    flex-direction: column;
    padding: 0;
    gap: 0.25rem;
    /* stylelint-disable-next-line plugin/browser-compat */
    -webkit-tap-highlight-color: transparent;

    > .mat-icon {
      /* stylelint-disable-next-line plugin/browser-compat */
      -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      z-index: 1;
      font-variation-settings:
        'FILL' 0,
        'wght' 400;
      border-radius: var(--mat-sys-corner-large);
      height: 2rem;

      &::before {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transform: scaleX(0.32);
        transition-duration: 0.2s;
        transition-property: transform, opacity;
        transition-timing-function: linear;
        border-radius: 100px;
        background-color: rgb(
          from var(--mat-sys-on-surface) r g b /
            calc(var(--mat-sys-focus-state-layer-opacity) * 100%)
        );
        content: '';
        z-index: -1;
      }
    }

    &:focus::before,
    &:hover::before {
      background-color: transparent;
    }

    &:focus,
    &:hover {
      .mat-icon {
        font-variation-settings:
          'FILL' 0,
          'wght' 600;

        &::before {
          transform: scaleX(1);
          opacity: 1 !important;
        }
      }
    }

    &:active {
      .mat-mdc-list-item-title {
        font-variation-settings: 'wght' 300;
      }

      .mat-icon {
        font-variation-settings:
          'FILL' 0,
          'wght' 300;

        &::before {
          transform: scaleX(1);
          opacity: 0 !important;
        }
      }
    }

    &.mdc-list-item--activated {
      @include mat.list-overrides(
        (
          list-item-label-text-color: var(--mat-sys-on-surface),
        )
      );

      .mat-mdc-list-item-title {
        font-variation-settings: 'wght' 700;
      }

      > .mat-icon {
        font-variation-settings:
          'FILL' 1,
          'wght' 400;
      }

      &:hover {
        .mat-mdc-list-item-title {
          font-variation-settings: 'wght' 600;
        }

        .mat-icon {
          font-variation-settings:
            'FILL' 1,
            'wght' 600;
        }
      }

      &:active {
        .mat-mdc-list-item-title {
          font-variation-settings: 'wght' 300;
        }

        .mat-icon {
          font-variation-settings:
            'FILL' 1,
            'wght' 300;
        }
      }
    }
  }

  .title-full {
    display: none;
  }
}

:host-context(.navigation-bar) {
  .mat-mdc-nav-list {
    padding: 0.75rem 0 1rem;
    display: flex;
    height: 3.5rem;
    gap: 0.75rem;

    @include mat.list-overrides(
      (
        list-item-one-line-container-height: auto,
        list-item-label-text-color: var(--mat-sys-on-surface),
      )
    );
  }
}

// è chiuso
:host-context(
  .navigation-mode-rail .mat-drawer:not(.mat-drawer-opened):not(.mat-drawer-animating)
) {
  .title-lite {
    display: block;
  }

  .mat-mdc-nav-list {
    @include mat.list-overrides(
      (
        list-item-one-line-container-height: 56px,
      )
    );
  }
}

// si sta chiudendo o è chiuso
:host-context(.navigation-mode-rail .mat-drawer:not(.mat-drawer-opened)) {
  .mat-mdc-subheader {
    max-height: 0;
    opacity: 0;
    margin: 0;
  }

  .title-lite {
    display: none;
  }

  .mat-divider {
    display: none;
  }

  .mat-mdc-nav-list {
    gap: 0.75rem;
  }

  .mdc-list-item {
    padding-left: 0.75rem;
    padding-right: 0.75rem;

    &--activated > .mat-icon {
      font-variation-settings:
        'FILL' 1,
        'wght' 400;
    }
  }
}

// si sta chiudendo
:host-context(.navigation-mode-rail .mat-drawer.mat-drawer-animating:not(.mat-drawer-opened)) {
  --mat-list-list-item-one-line-container-height: 2rem;

  .mat-mdc-nav-list .mat-mdc-list-item {
    margin-bottom: 1.5rem;
  }
}

:host-context(.mat-drawer.mat-drawer-animating) {
  .mat-mdc-list-item {
    transition:
      height 150ms var(--drawer-animation-timing-function),
      margin 150ms var(--drawer-animation-timing-function),
      padding 150ms var(--drawer-animation-timing-function);
  }
}
