/* stylelint-disable selector-class-pattern */
@use '@angular/material' as mat;

@mixin theme {
  app-navigation-list {
    .mdc-list-item__content {
      z-index: 1;
      display: inline-flex;
    }
  }

  .navigation-bar,
  .container-navigation-rail .mat-drawer:not(.mat-drawer-opened, .mat-drawer-animating) {
    .mat-mdc-list-item > .mat-mdc-focus-indicator {
      display: none;
    }
  }

  .container-navigation-bar,
  .container-navigation-rail {
    .mat-drawer .mat-drawer-inner-container {
      overflow-x: hidden;
      transition:
        opacity 66ms var(--mat-sys-motion-emphasized-accelerate),
        width 100ms var(--mat-sys-motion-emphasized-accelerate);
      opacity: 0;
      width: 0;
    }

    .mat-drawer-opened .mat-drawer-inner-container {
      opacity: 1;
      width: 100%;
      transition-delay: 66ms;
      transition-duration: 300ms;
      transition-timing-function: var(--mat-sys-motion-emphasized-decelerate);

      @starting-style {
        opacity: 0;
        width: 0;
      }
    }
  }

  .container-navigation-rail {
    .mat-drawer-container .mat-drawer-backdrop {
      margin-left: 5rem;
    }

    .mat-drawer:not(.mat-drawer-opened) {
      .mat-drawer-inner-container {
        opacity: 1;
        width: 100%;
      }

      &:not(.mat-drawer-animating) .mat-drawer-inner-container {
        display: block !important;
      }

      .fab .mdc-button__label {
        display: none;
      }

      &.mat-drawer-animating {
        .fab .mdc-button__label {
          display: none;
          opacity: 0;
          transition-delay: 0;
          transition-duration: 50ms;
        }
      }
    }
  }
}
