/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-class-pattern */

@use '@angular/material' as mat;

:host {
  display: block;
}

.mat-mdc-subheader {
  font-size: 1rem;
  font-weight: var(--mat-sys-headline-medium-weight);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mat-mdc-list-item-title {
  opacity: 0;
  transition: opacity 280ms var(--mat-sys-motion-emphasized-decelerate) 120ms;
}

:host-context(.mat-drawer) {
  .mdc-list-item--activated {
    color: var(--mat-sys-on-secondary-container) !important;
  }

  .mat-mdc-subheader {
    color: var(--mat-sys-on-surface-variant);
  }
}

:host-context(.mat-drawer-opened) {
  .mat-mdc-list-item-title {
    opacity: 1;
  }
}

:host-context(.mat-drawer.mat-drawer-animating, .mat-drawer-opened) {
  .mat-mdc-nav-list {
    padding: 0 0.75rem;
  }

  .mat-mdc-list-item {
    height: 3.5rem;

    .mat-icon {
      margin-right: 1rem;
    }
  }

  .mat-divider {
    margin: 0 1rem;
  }

  .mdc-list-item.mdc-list-item::before {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    left: 0;
    transform: none;
    transition:
      width 200ms var(--mat-sys-motion-emphasized-decelerate),
      height 200ms var(--mat-sys-motion-emphasized-decelerate);
  }

  .title-lite {
    display: none;
  }
}

:host-context(.navigation-bar),
:host-context(.container-navigation-rail .mat-drawer:not(.mat-drawer-opened)) {
  width: 100%;

  .mat-mdc-nav-list {
    transition: margin 400ms var(--mat-sys-motion-emphasized-decelerate);
    padding: 0.75rem 0 1rem;
    display: flex;
    gap: 0.75rem;

    @include mat.list-overrides(
      (
        list-item-one-line-container-height: auto,
        list-item-label-text-size: 14px,
        list-item-label-text-line-height: 1rem,
        list-item-label-text-weight: 500,
        list-item-label-text-color: var(--mat-sys-on-surface-variant),
      )
    );

    .mat-mdc-list-item-title {
      opacity: 1;
    }

    .mdc-list-item--with-leading-icon .mdc-list-item__start {
      padding-inline: var(--mat-list-list-item-leading-icon-start-space, 16px)
        var(--mat-list-list-item-leading-icon-end-space, 16px);
      margin: 0;
    }

    .mat-mdc-list-item {
      flex-direction: column;
      padding: 0;
      gap: 0.25rem;
      /* stylelint-disable-next-line plugin/browser-compat */
      -webkit-tap-highlight-color: transparent;

      .mat-icon {
        /* stylelint-disable-next-line plugin/browser-compat */
        -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        font-variation-settings:
          'FILL' 0,
          'wght' 400;
        transition: font-variation-settings 0.2s var(--mat-sys-motion-standard);
        border-radius: 1rem;
        height: 2rem;

        &::before {
          position: absolute;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          transform: scaleX(0.32);
          transition-duration: 0.2s;
          transition-property: transform, opacity;
          transition-timing-function: linear;
          border-radius: 100px;
          background-color: rgb(
            from var(--mat-sys-on-surface) r g b /
              calc(var(--mat-sys-focus-state-layer-opacity) * 100%)
          );
          content: '';
          z-index: -1;
        }
      }

      &:focus::before,
      &:hover::before {
        background-color: transparent;
      }

      &:focus,
      &:hover {
        .mat-icon {
          font-variation-settings:
            'FILL' 0,
            'wght' 600;

          &::before {
            transform: scaleX(1);
            opacity: 1 !important;
          }
        }
      }

      &:active {
        .mat-mdc-list-item-title {
          font-variation-settings: 'wght' 300;
        }

        .mat-icon {
          font-variation-settings:
            'FILL' 0,
            'wght' 300;

          &::before {
            transform: scaleX(1);
            opacity: 0 !important;
          }
        }
      }

      &.mdc-list-item--activated {
        background-color: transparent;

        @include mat.list-overrides(
          (
            list-item-label-text-color: var(--mat-sys-on-surface),
          )
        );

        .mat-mdc-list-item-title {
          font-variation-settings: 'wght' 700;
        }

        .mat-icon {
          background: var(--mat-sys-secondary-container);
          font-variation-settings:
            'FILL' 1,
            'wght' 400;
        }

        &:hover {
          .mat-mdc-list-item-title {
            font-variation-settings: 'wght' 600;
          }

          .mat-icon {
            font-variation-settings:
              'FILL' 1,
              'wght' 600;
          }
        }

        &:active {
          .mat-mdc-list-item-title {
            font-variation-settings: 'wght' 300;
          }

          .mat-icon {
            font-variation-settings:
              'FILL' 1,
              'wght' 300;
          }
        }
      }
    }
  }

  .title-full {
    display: none;
  }
}

:host-context(.container-navigation-rail .mat-drawer:not(.mat-drawer-opened)) {
  .mat-mdc-nav-list {
    flex-direction: column;
    gap: 0.75rem;
    max-width: 5rem;
    padding: 0;

    @include mat.list-overrides(
      (
        list-item-one-line-container-height: 56px,
      )
    );

    .mat-divider {
      display: none;
    }
  }

  .mat-mdc-subheader {
    display: none;
  }

  .mat-mdc-list-item {
    padding: 0 !important;
  }
}

:host-context(.container-navigation-rail .mat-drawer:not(.mat-drawer-opened).mat-drawer-animating) {
  .title-lite {
    display: block;
  }
}
