<!-- eslint-disable @angular-eslint/template/no-inline-styles -->
@let _mode = mode();
@let _navigationMode = navigationMode();
@let _openDrawer = openDrawer();
<mat-nav-list
  [attr.direction]="_mode === 'lite' ? 'right' : 'down'"
  [disableRipple]="_navigationMode !== 'drawer' && !_openDrawer"
>
  @for (item of items(); track item.url; let i = $index) {
    @if (item.divider) {
      <mat-divider [style]="'--index:' + i" />
    }
    @if (item.header) {
      <h3
        mat-subheader
        [style]="'--index:' + i"
      >
        {{ item.header }}
      </h3>
    }
    <a
      #list
      #rla="routerLinkActive"
      mat-list-item
      routerLinkActive
      [activated]="rla.isActive"
      [routerLink]="item.url"
      [routerLinkActiveOptions]="{ exact: item.exact ?? false }"
      [style]="'--index:' + i"
    >
      <mat-icon
        matListItemIcon
        matRipple
        [matRippleDisabled]="_navigationMode !== 'rail' || _openDrawer"
        [matRippleTrigger]="list._elementRef.nativeElement"
        >{{ item.icon }}</mat-icon
      >
      <span matListItemTitle>
        @if (item.title_short) {
          <span class="title-lite"> {{ item.title_short }} </span>
          <span class="title-full">
            {{ item.title }}
          </span>
        } @else {
          {{ item.title }}
        }
      </span>
    </a>
  }
</mat-nav-list>
