@let matchday = matchday$ | async;
@let _mode = mode();
@let _navigationMode = navigationMode();
@let _openDrawer = openDrawer();
<mat-nav-list
  [attr.direction]="_mode === 'lite' ? 'right' : 'down'"
  [@listItemAnimation]="_navigationMode"
  [disableRipple]="_navigationMode !== 'drawer' && !_openDrawer"
>
  @if (_mode === 'full' && matchday) {
    <h3 mat-subheader>
      <span>
        @if (!matchday.season.ended && matchday.season.started) {
          Giornata {{ matchday.number }}
        } @else {
          {{ matchday.season.name }}
        }
      </span>
    </h3>
  }
  @for (item of items(); track item.url) {
    @if (item.divider) {
      <mat-divider />
    }
    <a
      #list
      #rla="routerLinkActive"
      mat-list-item
      [routerLink]="item.url"
      routerLinkActive
      [routerLinkActiveOptions]="{ exact: item.exact ?? false }"
      [activated]="rla.isActive"
    >
      <mat-icon
        matListItemIcon
        matRipple
        [matRippleTrigger]="list._elementRef.nativeElement"
        [matRippleDisabled]="_navigationMode !== 'rail' || _openDrawer"
        >{{ item.icon }}</mat-icon
      >
      <span matListItemTitle>
        @if (item.title_short) {
          <span class="title-lite"> {{ item.title_short }} </span>
          <span class="title-full">
            {{ item.title }}
          </span>
        } @else {
          {{ item.title }}
        }
      </span>
    </a>
  }
</mat-nav-list>
