:host {
  position: sticky;
  top: 0;
  z-index: 102;
  contain: paint;
}

app-breadcrumb {
  flex: 10 1 auto;
  overflow: hidden;
}

#toolbar-tab-container {
  padding: 0;
  height: auto;
}

.mat-toolbar-row {
  background-color: inherit;
}

.mat-toolbar-row:first-child {
  view-transition-name: toolbar;
}
