:host {
  position: sticky;
  top: 0;
  z-index: 102;
  view-transition-name: toolbar;
  contain: paint;
}

app-breadcrumb {
  flex: 10 1 auto;
  overflow: hidden;
}
#toolbar-tab-container {
  padding: 0;
  height: auto;
}
