:host {
  position: sticky;
  z-index: 102;
  contain: paint;
  left: env(titlebar-area-x, 0);
  top: env(titlebar-area-y, 0);
}

app-breadcrumb {
  flex: 10 1 auto;
  overflow: hidden;
  -webkit-app-region: drag;
}

#toolbar-tab-container {
  padding: 0;
  height: auto;
}

.mat-toolbar-row {
  background-color: inherit;
}

.mat-toolbar-row:first-child {
  view-transition-name: toolbar;
  height: env(titlebar-area-height, var(--mat-toolbar-mobile-height));
  padding-right: calc(100% - (env(titlebar-area-width, 100%)));
}
@media (min-width: theme('screens.sm')) {
  .mat-toolbar-row:first-child {
    height: env(titlebar-area-height, var(--mat-toolbar-standard-height));
    padding-right: calc(100% - (env(titlebar-area-width, 100%)) + 5rem);
  }
}
@media (min-width: theme('screens.lg')) {
  .mat-toolbar-row:first-child {
    height: env(titlebar-area-height, var(--mat-toolbar-standard-height));
    padding-right: calc(100% - (env(titlebar-area-width, 100%)) + 18rem);
  }
}
