@if (dispositions(); as _dispositions) {
  @let _captain = captain();

  @for (area of areas(); track area.role.id) {
    @let label = area.toIndex - area.fromIndex > 1 ? area.role.plural : area.role.singular;
    <div
      class="flex flex-row"
      ngModelGroup="dispositions"
      [ngClass]="[area.role.abbreviation, 'area-container']"
    >
      <h5
        appSticky
        [title]="label"
      >
        {{ label | uppercase }}
      </h5>
      <div
        class="area flex flex-col justify-around md:flex-row"
        [ngClass]="{ 'md:flex-wrap': wrap }"
      >
        @for (i of area.toIndex | range: area.fromIndex; track i) {
          <ng-container [ngModelGroup]="i + ''">
            @if (_dispositions[i]; as disp) {
              <app-member-selection
                class="regular flex-md-column flex flex-row items-center justify-start"
                name="member"
                required
                [captain]="_captain && _dispositions[i].member?.id === _captain"
                [disabled]="disabled()"
                [height]="450"
                [memberList]="area.options"
                [placeholder]="area.role.singular"
                [width]="320"
                [(member)]="disp.member"
                (memberChange)="memberSelectionChange(area.role, $event)"
              />
            }
          </ng-container>
        }
      </div>
    </div>
  }
}
