.area {
  width: 100%;
  padding-bottom: 1rem;

  app-member-selection {
    // transition: flex 0.3s var(--mat-sys-motion-emphasized-decelerate);
  }
}

.area-container {
  margin: 0.5rem 0;

  h5 {
    top: 1rem;
    height: min-content;
    margin: 0;
    position: sticky;
    text-orientation: upright;
    writing-mode: vertical-lr;
    padding: 0.5rem 1.5rem 1rem 0;
    text-overflow: ellipsis;
  }
}
