<mat-sidenav-container class="hundred a">
    <mat-toolbar color="primary" class="mat-toolbar-primary mat-elevation-z4">
        <button fxHide.gt-sm mat-icon-button (click)="nav.toggle()">
            <i class="material-icons demo-toolbar-icon">menu</i>
        </button>
        <span> {{shared.pageTitle}}</span>
        <span class="spacer"></span>
        <fm-notification-list *ngIf="auth.loggedIn()"></fm-notification-list>
    </mat-toolbar>
    <mat-sidenav #nav [opened]="media.isActive('gt-sm')" [mode]="media.isActive('xs') || media.isActive('sm') ? 'over' : 'side'"
        class="mat-elevation-z6">
        <mat-toolbar *ngIf="shared.currentTeam" color="primary" [ngStyle]="{'background-image' : 'url(' + shared.currentTeam.photo_url + ')'}">
            <mat-toolbar-row>
                <span></span>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <div fxLayout="column" class="mat-toolbar-tools-bottom inset">
                    <div *ngIf="auth.user">
                        <div *ngIf="shared.teams.length > 1">
                            <button aria-label="switch" mat-icon-button [matMenuTriggerFor]="menu" class="team-switcher">
                                <span class="team-name">{{shared.currentTeam.name}}</span>
                                <mat-icon>arrow_drop_down</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item *ngFor="let team of shared.teams">
                                    <span>{{team.name}} ({{team.championship.season.name}})</span>
                                </button>
                            </mat-menu>
                        </div>
                        <div *ngIf="shared.teams.length == 1">
                            {{shared.currentTeam.name}}
                        </div>
                        <div class="email">{{auth.user.email}}</div>
                    </div>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-nav-list>
            <a (click)="closeSidenav()" mat-list-item routerLinkActive="active" routerLink="/home">
                <mat-icon matListIcon>home</mat-icon>Homepage</a>
            <a (click)="closeSidenav()" mat-list-item routerLinkActive="active" routerLink="/teams/{{shared.currentTeam.id}}" *ngIf="auth.loggedIn()">
                <mat-icon matListIcon>account_box</mat-icon>{{shared.currentTeam.name}}</a>
            <a (click)="closeSidenav()" mat-list-item routerLinkActive="active" routerLink="championships/{{shared.currentChampionship.id}}"
                *ngIf="auth.loggedIn()">
                <mat-icon matListIcon>bubble_chart</mat-icon>{{shared.currentChampionship.league.name}}</a>
            <a (click)="closeSidenav()" mat-list-item routerLinkActive="active" routerLink="clubs">
                <mat-icon matListIcon>group_work</mat-icon>Clubs</a>
            <a (click)="closeSidenav()" mat-list-item routerLinkActive="active" routerLink="profile" *ngIf="auth.loggedIn()">
                <mat-icon matListIcon>settings</mat-icon>Impostazioni</a>
            <a (click)="closeSidenav()" mat-list-item routerLinkActive="active" routerLink="login" id="login" *ngIf="!auth.loggedIn()">
                <mat-icon matListIcon>input</mat-icon>Log In</a>
            <a (click)="closeSidenav()" mat-list-item routerLinkActive="active" (click)="auth.logout()" id="logout" *ngIf="auth.loggedIn()">
                <mat-icon matListIcon>exit_to_app</mat-icon>Log Out</a>
        </mat-nav-list>
    </mat-sidenav>
    <main class="container">
        <router-outlet></router-outlet>
    </main>
</mat-sidenav-container>
<smd-fab-speed-dial [(open)]="openSpeeddial" direction="up" animationMode="scale" [fixed]="false" *ngIf="auth.loggedIn()">
    <smd-fab-trigger spin="true">
        <button aria-label="create" mat-fab (click)="_click('trigger')">
            <mat-icon>add</mat-icon>
        </button>
    </smd-fab-trigger>

    <smd-fab-actions>
        <button mat-mini-fab matTooltip="Inserisci formazione" matTooltipPosition="left" (click)="_click('lineup')">
            <mat-icon>star_rate</mat-icon>
        </button>
        <button mat-mini-fab matTooltip="Nuovo articolo" matTooltipPosition="left" (click)="_click('article')">
            <mat-icon>message</mat-icon>
        </button>
        <button mat-mini-fab matTooltip="Nuovo trasferimento" matTooltipPosition="left" (click)="_click('transfert')">
            <mat-icon>swap_vert</mat-icon>
        </button>
    </smd-fab-actions>
</smd-fab-speed-dial>