.team_switcher {
    font-size: 20px;
}

.email {
    font-size: 14px;
    font-weight: normal;
}

smd-fab-speed-dial {
    position: fixed;
    bottom: 2em;
    right: 2em;
}

.spacer {
    flex: 1 1 auto;
}

/deep/ {
    a {
        text-decoration: none;
    }
    .mat-card {
        margin-bottom: 15px;
    }
    .container {
        margin: 15px auto 0;
    }
    md-select[ng-reflect-color='white'] {
        .mat-select-disabled .mat-select-value,
        .mat-select-arrow,
        .mat-select-trigger {
            color: rgba(255, 255, 255, 0.38);
        }
        .mat-select-value {
            color: rgba(255, 255, 255, 0.87);
        }
        .mat-select-underline {
            color: rgba(255, 255, 255, 0.12);
        }
    }
    .yellow_card,
    .red_card {
        width: 10px;
        height: 15px;
        display: inline-block;
        //@include box-shadow(1px 1px 2px #AAAAAA);
    }
    .yellow_card {
        background-color: yellow;
    }
    .red_card {
        background-color: red;
    }
    @media(max-width: 599px) {
        .container {
            max-width: 100%;
        }
    }
    @media(min-width: 600px) {
        .container {
            max-width: 90%;
        }
    }
    @media(min-width: 992px) {
        .container {
            max-width: 90%;
        }
    }
}