.mat-toolbar {
    background-size: cover;
    background-position: center center;
    z-index: 1;
    position: relative;
    .team-switcher {
        font-size: 18px;
        width: 100%;
    }
    .mat-toolbar-tools-bottom {
        width: 100%;
    }
    .team-name {
        width: calc(100% - 24px);
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        text-align: left;
    }
    .email {
        font-size: 14px;
        font-weight: normal;
    }
}

smd-fab-speed-dial {
    position: fixed;
    bottom: 28px;
    right: 28px;
}

.spacer {
    flex: 1 1 auto;
}

.app-sidenav-content {
    display: flex;
    height: 100%;
}

.app-sidenav {
    padding: 20px;
}

.hundred {
    height: 100%;
}

.mat-sidenav {
    width: 340px;
    max-width: calc(100% - 54px);
}

.mat-list-item .mat-icon {
    color: #555;
    margin-right: 12px;
}

.mat-list-item.active,
.mat-list-item.active .mat-icon {
    color: #00bcd4;
    background-color: #eee;
}

::ng-deep {
    mat-progress-spinner {
        margin: 50px auto;
    }
    a {
        text-decoration: none;
        color: #ff4081;
    }
    .mat-card {
        margin-bottom: 15px;
    }
    .container {
        max-width: 100%;
        margin-top: 0;
    }
    .flex-container {
        padding-left: 1em;
        padding-right: 1em;
    }
    mat-form-field[ng-reflect-color='white'] {
        .mat-form-field-placeholder {
            color: rgba(255, 255, 255, 0.87);
        }
        .mat-form-field-underline {
            background-color: rgba(255, 255, 255, 0.12);
        }
        mat-select {
            .mat-select-disabled .mat-select-value,
            .mat-select-arrow,
            .mat-select,
            .mat-select-trigger {
                color: rgba(255, 255, 255, 0.38);
            }
            .mat-select-value {
                color: rgba(255, 255, 255, 0.87);
            }
        }
    }
    .yellow_card,
    .red_card {
        width: 10px;
        height: 15px;
        display: inline-block;
        //@include box-shadow(1px 1px 2px #AAAAAA);
    }
    .yellow_card {
        background-color: yellow;
    }
    .red_card {
        background-color: red;
    }
    // workaround for https://github.com/angular/material2/issues/2177
    .mat-tab-group .mat-tab-link {
        width: 100%;
        height: 100%;
        line-height: 50px;
        display: block;
    }
    .flex-container {
        padding-top: 10px;
    }
    @media (min-width: 600px) {
        .container {
            max-width: 90%;
            margin: 15px auto 0;
        }
        .mat-sidenav {
            width: 240px !important;
        }
    }
    @media (min-width: 960px) {
        .container {
            max-width: 90%;
        }
        smd-fab-speed-dial {
            bottom: 28px;
            left: 212px;
            right: unset !important;
        }
    }
}