<fm-toolbar #toolbar [@scrollUpAnimation]="scrollDirection"></fm-toolbar>
<mat-sidenav-container class="hundred">
  <mat-sidenav #nav [opened]="media.isActive('gt-sm')" [mode]="media.isActive('lt-md') ? 'over' : 'side'">
    <fm-navbar></fm-navbar>
  </mat-sidenav>
  <mat-sidenav-content [ngClass]="[scrollDirection]">
    <main class="container">
      <div [@routerTransition]="getState(o)">
        <router-outlet #o="outlet"></router-outlet>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
<div #pan class="pan"></div>
<fm-speed-dial #speedDial class="speed-dial" [@scrollDownAnimation]="scrollDirection"></fm-speed-dial>