<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="media.isActive('gt-sm')">
    <fm-navbar></fm-navbar>
  </mat-sidenav>
  <mat-sidenav-content [ngClass]="[scrollDirection]">

    <mat-toolbar #toolbar [@scrollUpAnimation]="toggle" color="primary" class="mat-elevation-z4">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <fm-breadcrumb></fm-breadcrumb>
      <span class="spacer"></span>
      <fm-notification-list></fm-notification-list>
    </mat-toolbar>
    <main class="container">
      <div [@routerTransition]="getState(o)">
        <router-outlet #o="outlet"></router-outlet>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
<div #pan class="pan"></div>
<fm-speed-dial #speedDial [@closeAnimation]="toggle" class="speed-dial"></fm-speed-dial>