<mat-sidenav-container>
  <mat-sidenav #drawer fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="media.isActive('gt-sm')">
    <fm-navbar></fm-navbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <fm-toolbar #toolbar [showDrawerButton]="isHandset$ | async" [state]="toggleToolbar"></fm-toolbar>
    <main>
      <div [@routerTransition]="getState(o)">
        <router-outlet #o="outlet"></router-outlet>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
<fm-speed-dial #speedDial [@closeAnimation]="toggle" class="speed-dial"></fm-speed-dial>
