<mat-toolbar
  *ngIf="app.user"
  color="primary"
  [style.background-image]="photo !== undefined ? 'url(' + (photo || '') + ')' : ''"
  [class.has-image]="photo"
>
  <mat-toolbar-row>
    <span></span>
  </mat-toolbar-row>
  <mat-toolbar-row
    class="mat-body"
    fxLayout="column"
    fxLayoutAlign="end none"
  >
    <mat-form-field
      *ngIf="app.teams?.length"
      appearance="standard"
    >
      <mat-select
        panelClass="teams-panel"
        role="listbox"
        aria-label="Squadra selezionata"
        [ngModel]="app.team"
        [compareWith]="compareFn"
        (ngModelChange)="change($event)"
      >
        <mat-select-trigger *ngIf="app.team">
          <h3>{{app.team?.name}}</h3>
        </mat-select-trigger>
        <mat-option
          *ngFor="let team of app.teams; trackBy: track"
          [value]="team"
        >
          {{team.name}}<br />
          <small>{{team.championship?.season?.name}}</small>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span>{{app.team?.championship?.season?.name}}</span>
  </mat-toolbar-row>
</mat-toolbar>
