<mat-toolbar *ngIf="app.team" color="primary" [ngStyle]="{'background-image' : 'url(' + app.team.photo_url['240w'] + ')'}">
  <mat-toolbar-row>
    <span></span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div fxLayout="column" class="mat-toolbar-tools-bottom inset">
      <div *ngIf="app.user">
        <div *ngIf="app.teams.length > 1">
          <button aria-label="switch" mat-icon-button [matMenuTriggerFor]="menu" class="team-switcher">
            <span class="team-name">{{app.team.name}}</span>
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let team of app.teams">
              <span>{{team.name}} ({{team.championship.season.name}})</span>
            </button>
          </mat-menu>
        </div>
        <div *ngIf="app.teams.length == 1">
          {{app.team.name}}
        </div>
        <div class="email">{{app.user.email}}</div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>