<div class="flex-container" fxLayoutWrap="row" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutAlign.xs="start">

    <md-card class="flex-item" fxFlex.gt-md="30" fxFlex.md="30" fxFlex.sm="45" fxFlex.xs="100" *ngFor="let club of clubs; let i=index">
        <md-card-header>
            <img md-card-avatar class="club-header-image" [src]="club.photo_url">
            <md-card-title>{{club.name}}</md-card-title>
            <md-card-subtitle>Club</md-card-subtitle>
        </md-card-header>
        <img md-card-image [src]="club.background_url || 'http://placehold.it/350x200'">
        <md-card-content>
            <p></p>
        </md-card-content>
        <md-card-actions fxLayoutAlign="end">
            <a md-button [routerLink]="['/clubs',club.id]">OPEN</a>
        </md-card-actions>
    </md-card>

</div>