<div class="flex-container" fxLayoutWrap="row" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutAlign.xs="start">

    <mat-card class="flex-item" fxFlex.gt-md="30" fxFlex.md="30" fxFlex.sm="45" fxFlex.xs="100" *ngFor="let club of clubs; let i=index">
        <mat-card-header>
            <img mat-card-avatar class="club-header-image" [src]="club.photo_url">
            <mat-card-title>{{club.name}}</mat-card-title>
            <mat-card-subtitle>Club</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="club.background_url || '//placehold.it/350x200'">
        <mat-card-content>
            <p></p>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="end">
            <a mat-button [routerLink]="['/clubs',club.id]">OPEN</a>
        </mat-card-actions>
    </mat-card>

</div>