@let _title = title();
<div
  class="parallax-container"
  [style.viewTransitionName]="(isHandset$ | async) ? '' : viewTransitionName()"
>
  <div
    #parallax
    class="parallax"
  >
    <div
      class="parallax-header-img"
      [style.viewTransitionName]="(isHandset$ | async) ? viewTransitionName() : ''"
    >
      <div
        #rellax
        appRellax
      >
        @if(backgroundImage(); as _backgroundImage) {
        <img
          fill
          priority
          ngSrcset="600w, 1280w, 1920w"
          [ngSrc]="_backgroundImage | srcset: true"
          [loaderParams]="_backgroundImage"
          [style.background-image]="placeholder()"
          [alt]="_title"
          (load)="imageLoad()"
        >
        } @else {
        <div class="placeholder">
          <span>{{_title}}</span>
        </div>
        }
      </div>
    </div>
    <div class="parallax-header-title-container">
      @if (image(); as _image) {
      <img
        width="128"
        height="128"
        priority
        [alt]="_title"
        [ngSrc]="_image"
        [style.viewTransitionName]="'avatar-' + _title"
      >
      }
      <div class="parallax-header-title">
        <a
          class="anchor"
          name="tab"
          id="tab"
        >Anchor</a>
        <h1
          class="mat-headline-4 title"
          [style.viewTransitionName]="'title-' + _title"
        >{{_title}}</h1>
        <div class="subtitle">
          @if (subtitle(); as _subtitle) {
          <p class="mat-subtitle-2">{{_subtitle}}
            <ng-content select="subtitle" />
          </p>
          }
        </div>
      </div>
      <ng-content
        class="parallax-header-right"
        select="[parallax-header-right]"
      />
    </div>
  </div>

  @if (tabs.length) {
  <nav
    mat-tab-nav-bar
    [tabPanel]="tabPanel()"
  >
    @for (tab of tabs(); track track($index, tab)) {

    @if (!tab.hidden) {
    <a
      #rla="routerLinkActive"
      mat-tab-link
      routerLinkActive
      fragment="tab"
      [active]="rla.isActive"
      [routerLink]="tab.link"
    >
      {{tab.label}}
    </a>
    }

    }
  </nav>
  }
</div>