@use '@angular/material' as mat;

.parallax-header-img {
  // max-height: 12.5rem;
  overflow: hidden;
  position: relative;

  > div {
    transition: all 200ms;
    transform: translate3d(0, 0, 0);
  }

  .no-animate {
    transition: none !important;
  }

  img {
    display: block;
    width: 100%;
  }
}

.parallax-header-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;

  img {
    height: 8rem;
    margin-top: -4rem;
    z-index: 1;
  }
}

.parallax-header-title {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    color: inherit;
  }
}

.title {
  margin: 1rem 0 0;
  text-align: center;
}

.parallax-container {
  margin: 0 0 2rem;
}

.parallax {
  min-height: 20rem;
  width: 100%;
  object-fit: cover;
}

a.anchor {
  display: block;
  position: fixed;
  top: 0;
  visibility: hidden;
}
@media (min-width: theme('screens.sm')) {
  a.anchor {
    position: relative;
    top: -18rem;
  }

  .parallax-header-img {
    // height: 300px;
    max-height: unset;

    img {
      // position: absolute;
      height: auto;
      margin: auto;
      inset: 0;
      contain: paint;
    }

    .placeholder {
      height: 66vh;
    }
  }

  .parallax-header-title {
    margin: 0 0 0 24px;
    text-align: left;
    align-items: flex-start;
    flex-grow: 1;
  }

  .parallax {
    position: relative;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: var(--mdc-outlined-card-container-shape);
    border-bottom-right-radius: var(--mdc-outlined-card-container-shape);
    overflow: hidden;
    max-height: 85vh;
  }

  .parallax-header-title-container {
    position: absolute;
    flex-direction: row;
    padding: 64px 24px 24px;
    width: 100%;
    bottom: 0;
    align-items: flex-end;

    img {
      max-height: 128px;

      // align-self: flex-end;
    }

    .mat-subtitle-2 {
      margin: 0;
    }
  }
}
