@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;

@mixin base($theme) {
}

@mixin color($theme) {
  .parallax-header-title-container {
    $dark-theme: matx.define-theme(
      (
        color: (
          theme-type: dark,
        ),
      )
    );

    color: mat.get-theme-color($dark-theme, on-surface);
    background-image: linear-gradient(
      #{mat.get-theme-color($dark-theme, surface)}00,
      #{mat.get-theme-color($dark-theme, surface)}e6
    );

    --mdc-icon-button-icon-color: #{mat.get-theme-color($dark-theme, on-surface)};
  }
}

@mixin density($theme) {
}

@mixin typography($theme) {
}

@mixin theme($theme) {
  @include mat.private-check-duplicate-theme-styles($theme, 'parallax-header') {
    @include base($theme);

    @include color($theme);
    @include density($theme);
    @include typography($theme);
  }
}
