@use '@angular/material' as mat;

@mixin base($theme) {
}

@mixin color($theme) {
  .parallax-header-img {
    background-color: mat.get-theme-color($theme, surface-container-low);
  }

  @media (min-width: theme('screens.sm')) {
    $dark-theme: mat.define-theme(
      (
        color: (
          theme-type: dark,
        ),
      )
    );

    .parallax {
      background-color: mat.get-theme-color($theme, surface-container-low);
    }

    .parallax-header-title-container {
      color: mat.get-theme-color($dark-theme, on-surface);
      animation: gradient 300ms ease forwards;
      background-image: linear-gradient(#1d1b1e00, #1d1b1ee6);

      --mdc-icon-button-icon-color: #{mat.get-theme-color($dark-theme, on-surface)};
    }

    @keyframes gradient {
      0% {
        background-position: 0 180px;
      }

      100% {
        background-position: 0 0;
      }
    }
  }
}

@mixin density($theme) {
}

@mixin typography($theme) {
}

@mixin theme($theme) {
  @include mat.private-check-duplicate-theme-styles($theme, 'parallax-header') {
    @include base($theme);
    @include color($theme);
    @include density($theme);
    @include typography($theme);
  }
}
