<div class="parallax-container">
  <div class="parallax">
    <div class="parallax-header-img">
      <div appRellax>
        <img
          placeholder="//via.placeholder.com/1200x800"
          sizes=""
          [alt]="title"
          [appSrcset]="backgroundImage"
          (load)="imageLoad($event)"
        >
      </div>
    </div>
    <div class="parallax-header-title-container">
      <img
        *ngIf="image"
        [alt]="title"
        [src]="image"
      >
      <div class="parallax-header-title">
        <h1 class="mat-headline-4 title">{{title}}</h1>
        <div class="subtitle">
          <p
            *ngIf="subtitle"
            class="mat-subtitle-2"
          >{{subtitle}}
            <ng-content select="subtitle"></ng-content>
          </p>
        </div>
      </div>
      <ng-content
        class="parallax-header-right"
        select="[parallax-header-right]"
      ></ng-content>
    </div>
  </div>
  <nav
    *ngIf="tabs.length"
    mat-tab-nav-bar
    [tabPanel]="tabPanel"
  >
    <ng-container *ngFor="let tab of tabs; trackBy: track">
      <a
        *ngIf="!tab.hidden"
        #rla="routerLinkActive"
        mat-tab-link
        routerLinkActive
        [active]="rla.isActive"
        [routerLink]="tab.link"
      >
        {{tab.label}}
      </a>
    </ng-container>
  </nav>
</div>
