@use '@angular/material' as mat;

.parallax-container {
  margin: -0.5rem -1rem 2rem;
}

.parallax-header-img {
  // max-height: 12.5rem;
  overflow: hidden;
  position: relative;
  border-bottom-left-radius: var(--mat-sys-corner-large);
  border-bottom-right-radius: var(--mat-sys-corner-large);

  > div {
    transition: all 200ms;
    transform: translate3d(0, 0, 0);
  }

  .no-animate {
    transition: none !important;
  }

  img {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: static !important;
    display: block;
    width: 100%;
  }
}

.parallax-header-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;

  img {
    height: 8rem;
    margin-top: -4rem;
    z-index: 1;
  }
}

.parallax-header-title {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    color: inherit;
  }
}

.title {
  margin: 1rem 0 0;
  text-align: center;
}

.parallax {
  min-height: 20rem;
  width: 100%;
  object-fit: cover;
  border-bottom-left-radius: var(--mat-sys-corner-large);
  border-bottom-right-radius: var(--mat-sys-corner-large);
}

a.anchor {
  display: block;
  position: fixed;
  top: 0;
  visibility: hidden;
}

.placeholder {
  max-height: 33vh;
  aspect-ratio: 16 / 9;
  margin: 0 auto;
}

@media (min-width: theme('screens.sm')) {
  a.anchor {
    position: relative;
    top: -30vh;
  }

  .parallax-container {
    margin-left: 0;
    margin-right: 0;
  }

  .parallax-header-img {
    max-height: unset;
    background-color: var(--mat-sys-surface-container-low);

    img {
      // position: absolute;
      height: auto;
      margin: auto;
      inset: 0;
      contain: paint;
      min-height: 20rem;
    }
  }

  .parallax-header-title {
    margin: 0 0 0 24px;
    text-align: left;
    align-items: flex-start;
    flex-grow: 1;
  }

  .parallax {
    position: relative;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    max-height: 85vh;
  }

  .parallax-header-title-container {
    position: absolute;
    flex-direction: row;
    padding: 64px 24px 24px;
    width: 100%;
    bottom: 0;
    align-items: flex-end;
    background-position: 0 180px;
    background-repeat: no-repeat;

    img {
      max-height: 128px;

      // align-self: flex-end;
    }

    .mat-subtitle-2 {
      margin: 0;
    }
  }
}

@media (min-width: theme('screens.sm')) {
  .parallax {
    background-color: var(--mat-sys-surface-container-low);
  }

  .parallax-header-title-container {
    color-scheme: light;
    color: var(--mat-sys-surface-bright);
    animation: gradient 400ms var(--mat-sys-motion-emphasized-decelerate) forwards;
    background-image: linear-gradient(
      transparent,
      rgb(
        from var(--mat-sys-neutral10) r g b /
          calc((1 - var(--mat-sys-hover-state-layer-opacity)) * 100%)
      )
    );

    @include mat.icon-button-overrides(
      (
        icon-color: var(--mat-sys-surface-bright),
      )
    );
  }

  @keyframes gradient {
    0% {
      background-position: 0 180px;
    }

    100% {
      background-position: 0 0;
    }
  }
}
