.mat-card {
  margin: 1rem;
  /*
  .mat-card-image + .mat-card-header,
  > .mat-card-header .mat-card-header-text:first-child {
    .mat-card-title {
      font-size: 24px;
      letter-spacing: 0;
      line-height: 32px;
    }
  }

  .mat-card-image + .mat-card-header,
  > .mat-card-header .mat-card-header-text:first-child {
    .mat-card-subtitle,
    .mat-card-title {
      font-weight: 400;
    }
  }

  .mat-card-image + .mat-card-header-text,
  > .mat-card-header .mat-card-header-text:first-child {
    margin: 0;
  }

  .mat-card-subtitle,
  .mat-card-title {
    font-weight: 500;
  }
*/
}
@media (min-width: 600px) {
  .mat-card {
    margin-left: 0;
    margin-right: 0;
  }
}
