<div class="flex-container" *ngIf="scores | async as scores; else loading">
  <mat-form-field>
    <mat-select #matchday name="score" placeholder="Giornata" (selectionChange)="getScore($event)">
      <mat-option *ngFor="let score of scores" [value]="score">{{score.matchday.number}}</mat-option>
    </mat-select>
  </mat-form-field>
  <form #scoreForm="ngForm" (ngSubmit)="save(score)" class="flex-container" *ngIf="score | async as score">
    <mat-form-field>
      <input matInput required [(ngModel)]="score.points" name="points" placeholder="Punteggio">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="score.penality" name="penality" placeholder="Motivazione penalità">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" [(ngModel)]="score.penality_points" name="penality_points" placeholder="Penalità">
    </mat-form-field>
    <fm-lineup-detail [lineup]="score.lineup"></fm-lineup-detail>
    <button color="accent" mat-raised-button type="submit">Salva</button>
  </form>
</div>
<ng-template #loading>
  <mat-progress-spinner color="accent" mode="indeterminate"></mat-progress-spinner>
</ng-template>