:host {
  width: 100%;
}

.animation-container {
  display: block;
  background: white;
  width: 100%;
  overflow: hidden;
  border-radius: 2px;
  transform-origin: 100% 0 0;
}

h3.title {
  text-align: center;
}
