<div class="animation-container mat-elevation-z4" [@openOverlayAnimation]="animationState" (@openOverlayAnimation.start)="onAnimationStart($event)"
  (@openOverlayAnimation.done)="onAnimationDone($event)">
  <div class="content">
    <h3 class="title">Notifiche</h3>
    <mat-list *ngIf="stream | async as stream; else loading" @listItemAnimation>
      <mat-list-item *ngFor="let activity of stream.results">
        <mat-icon mat-list-icon>{{activity.icon}}</mat-icon>
        <h3 mat-line> {{activity.title}} </h3>
        <p mat-line [title]="activity.time | date: 'dd/MM/y HH:mm'"> {{activity.humanTime}} </p>
        <p mat-line> {{activity.body}} </p>
      </mat-list-item>
    </mat-list>
    <ng-template #loading>
      <mat-progress-spinner color="accent" mode="indeterminate"></mat-progress-spinner>
    </ng-template>
  </div>
</div>