<ng-container *ngIf="((app.matchday$ | async)?.number|| 0) > 1; else started">
  <ng-container *ngIf="(bestPlayers$ | async) as bestPlayers; else loading">
    <div
      class="flex-container"
      fxLayout="row wrap"
      fxLayout.xs="column"
      fxLayoutAlign="space-around start"
      fxLayoutAlign.xs="start"
      @cardCreationAnimation
    >
      <ng-container *ngFor="let role of bestPlayers; trackBy: trackByRole">
        <mat-card
          appearance="outlined"
          class="flex-item"
          fxFlex.xs="100"
          fxFlex.sm="45"
          fxFlex.md="22"
          fxFlex.gt-md="22"
        >
          <app-player-image
            [inCard]="true"
            [member]="role.first"
          ></app-player-image>
          <mat-card-header>
            <mat-card-title>
              <span class="mat-text-primary">
                {{role.first.ratings[0]?.points}}
              </span>
              {{role.first.player.full_name}}
            </mat-card-title>
            <mat-card-subtitle>{{role.role}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-expansion-panel class="mat-elevation-z0">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  MOSTRA DI PIU'
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <mat-list dense>
                  <mat-list-item *ngFor="let member of role.others; trackBy: track">
                    <a
                      matLine
                      [routerLink]="['/players', member.player.id]"
                    >
                      {{member.player.full_name}}: {{member.ratings[0]?.points}}
                    </a>
                  </mat-list-item>
                </mat-list>
              </ng-template>
            </mat-expansion-panel>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </ng-container>

</ng-container>
<ng-template #started>
  <app-mat-empty-state
    label="La stagione non è ancora iniziata"
    description="Buona asta!"
    icon="wb_sunny"
    [rounded]="true"
  ></app-mat-empty-state>
</ng-template>
<ng-template #loading>
  <mat-progress-spinner
    color="accent"
    mode="indeterminate"
  ></mat-progress-spinner>
</ng-template>
