.mat-mdc-card-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  > span {
    font-size: var(--mat-sys-headline-large-size);
  }
}

@supports (view-transition-class: none) {
  .mat-mdc-card-image,
  .mat-mdc-card-title {
    view-transition-class: metadata;
  }
}
