<ng-container *ngIf="app.seasonStarted; else started">
  <ng-container *ngIf="(roles$ | async) as roles; else loading">
    <div
      *ngIf="roles[0].best_players?.length; else started"
      @cardCreationAnimation
      class="flex-container"
      fxLayout="row wrap"
      fxLayout.xs="column"
      fxLayoutAlign="space-around start"
      fxLayoutAlign.xs="start"
    >
      <mat-card
        *ngFor="let role of roles; trackBy: track"
        class="flex-item"
        fxFlex.xs="100"
        fxFlex.sm="45"
        fxFlex.md="22"
        fxFlex.gt-md="22"
      >
        <img
          mat-card-image
          [alt]=" role.best_players[0].player.full_name"
          [lazyLoad]="role.best_players[0].photo_url || ''"
          [defaultImage]="'/assets/clubs.svg#club-' + role.best_players[0].club_id"
        >

        <mat-card-header>
          <mat-card-title>
            <span class="mat-text-primary">
              {{role.best_players[0].ratings[0].points}}
            </span>
            {{role.best_players[0].player.full_name}}
          </mat-card-title>
          <mat-card-subtitle>{{role.singolar}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header>
              <mat-panel-title>
                MOSTRA DI PIU'
              </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
              <mat-list dense>
                <mat-list-item *ngFor="let member of role.best_players; trackBy: track">
                  <a
                    matLine
                    routerLink="/players/{{member.player.id}}"
                  >
                    {{member.player.full_name}}: {{member.ratings[0].points}}
                  </a>
                </mat-list-item>
              </mat-list>
            </ng-template>
          </mat-expansion-panel>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>

</ng-container>
<ng-template #started>
  <fm-mat-empty-state
    label="La stagione non è ancora iniziata"
    description="Buona asta!"
    icon="wb_sunny"
    [rounded]="true"
  ></fm-mat-empty-state>
</ng-template>
<ng-template #loading>
  <mat-progress-spinner
    color="accent"
    mode="indeterminate"
  ></mat-progress-spinner>
</ng-template>
