@if (((app.matchday$ | async)?.number|| 0) > 1) {

@if ((bestPlayers$ | async); as bestPlayers) {

<div
  class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 grid-rows-1 gap-4 md:gap-6 lg:gap-8 items-start"
  @cardCreationAnimation
>
  @for (role of bestPlayers; track role.role) {

  <mat-card appearance="outlined">
    <app-player-image
      mat-card-image
      inCard
      [member]="role.first"
    />
    <mat-card-header>
      <mat-card-title>
        <span class="mat-text-primary">
          {{role.first.ratings[0]?.points}}
        </span>
        {{role.first.player.full_name}}
      </mat-card-title>
      <mat-card-subtitle>{{role.role}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            MOSTRA DI PIU'
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <mat-list dense>
            @for (member of role.others; track member.id) {
            <mat-list-item>
              <a
                matLine
                [routerLink]="['/players', member.player.id]"
              >
                {{member.player.full_name}}: {{member.ratings[0]?.points}}
              </a>
            </mat-list-item>
            }
          </mat-list>
        </ng-template>
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>

  }
</div>

} @else {

<mat-progress-spinner
  color="accent"
  mode="indeterminate"
/>

}


} @else {

<app-mat-empty-state
  description="Buona asta!"
  icon="wb_sunny"
  label="La stagione non è ancora iniziata"
  rounded
/>

}