<form
  *ngIf="team$ | async as team"
  #teamForm="ngForm"
  (ngSubmit)="save(team)"
>
  <mat-form-field>
    <mat-label>Nome squadra</mat-label>
    <input
      name="name"
      matInput
      required
      placeholder="Nome squadra"
      [(ngModel)]="team.name"
    >
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      name="email"
      type="email"
      matInput
      required
      placeholder="Utente"
      [(ngModel)]="email"
    >
  </mat-form-field>
  <mat-slide-toggle
    name="admin"
    [(ngModel)]="team.admin"
  >Amministratore lega</mat-slide-toggle>
  <button
    type="submit"
    color="accent"
    mat-raised-button
    [disabled]="!teamForm.form.valid"
  >SALVA</button>
</form>
