<form
  #teamForm="ngForm"
  fxLayout="column"
  fxLayoutAlign="start start"
  (ngSubmit)="save()"
>
  <mat-form-field>
    <input
      name="name"
      matInput
      required
      placeholder="Nome squadra"
      [(ngModel)]="team.name"
    >
  </mat-form-field>
  <mat-form-field>
    <input
      name="email"
      type="email"
      matInput
      required
      placeholder="Utente"
      [(ngModel)]="team.user.email"
    >
  </mat-form-field>
  <mat-slide-toggle
    name="admin"
    [(ngModel)]="team.admin"
  >Amministratore lega</mat-slide-toggle>
  <button
    type="submit"
    color="accent"
    mat-raised-button
    [disabled]="!teamForm.form.valid"
  >SALVA</button>
</form>
