<h3 class="mat-subheading-1">{{caption}}</h3>
<div *ngIf="dataSource" class="mat-elevation-z4">
    <mat-table #table [dataSource]="dataSource" @tableRowAnimation>
        <ng-container matColumnDef="player">
            <mat-header-cell *matHeaderCellDef> Giocatore </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <a [routerLink]="['/players',row.member.player.id]">{{row.member.player.name}} {{row.member.player.surname}}</a>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="role">
            <mat-header-cell *matHeaderCellDef> Ruolo </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.member.role.abbreviation}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="club">
            <mat-header-cell *matHeaderCellDef> Club </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <a [routerLink]="['/clubs',row.member.club.id]">{{row.member.club.name}}</a>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="regular">
            <mat-header-cell *matHeaderCellDef> Tit </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <i *ngIf="row.member.ratings[0].regular" class="material-icons">done</i>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="yellowCard">
            <mat-header-cell *matHeaderCellDef> Amm </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <i *ngIf="row.member.ratings[0].yellow_card" class="material-icons">done</i>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="redCard">
            <mat-header-cell *matHeaderCellDef> Esp </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <i *ngIf="row.member.ratings[0].red_card" class="material-icons">done</i>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="assist">
            <mat-header-cell *matHeaderCellDef> Assist </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.member.ratings[0].assist}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="goals">
            <mat-header-cell *matHeaderCellDef> Gol </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.member.ratings[0].goals}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="points">
            <mat-header-cell *matHeaderCellDef> Punti </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.member.ratings[0].points * row.consideration}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>