:host {
  position: sticky;
  z-index: 102;
  contain: paint;
  top: 0;
  transition: box-shadow 400ms cubic-bezier(0.2, 0, 0, 1);
}

app-breadcrumb {
  flex: 10 1 auto;
  overflow: hidden;
  -webkit-app-region: drag;
}

#primary-tab-container {
  padding: 0;
  height: auto;
  view-transition-name: top-app-bar-tab-fixed;
}

.mat-toolbar-row {
  background-color: inherit;
}

.mat-toolbar-row:first-child {
  view-transition-name: top-app-bar;
}

:host-context(.window-overlayed) {
  left: env(titlebar-area-x, 0);
  top: env(titlebar-area-y, 0);

  .mat-toolbar-row:first-child {
    height: env(titlebar-area-height, var(--mat-toolbar-mobile-height));
    padding-right: calc(100% - (env(titlebar-area-width, 100%)) + 1rem);
  }

  @media (min-width: theme('screens.sm')) {
    .mat-toolbar-row:first-child {
      height: env(titlebar-area-height, var(--mat-toolbar-standard-height));
      padding-right: calc(100% - (env(titlebar-area-width, 100%)) + 6rem);
    }
  }

  @media (min-width: theme('screens.lg')) {
    .mat-toolbar-row:first-child {
      height: env(titlebar-area-height, var(--mat-toolbar-standard-height));
      padding-right: calc(100% - (env(titlebar-area-width, 100%)) + 19rem);
    }
  }
}

@media (min-width: theme('screens.md')) {
  .drawer {
    display: none;
  }
}

@media (min-width: theme('screens.sm')) {
  button {
    display: none;
  }
}
