<mat-toolbar>
  <mat-toolbar-row>
    <div class="menu">
      @defer (on viewport) {
        <app-navigation-drawer-button />
      } @placeholder {
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      }
    </div>
    <app-breadcrumb />
    <span class="spacer"></span>
    <div class="create-box flex">
      @defer {
        <app-notification [team]="team()" />
      }
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row
    id="primary-tab-container"
    [style.viewTransitionName]="viewTransitionName()"
  />
</mat-toolbar>
