@use '@angular/material' as mat;

:host {
  position: sticky;
  z-index: 102;
  contain: paint;
  top: 0;
  transition: box-shadow 200ms var(--mat-sys-motion-standard);
  view-transition-name: top-app-bar;
}

app-breadcrumb {
  flex: 10 1 auto;
  overflow: hidden;
}

#primary-tab-container {
  padding: 0;
  height: auto;
}

.mat-toolbar {
  transition: background-color 400ms var(--mat-sys-motion-standard);
}

.mat-toolbar-row {
  background-color: inherit;

  &:first-child {
    view-transition-name: top-app-bar-toolbar;
  }
}

:host-context(.with-bars) :host.is-scrolled {
  box-shadow: var(--mat-sys-level2);

  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-surface-container),
    )
  );
}

:host-context(.window-overlayed) {
  left: env(titlebar-area-x, 0);
  top: env(titlebar-area-y, 0);

  .mat-toolbar-row:first-child {
    height: env(titlebar-area-height, var(--mat-toolbar-mobile-height, 3.5rem));
    padding-right: calc(100% - (env(titlebar-area-width, 100%)) + 1rem);

    @media (min-width: theme('screens.sm')) {
      & {
        height: env(titlebar-area-height, var(--mat-toolbar-standard-height, 4rem));
        padding-right: calc(100% - (env(titlebar-area-width, 100%)) + 6rem);
      }
    }

    @media (min-width: theme('screens.lg')) {
      & {
        padding-right: calc(100% - (env(titlebar-area-width, 100%)) + 19rem);
      }
    }
  }
}

@media (min-width: theme('screens.md')) {
  .drawer {
    display: none;
  }
}

@media (min-width: theme('screens.sm')) {
  button {
    display: none;
  }
}
