@use "@angular/material" as mat;
@mixin core() {
  app-profile {
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
      background-color: transparent;
    }

    .mat-mdc-form-field-subscript-wrapper,
    .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
      display: none;
    }

    .mat-mdc-select-value {
      color: #fff;
    }
  }

  .teams-panel {
    margin-left: .5rem;

    .mat-mdc-option {
      line-height: 1 !important;
    }
  }
}
@mixin color($theme) {}
@mixin theme($theme) {
   @include core;

  $color-config: mat.get-color-config($theme);
  @if $color-config {
     @include color($theme);
  }
}
