@use "@angular/material" as mat;
@mixin core() {
  app-profile {
    /* TODO: The following rule targets internal classes of form-field that may no longer apply for the MDC version. */

    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }

    /* TODO: The following rule targets internal classes of form-field that may no longer apply for the MDC version. */

    .mat-form-field-appearance-standard .mat-form-field-underline {
      display: none;
    }

    /* TODO: The following rule targets internal classes of form-field that may no longer apply for the MDC version. */

    .mat-form-field-infix {
      padding: 0;
      border: 0;
    }

  }

  .teams-panel {
    margin-left: .5rem;

    .mat-mdc-option {
      line-height: 1 !important;
    }
  }
}
@mixin color($theme) {}
@mixin theme($theme) {
   @include core;

  $color-config: mat.get-color-config($theme);
  @if $color-config {
     @include color($theme);
  }
}
