/* stylelint-disable selector-class-pattern */
@use '@angular/material' as mat;

@mixin core() {
  app-profile {
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
      background-color: transparent;
    }
  }

  .teams-panel {
    margin-left: .5rem;

    .mat-mdc-option {
      line-height: 1 !important;
    }
  }
}

@mixin color($theme) {
}

@mixin density($theme) {
}

@mixin typography($theme) {
}

@mixin theme($theme) {
  @include core;

  @include mat.private-check-duplicate-theme-styles($theme, 'profile') {
    $color: mat.get-color-config($theme);
    $density: mat.get-density-config($theme);
    $typography: mat.get-typography-config($theme);

    @if $color {
      @include color($color);
    }

    @if $density {
      @include density($density);
    }

    @if $typography {
      @include typography($typography);
    }
  }
}
