/* stylelint-disable selector-class-pattern */
@use '@angular/material' as mat;

@mixin base($theme) {
  .teams-panel {
    margin-left: 0.5rem;
  }
}

@mixin color($theme) {
  app-profile {
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
      background-color: transparent;
    }
  }
}

@mixin density($theme) {
}

@mixin typography($theme) {
  .teams-panel .mat-mdc-option {
    line-height: 1 !important;
  }
}

@mixin theme($theme) {
  @include mat.private-check-duplicate-theme-styles($theme, 'profile') {
    @include base($theme);

    @if mat.theme-has($theme, color) {
      @include color($theme);
    }
    @if mat.theme-has($theme, density) {
      @include density($theme);
    }
    @if mat.theme-has($theme, typography) {
      @include typography($theme);
    }
  }
}
