.mat-toolbar {
  background-size: cover !important;
  background-position: center center;
  z-index: 1;
  position: relative;
  transition: background-image .5s linear;
  color: #fff !important;

  --mat-select-enabled-trigger-text-color: #fff;

  mat-toolbar-row:nth-child(2n) {
    min-height: 5.25rem;
    padding-bottom: .5rem;
  }

  h3 {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &.has-image {
    mat-toolbar-row:nth-child(2n) {
      background-image: linear-gradient(transparent, rgb(0 0 0 / 80%));
    }
  }
}
