.mat-toolbar {
  .mat-toolbar-row:first-child {
    height: auto;
  }
  img {
    border-radius: 1rem;
    margin-top: 1rem;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  mat-toolbar-row:nth-child(2n) {
    min-height: 5.25rem;
    padding-bottom: 0.5rem;
  }

  h3 {
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .mat-mdc-form-field {
    width: 100%;
  }
}
