@use '@angular/material' as mat;

:host {
  display: block;
}

.teams-panel {
  margin-left: 0.5rem;
}

.mat-toolbar {
  background-color: transparent;

  .mat-toolbar-row {
    height: auto;
  }

  img {
    border-radius: var(--mat-sys-corner-large);
    margin-top: 1rem;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  h3 {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .mat-mdc-form-field {
    width: 100%;

    @include mat.form-field-overrides(
      (
        filled-container-color: transparent,
      )
    );
  }
}
