<!-- eslint-disable @angular-eslint/template/no-inline-styles -->
@if (app.team$ | async; as team) {
<mat-toolbar
  color="primary"
  [style.background-image]="(photo$ | async) !== undefined ? 'url(' + ((photo$ | async) || '') + ')' : ''"
  [class.greyscale-image]="(photo$ | async)"
  [class.has-image]="(photo$ | async)"
>
  <mat-toolbar-row>
    <span></span>
  </mat-toolbar-row>
  <mat-toolbar-row>

    @if ((auth.user$ | async)?.teams; as teams) {
    <mat-form-field appearance="fill">
      <mat-select
        aria-label="Squadra selezionata"
        panelClass="teams-panel"
        [compareWith]="compareFn"
        [ngModel]="team"
        (ngModelChange)="change($event)"
      >
        @if (team) {
        <mat-select-trigger>
          <h3>{{team.name}}</h3>
        </mat-select-trigger>
        }
        @for (team of teams; track team.id) {
        <mat-option [value]="team">
          {{team.name}}<br />
          <small>{{team.championship.season.name}}</small>
        </mat-option>
        }
      </mat-select>
      <mat-hint>
        <span>{{team.championship.season.name}}</span>
      </mat-hint>
    </mat-form-field>
    }

  </mat-toolbar-row>
</mat-toolbar>
}