@use 'sass:map';
@use 'sass:color';
@use '@angular/material' as mat;

@mixin color($theme) {
  .greyscale,
  img {
    filter: grayscale(60%);
  }

  img[src^='//via.placeholder.com'],
  img[srcset^='//via.placeholder.com']
  {
    filter: invert(0.85);
  }

  img[src~='.svg'] {
    background-color: mat.get-theme-color($theme, primary);
  }

  a {
    color: mat.get-theme-color($theme, tertiary);
  }
}
