.role {
    width: 100%;
}

mat-select {
    min-width: 100%;
    display: inline-block !important;
}

h5 {
    padding-right: 1em;
}

.role-container {
    margin-top: 1em;
}

@media(min-width: 600px) {
    mat-select {
        min-width: 150px;
    }
}