<div *ngIf="lineup">
    <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
        <md-select name="module" [(ngModel)]="lineup.module_object" placeholder="Seleziona il modulo" (change)="changeModule()">
            <md-option *ngFor="let module of modules" [value]="module">{{module.label}}</md-option>
        </md-select>
        <md-checkbox [(ngModel)]="lineup.jolly" [attr.value]="true">Jolly</md-checkbox>
    </div>
    <div id="cloni" *ngIf="lineup.module_object">
        <div *ngFor="let key of roleKeys" [class]="key" fxLayout="row">
            <h5>{{key}}</h5>
            <div class="role" fxLayout="row" fxLayoutAlign="space-around">
                <div class="disposition" *ngFor="let key2 of lineup.module_object.map.get(key)">
                    <md-select required [(ngModel)]="lineup.dispositions[getIndex(key, key2)].member_id" [name]="key + '-' + key2">
                        <md-option *ngFor="let member of membersByRole.get(key)" [disabled]="isAlreadySelected(member)" [value]="member.id">{{member.player.surname}} {{member.player.name}}</md-option>
                    </md-select>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h5>Capitani</h5>
        <md-select *ngFor="let captain of captainsKeys" [(ngModel)]="lineup[captains.get(captain) + '_id']" [name]="captain">
            <md-option *ngFor="let member of getCapitanables()" [disabled]="isCaptainAlreadySelected(member)" [value]="member.id">{{member.player.surname}} {{member.player.name}}</md-option>
        </md-select>
    </div>
    <div>
        <h5>Panchinari</h5>

        <md-select *ngFor="let bench of benchs" [(ngModel)]="lineup.dispositions[bench].member_id" [name]="bench">
            <md-optgroup [label]="key" *ngFor="let key of roleKeys">
                <md-option *ngFor="let member of membersByRole.get(key)" [disabled]="isAlreadySelected(member)" [value]="member.id">{{member.player.surname}} {{member.player.name}}</md-option>
            </md-optgroup>
        </md-select>
    </div>
    <button md-raised-button (click)="save()">Salva</button>
</div>