<ng-container *ngIf="dispositions">
  <div
    *ngFor="let area of module.areas; trackBy: trackByArea"
    fxLayout="row"
    [ngClass]="[area.role.abbreviation, 'area-container']"
  >
    <h5
      appSticky
      [title]="area.role.plural"
    >{{area.role.plural | uppercase}}</h5>
    <div
      fxLayout="column"
      fxLayoutAlign="space-around"
      class="area"
      [fxLayout.gt-sm]="'row' + wrap ? ' wrap' : ''"
    >
      <ng-container
        *ngFor="let i of (area.toIndex | range: area.fromIndex); trackBy: trackByPosition"
        [ngModelGroup]="i + ''"
      >
        <app-member-selection
          fxLayout="row"
          fxLayout.gt-sm="column"
          fxLayoutAlign="start center"
          class="regular"
          name="member"
          [captain]="dispositions[i].member?.id === captain?.id"
          [disabled]="disabled"
          [height]="450"
          [memberList]="area.options"
          [placeholder]="area.role.singolar"
          [required]="true"
          [width]="320"
          [(member)]="dispositions[i].member"
          (memberChange)="memberSelectionChange(area.role, $event)"
        >
        </app-member-selection>
      </ng-container>
    </div>
  </div>
</ng-container>
