@if (dispositions) {

@for (area of module.areas; track area.role.id) {
<div
  class="flex flex-row"
  [ngClass]="[area.role.abbreviation, 'area-container']"
>
  <h5
    appSticky
    [title]="area.role.plural"
  >{{area.role.plural | uppercase}}</h5>
  <div
    class="area flex flex-col justify-around md:flex-row "
    [ngClass]="{'md:flex-wrap': wrap}"
  >
    @for (i of (area.toIndex | range: area.fromIndex); track i) {
    <ng-container [ngModelGroup]="i + ''">
      @if (dispositions[i]; as disp) {
      <app-member-selection
        class="regular flex flex-row flex-md-column justify-start items-center"
        name="member"
        [captain]="dispositions[i]?.member?.id === captain?.id"
        [disabled]="disabled"
        [height]="450"
        [memberList]="area.options"
        [placeholder]="area.role.singolar"
        required
        [width]="320"
        [(member)]="disp.member"
        (memberChange)="memberSelectionChange(area.role, $event)"
      />
      }
    </ng-container>
    }
  </div>
</div>
}

}
