<ng-container *ngIf="dispositions">
  <div *ngFor="let area of module.areas; trackBy: trackByArea" fxLayout="row"
    [ngClass]="[area.role.abbreviation, 'area-container']">
    <h5 appSticky [title]="area.role.plural">{{area.role.plural | uppercase}}</h5>
    <div class="area" fxLayout="column" fxLayoutAlign="space-around" [fxLayout.gt-sm]="'row' + wrap ? ' wrap' : ''">
      <ng-container *ngFor="let i of (area.toIndex | range: area.fromIndex); trackBy: trackByPosition"
        [ngModelGroup]="i + ''">
        <app-member-selection name="member" fxLayout="row" fxLayout.gt-sm="column" fxLayoutAlign="start center"
          class="regular" [disabled]="disabled" [captain]="dispositions[i].member?.id === captain?.id" [required]="true"
          [memberList]="area.options" [placeholder]="area.role.singolar" [width]="320" [height]="450"
          [(member)]="dispositions[i].member" (memberChange)="memberSelectionChange(area.role, $event)">
        </app-member-selection>
      </ng-container>
    </div>
  </div>
</ng-container>
