p {
  margin-bottom: 0;
}

.photo-container {
  position: relative;

  > img {
    border-radius: 50%;
    border: 3px solid #fff;
    animation: createBox .25s;
  }

  mat-icon {
    position: absolute;
    @include mat-elevation(4);
    background-color: #fff;
    padding: 2px;
    animation: createBox .25s;
    border-radius: 50%;

    &:nth-child(1) {
      top: 0;
      left: 0;
      transform-origin: bottom right;
    }

    &:nth-child(2) {
      top: 0;
      right: 0;
      transform-origin: bottom left;
    }

    &:nth-child(3) {
      bottom: 0;
      left: 0;
      transform-origin: top right;
    }

    &:nth-child(4) {
      bottom: 0;
      right: 0;
      transform-origin: top left;
    }
  }
}
@keyframes createBox {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
