<div class="photo-container">
  <img class="mat-elevation-z4" [src]="val && val.player.photo_url ? val.player.photo_url : '//via.placeholder.com/' + size + 'x' + size">
  <span *ngIf="val?.likely_lineup">
    <mat-icon matTooltip="Titolare" *ngIf="val.likely_lineup.regular">verified_user</mat-icon>
    <mat-icon matTooltip="Panchina" *ngIf="!val.likely_lineup.regular">event_seat</mat-icon>
    <mat-icon matTooltip="Infortunato" *ngIf="val.likely_lineup.injured">local_hospital</mat-icon>
    <mat-icon matTooltip="Squalificato" *ngIf="val.likely_lineup.disqualified">highlight_off</mat-icon>
  </span>
</div>
<mat-form-field hideRequiredMarker="true" floatLabel="never">
  <mat-select [disabled]="disabled" [placeholder]="placeholder" [attr.required]="required ? 'required' : null"
    [(ngModel)]="value" [name]="name" (selectionChange)="change($event)">
    <mat-option>{{placeholder}}</mat-option>
    <mat-select-trigger *ngIf="val">
      {{val.player.full_name}}
    </mat-select-trigger>
    <ng-container *ngIf="memberList.length">
      <mat-option *ngFor="let member of memberList" [value]="member" [disabled]="isMemberDisabled(member)">
        <span *ngIf="member.likely_lineup">
          <mat-icon matTooltip="Titolare" *ngIf="member.likely_lineup.regular">verified_user</mat-icon>
          <mat-icon matTooltip="Panchina" *ngIf="!member.likely_lineup.regular">event_seat</mat-icon>
          <mat-icon matTooltip="Infortunato" *ngIf="member.likely_lineup.injured">local_hospital</mat-icon>
          <mat-icon matTooltip="Squalificato" *ngIf="member.likely_lineup.disqualified">highlight_off</mat-icon>
        </span>{{member.player.full_name}}
      </mat-option>
    </ng-container>
    <ng-container *ngIf="memberMap">
      <mat-optgroup [label]="role" *ngFor="let role of roles">
        <mat-option *ngFor="let member of memberMap.get(role)" [disabled]="isMemberDisabled(member)" [value]="member">
          <span *ngIf="member.likely_lineup">
            <mat-icon matTooltip="Titolare" *ngIf="member.likely_lineup.regular">verified_user</mat-icon>
            <mat-icon matTooltip="Panchina" *ngIf="!member.likely_lineup.regular">event_seat</mat-icon>
            <mat-icon matTooltip="Infortunato" *ngIf="member.likely_lineup.injured">local_hospital</mat-icon>
            <mat-icon matTooltip="Squalificato" *ngIf="member.likely_lineup.disqualified">highlight_off</mat-icon>
          </span>{{member.player.full_name}}
        </mat-option>
      </mat-optgroup>
    </ng-container>
  </mat-select>
  <mat-hint *ngIf="val?.stats">
    <span>Ø Punti: {{val.stats.avg_points}}</span> -
    <span>Ø Voti: {{val.stats.avg_rating}}</span> -
    <span>Σ Gol: {{val.role_id == 1 ? val.stats.sum_goals : val.stats.sum_goals_against}}</span>
  </mat-hint>
</mat-form-field>