/* stylelint-disable plugin/browser-compat */
eco-fab-speed-dial,
eco-fab-speed-dial-trigger button {
  flex-grow: 1;
  max-width: 100%;
}

eco-fab-speed-dial-trigger {
  display: flex;
  width: 100%;
}

eco-fab-speed-dial.eco-opened eco-fab-speed-dial-trigger.eco-spin .spin405 {
  transform: rotate(405deg);
}
