<eco-fab-speed-dial
  animationMode="scale"
  class="tertiary-fab"
  [direction]="direction()"
  [(open)]="opened"
>
  <eco-fab-speed-dial-trigger [spin]="true">
    <button
      aria-label="Aggiungi"
      mat-fab
      type="button"
      [extended]="extended()"
    >
      <mat-icon class="spin405">add</mat-icon>
      Aggiungi
    </button>
  </eco-fab-speed-dial-trigger>

  <eco-fab-speed-dial-actions>
    <a
      *appSeasonActive
      mat-mini-fab
      matTooltip="Inserisci formazione"
      matTooltipPosition="left"
      title="Inserisci formazione"
      [routerLink]="'/lineups/new'"
    >
      <mat-icon svgIcon="soccer_field" />
    </a>
    <a
      mat-mini-fab
      matTooltip="Nuovo articolo"
      matTooltipPosition="left"
      [routerLink]="'/articles/new'"
    >
      <mat-icon>message</mat-icon>
    </a>
    <a
      *appSeasonActive
      mat-mini-fab
      matTooltip="Nuovo trasferimento"
      matTooltipPosition="left"
      [routerLink]="'/transferts/new'"
    >
      <mat-icon>swap_vert</mat-icon>
    </a>
  </eco-fab-speed-dial-actions>
</eco-fab-speed-dial>
