<eco-fab-speed-dial
  direction="up"
  animationMode="scale"
  [fixed]="false"
  [(open)]="openSpeeddial"
>
  <eco-fab-speed-dial-trigger [spin]="true">
    <button
      mat-fab
      aria-label="Aggiungi"
    >
      <mat-icon class="spin360">add</mat-icon>
    </button>
  </eco-fab-speed-dial-trigger>

  <eco-fab-speed-dial-actions>
    <a
      *ngIf="!app.seasonEnded && app.championship?.started"
      mat-mini-fab
      class="mat-accent"
      matTooltip="Inserisci formazione"
      matTooltipPosition="left"
      [routerLink]="['teams', this.app.team?.id, 'lineup','current']"
    >
      <mat-icon>star_rate</mat-icon>
    </a>
    <a
      mat-mini-fab
      class="mat-accent"
      matTooltip="Nuovo articolo"
      matTooltipPosition="left"
      routerLink="/articles/new"
    >
      <mat-icon>message</mat-icon>
    </a>
    <a
      *ngIf="!app.seasonEnded && app.championship?.started"
      mat-mini-fab
      class="mat-accent"
      matTooltip="Nuovo trasferimento"
      matTooltipPosition="left"
      [routerLink]="['teams', this.app.team?.id, 'transferts']"
    >
      <mat-icon>swap_vert</mat-icon>
    </a>
  </eco-fab-speed-dial-actions>
</eco-fab-speed-dial>
