.ranking-container {
  max-width: 100%;
  overflow: auto;
}

.mat-column-team-name {
  min-width: 11rem;
}

.mat-cell.matchday,
.mat-header-cell.matchday {
  text-align: right;
  min-width: 2.75rem;
}

.mat-column-points {
  padding-right: 1rem;
}
