@if ((ranking$ | async); as ranking) {
<mat-card
  appearance="outlined"
  class="ranking-container"
>
  <table
    #table
    class="ranking"
    mat-table
    [dataSource]="ranking"
    @tableRowAnimation
    [trackBy]="trackRanking"
  >
    <ng-container
      matColumnDef="team-name"
      sticky
    >
      <th
        *matHeaderCellDef
        mat-header-cell
      > Squadra </th>
      <td
        *matCellDef="let row;"
        mat-cell
      >
        <a [routerLink]="['/teams',row.team.id]">{{row.team.name}}</a>
      </td>
    </ng-container>

    <ng-container
      matColumnDef="points"
      sticky
    >
      <th
        *matHeaderCellDef
        mat-header-cell
      > Punti </th>
      <td
        *matCellDef="let row;"
        mat-cell
      > {{row.sum_points}} </td>
    </ng-container>

    @for (matchday of matchdays$ | async; track matchday) {
    <ng-container [matColumnDef]="matchday + ''">
      <th
        *matHeaderCellDef
        class="matchday"
        mat-header-cell
      > {{matchday}} </th>
      <td
        *matCellDef="let row;"
        class="matchday"
        mat-cell
      >
        <a [routerLink]="'/scores/' + row.scores[matchday].id">{{row.scores[matchday].points}}</a>
      </td>
    </ng-container>
    }

    <tr
      *matHeaderRowDef="rankingDisplayedColumns$ | async; sticky: true"
      mat-header-row
    ></tr>
    <tr
      *matRowDef="let row; columns: rankingDisplayedColumns$ | async;"
      mat-row
    ></tr>
  </table>
</mat-card>
} @else {

<mat-progress-spinner
  color="accent"
  mode="indeterminate"
/>

}