.ranking-container {
  max-width: 100%;
  overflow: auto;
}

.mat-column-team-name {
  min-width: 12rem;
}

.mat-mdc-cell.matchday,
.mat-mdc-header-cell.matchday {
  text-align: right;
  min-width: 2.75rem;
}

.mat-column-points {
  padding-right: 1rem;
  text-align: right;
}

td.mat-column-points {
  font-weight: 500;
}
