<div
  *ngIf="(ranking$ | async) as ranking; else loading"
  class="mat-elevation-z1 ranking-container table-container"
>
  <table
    @tableRowAnimation
    #table
    mat-table
    class="ranking"
    [trackBy]="trackRanking"
    [dataSource]="ranking"
  >
    <ng-container
      matColumnDef="teamName"
      sticky
    >
      <th
        *matHeaderCellDef
        mat-header-cell
      > Squadra </th>
      <td
        *matCellDef="let row;"
        mat-cell
      >
        <a [routerLink]="['/teams',row.team.id]">{{row.team.name}}</a>
      </td>
    </ng-container>

    <ng-container
      matColumnDef="points"
      sticky
    >
      <th
        *matHeaderCellDef
        mat-header-cell
      > Punti </th>
      <td
        *matCellDef="let row;"
        mat-cell
      > {{row.sum_points}} </td>
    </ng-container>

    <ng-container
      *ngFor="let matchday of matchdays; trackBy: track"
      [matColumnDef]="matchday + ''"
    >
      <th
        *matHeaderCellDef
        mat-header-cell
        class="matchday"
      > {{matchday}} </th>
      <td
        *matCellDef="let row;"
        mat-cell
        class="matchday"
      >
        <a routerLink="/scores/{{row.scores[matchday].id}}">{{row.scores[matchday].points}}</a>
      </td>
    </ng-container>

    <tr
      *matHeaderRowDef="rankingDisplayedColumns; sticky: true"
      mat-header-row
    ></tr>
    <tr
      *matRowDef="let row; columns: rankingDisplayedColumns;"
      mat-row
    ></tr>
  </table>

</div>
<ng-template #loading>
  <mat-progress-spinner
    color="accent"
    mode="indeterminate"
  ></mat-progress-spinner>
</ng-template>
