:host {
  display: block;
}

.mat-empty-state-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mat-empty-state.mat-rounded {
  min-width: 20rem;
  min-height: 20rem;
  border-radius: 50%;
  background-color: var(--mat-sys-surface-container);
  color: var(--mat-sys-on-surface);

  .mat-empty-state-container {
    padding: 40px;
    position: absolute;
    inset: 0;
  }
}

.mat-empty-state {
  max-width: calc(100vw - 4rem);
  max-height: calc(100vw - 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  padding: 36px;
  margin: 0 auto;
  position: relative;
}

.mat-empty-state-description {
  margin: 1em 0;
  font: var(--mat-sys-title-medium);
}

.mat-empty-state-icon {
  width: 8rem;
  min-width: 8rem;
  height: 8rem;
  font-size: 8rem !important;
  margin: 0;
  color: var(--mat-sys-primary);
}

.mat-empty-state-label {
  font: var(--mat-sys-title-large);
}

@media (min-width: theme('screens.sm')) {
  .mat-empty-state-icon {
    width: 10rem;
    min-width: 10rem;
    height: 10rem;
    font-size: 10rem !important;
  }
}
