// @use "@angular/flex-layout/mq";

:host {
  display: block;
}

.mat-empty-state.mat-rounded {
  min-width: 320px;
  min-height: 320px;
  border-radius: 50%;
}

.mat-empty-state {
  max-width: calc(100vw - 4rem);
  max-height: calc(100vw - 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  padding: 36px;
  margin: 0 auto;
  position: relative;
}

.mat-empty-state-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mat-empty-state.mat-rounded .mat-empty-state-container {
  padding: 40px;
  position: absolute;
  inset: 0;
}

.mat-empty-state-label {
  font-size: 26px;
  font-weight: 500;
  line-height: 40px;
}

.mat-empty-state-description {
  margin: 1em 0;
  font-size: 16px;
  line-height: 24px;
}

.mat-empty-state-icon {
  width: 120px;
  min-width: 120px;
  height: 120px;
  font-size: 120px !important;
  margin: 0;
}

// @include mq.layout-bp(gt-xs) {
@media (min-width: theme('screens.sm')) {
  .mat-empty-state-icon {
    width: 160px;
    min-width: 160px;
    height: 160px;
    font-size: 160px !important;
  }
}
