@use 'sass:map';
@use '@angular/material' as mat;

@mixin base($theme) {
}

@mixin color($theme) {
  .mat-empty-state.mat-rounded {
    background-color: mat.get-theme-color($theme, surface-container-low);
    color: mat.get-theme-color($theme, on-surface);
  }

  .mat-empty-state-icon {
    color: mat.get-theme-color($theme, primary);
  }
}

@mixin density($theme) {
}

@mixin typography($theme) {
}

@mixin theme($theme) {
  @include mat.private-check-duplicate-theme-styles($theme, 'mat-empty-state') {
    @include base($theme);
    @include color($theme);
    @include density($theme);
    @include typography($theme);
  }
}
