@use 'sass:map';
@use '@angular/material' as mat;

@mixin base($theme) {
}

@mixin color($theme) {
  .mat-empty-state.mat-rounded {
    background-color: mat.get-theme-color($theme, surface-container);
    color: mat.get-theme-color($theme, on-surface);
  }

  .mat-empty-state-icon {
    color: mat.get-theme-color($theme, primary);
  }
}

@mixin density($theme) {
}

@mixin typography($theme) {
  .mat-empty-state-label {
    font-size: mat.get-theme-typography($theme, title-medium, font-size);
    font-weight: mat.get-theme-typography($theme, title-medium, font-weight);
    line-height: mat.get-theme-typography($theme, title-medium, line-height);
  }

  .mat-empty-state-description {
    font-size: mat.get-theme-typography($theme, title-small, font-size);
    font-weight: mat.get-theme-typography($theme, title-small, font-weight);
    line-height: mat.get-theme-typography($theme, title-small, line-height);
  }
}

@mixin theme($theme) {
  @include mat.private-check-duplicate-theme-styles($theme, 'mat-empty-state') {
    @include base($theme);
    @include color($theme);
    @include density($theme);
    @include typography($theme);
  }
}
