@use 'sass:map';
@use '@angular/material' as mat;

@mixin core($theme) {
}

@mixin color($theme) {
  $foreground: map.get($theme, foreground);
  $background: map.get($theme, background);

  .mat-empty-state.mat-rounded {
    background-color: mat.get-color-from-palette($background, 'app-bar');
  }

  .mat-empty-state-icon {
    color: mat.get-color-from-palette($foreground, 'icon');
  }
}

@mixin density($theme) {
}

@mixin typography($theme) {
}

@mixin theme($theme) {
  @include core($theme);

  @include mat.private-check-duplicate-theme-styles($theme, 'mat-empty-state') {
    $color: mat.get-color-config($theme);
    $density: mat.get-density-config($theme);
    $typography: mat.get-typography-config($theme);

    @if $color {
      @include color($color);
    }

    @if $density {
      @include density($density);
    }

    @if $typography {
      @include typography($typography);
    }
  }
}
