<!-- eslint-disable @angular-eslint/template/no-inline-styles -->
<div
  class="mat-empty-state"
  [style.height.px]="size"
  [class.mat-rounded]="rounded"
  [style.width.px]="size"
>
  <div class="mat-empty-state-container">
    <mat-icon
      *ngIf="icon"
      class="mat-empty-state-icon"
    >
      {{icon}}
    </mat-icon>
    <strong class="mat-empty-state-label">{{label}}</strong>
    <p
      *ngIf="description"
      class="mat-empty-state-description"
    >
      {{description}}
    </p>
    <ng-content></ng-content>
  </div>
</div>
