@if (team$ | async; as team) {
<form
  #transfertForm="ngForm"
  class="flex flex-col justify-start items-start"
  (ngSubmit)="submit(team)"
>
  <mat-form-field>
    <mat-select
      name="old_member"
      placeholder="Vecchio giocatore"
      required
      [compareWith]="compareFn"
      [(ngModel)]="transfert.old_member"
      (selectionChange)="playerChange($event.value)"
    >
      @for (member of oldMembers$ | async; track member.id) {
      <mat-option [value]="member">{{ member.player.full_name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select
      #newMember
      name="new_member"
      placeholder="Nuovo giocatore"
      required
      [compareWith]="compareFn"
      [(ngModel)]="transfert.new_member"
    >
      @for (member of newMembers$ | async; track member.id) {
      <mat-option [value]="member">{{ member.player.full_name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-slide-toggle
    name="constrained"
    [(ngModel)]="transfert.constrained"
  >Obbligato</mat-slide-toggle>
  <button
    color="accent"
    mat-raised-button
    type="submit"
    [disabled]="!transfertForm.form.valid"
  >SALVA</button>
</form>
}