<form
  *ngIf="team$ | async as team"
  #transfertForm="ngForm"
  class="flex flex-col justify-start items-start"
  (ngSubmit)="submit(team)"
>
  <mat-form-field>
    <mat-select
      name="old_member"
      placeholder="Vecchio giocatore"
      required
      [compareWith]="compareFn"
      [(ngModel)]="transfert.old_member"
      (selectionChange)="playerChange($event.value)"
    >
      <mat-option
        *ngFor="let member of oldMembers$ | async; trackBy: track"
        [value]="member"
      >{{ member.player.full_name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select
      #newMember
      name="new_member"
      placeholder="Nuovo giocatore"
      required
      [compareWith]="compareFn"
      [(ngModel)]="transfert.new_member"
    >
      <mat-option
        *ngFor="let member of newMembers$ | async; trackBy: track"
        [value]="member"
      >{{ member.player.full_name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-slide-toggle
    name="constrained"
    [(ngModel)]="transfert.constrained"
  >Obbligato</mat-slide-toggle>
  <button
    color="accent"
    mat-raised-button
    type="submit"
    [disabled]="!transfertForm.form.valid"
  >SALVA</button>
</form>
