<form
  *ngIf="team$ | async as team"
  #transfertForm="ngForm"
  fxLayout="column"
  fxLayoutAlign="start start"
  (ngSubmit)="submit(team)"
>
  <app-member-selection
    *ngIf="oldMembers$ | async as oldMembers"
    name="old_member"
    placeholder="Vecchio giocatore"
    [height]="450"
    [members]="oldMembers"
    [width]="320"
    [ngModel]="transfert.old_member"
    (ngModelChange)="playerChange($event.value)"
  >
  </app-member-selection>
  <mat-form-field>
    <mat-select
      name="old_member"
      required
      placeholder="Vecchio giocatore"
      [compareWith]="compareFn"
      [(ngModel)]="transfert.old_member"
      (selectionChange)="playerChange($event.value)"
    >
      <mat-option
        *ngFor="let member of oldMembers$ | async; trackBy: track"
        [value]="member"
      >{{ member.player.full_name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select
      #newMember
      name="new_member"
      required
      placeholder="Nuovo giocatore"
      [compareWith]="compareFn"
      [(ngModel)]="transfert.new_member"
    >
      <mat-option
        *ngFor="let member of newMembers$ | async; trackBy: track"
        [value]="member"
      >{{ member.player.full_name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-slide-toggle
    name="constrained"
    [(ngModel)]="transfert.constrained"
  >Obbligato</mat-slide-toggle>
  <button
    color="accent"
    type="submit"
    mat-raised-button
    [disabled]="!transfertForm.form.valid"
  >SALVA</button>
</form>
