<cdk-virtual-scroll-viewport
  *ngIf="!ds.isEmpty"
  class="viewport"
  itemSize="88"
>
  <mat-list @listItemAnimation>
    <ng-container *cdkVirtualFor="let activity of ds">
      <mat-list-item *ngIf="activity; else placeholder">
        <mat-icon matListItemIcon>{{activity.icon}}</mat-icon>
        <h3 matListItemTitle> {{activity.title}} </h3>
        <span
          matListItemLine
          [title]="(activity.time | date: 'dd/MM/y HH:mm')"
        > {{activity.humanTime}} </span>
        <span matListItemLine> {{activity.body}} </span>
      </mat-list-item>
      <ng-template #placeholder>
        <content-loader
          height="88"
          preserveAspectRatio="none"
          [style.width.px]="width"
        >
          <svg:rect
            height="15"
            rx="3"
            ry="3"
            width="250"
            x="66"
            y="17"
          />
          <svg:rect
            height="10"
            rx="3"
            ry="3"
            width="100"
            x="66"
            y="42"
          />
          <svg:rect
            height="10"
            rx="3"
            ry="3"
            width="90%"
            x="66"
            y="62"
          />
          <svg:circle
            cx="33"
            cy="44"
            r="20"
          />
        </content-loader>
      </ng-template>
    </ng-container>
  </mat-list>
</cdk-virtual-scroll-viewport>
<app-mat-empty-state
  *ngIf="ds.isEmpty"
  icon="message"
  label="Ancora nessuna attività"
></app-mat-empty-state>