@use 'sass:map';
@use '@angular/material' as mat;

@mixin core($theme) {
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  app-member-selection .mat-mdc-form-field-infix {
    display: flex !important;
    align-items: center;
  }

  @media (min-width: theme('screens.md')) {
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    app-member-selection .mat-mdc-form-field-infix {
      display: block !important;
    }
  }
}

@mixin color($theme) {
  $foreground: map.get($theme, foreground);
  $background: map.get($theme, background);

  .photo-container > .img-container {
    border-color: mat.get-color-from-palette($background, 'card');
  }

  .circle .mat-icon,
  .circle > span {
    background-color: mat.get-color-from-palette($background, 'card');
  }

  .mat-mdc-option .icon-container {
    color: mat.get-color-from-palette($foreground, 'secondary-text');
  }
}

@mixin density($theme) {
}

@mixin typography($theme) {
}

@mixin theme($theme) {
  @include core($theme);

  @include mat.private-check-duplicate-theme-styles($theme, 'member-selection') {
    $color: mat.get-color-config($theme);
    $density: mat.get-density-config($theme);
    $typography: mat.get-typography-config($theme);

    @if $color {
      @include color($color);
    }

    @if $density {
      @include density($density);
    }

    @if $typography {
      @include typography($typography);
    }
  }
}
