@use '~@angular/material' as mat;
@import '~@angular/flex-layout/mq';
@mixin member-selection-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .photo-container {
    > .img-container {
      border-color: mat.get-color-from-palette($background,'card');
    }
  }

  .circle .mat-icon {
    background-color: mat.get-color-from-palette($background, 'card');
  }

  app-member-selection .mat-form-field-infix {
    display: flex !important;
    align-items: center;
  }
  @include layout-bp(gt-sm) {
    app-member-selection .mat-form-field-infix {
      display: block !important;
    }
  }
}
