@import '~@angular/flex-layout/mq';

.mat-form-field {
  max-width: 100%;
  margin-top: -1rem;
  flex-grow: 1;
}

.mat-form-field.ng-invalid .img-container {
  border-color: #f44336;
}

.photo-container {
  position: relative;
  text-align: center;
  margin: 0 1rem 0 0;

  > .img-container {
    border-radius: 50%;
    box-sizing: border-box;
    max-width: 64px;
    border-style: solid;
    border-width: 2px;
    overflow: hidden;
    padding: 0 .5rem;
    display: inline-block;
    height: 100%;
    transition: border-color .5s;

    > img {
      transform: scale(1.45);
      transform-origin: top;
      max-width: 100%;
    }
  }

}

.select-container {
  max-width: 100%;
}
@include layout-bp(gt-sm) {
  :host {
    overflow: hidden;
    max-width: 180px;
    display: inline-block;
    margin: 1rem .5rem 0;
  }

  .photo-container {
    margin: 0 0 1rem;

    > .img-container {
      max-width: calc(100% - 1rem);
      padding: 0 1rem;
      margin: 0 .25rem;
      border-width: 4px;
      display: inline-flex;
    }
  }

  :host-context(.benchwarmers) .img-container {
    max-width: calc(100% - 4rem) !important;
  }
}
