<mat-form-field
  hideRequiredMarker="true"
  floatLabel="never"
  appearance="standard"
>
  <div class="photo-container">
    <div class="img-container mat-elevation-z2">
      <app-player-image [member]="value || undefined"></app-player-image>
    </div>
    <app-member-icons
      *ngIf="value && value?.likely_lineup"
      @createBox
      [captain]="captain"
      [member]="value"
      [circle]="true"
    >
    </app-member-icons>
  </div>
  <mat-select
    #memberSelection="ngModel"
    [disabled]="disabled"
    [placeholder]="placeholder"
    [required]="required"
    [name]="name"
    [compareWith]="compareFn"
    [(ngModel)]="value"
  >
    <mat-option>{{placeholder}}</mat-option>
    <mat-select-trigger *ngIf="value">
      {{value.player.full_name}}
    </mat-select-trigger>
    <ng-container *ngIf="group === false else optgroup">
      <mat-option
        *ngFor="let opt of memberOptions; trackBy: track"
        [value]="opt.member"
      >
        <app-member-icons [member]="opt.member"></app-member-icons>
      </mat-option>
    </ng-container>
    <ng-template #optgroup>
      <mat-optgroup
        *ngFor="let role of (memberOptionsMap | keyvalue), trackBy: trackMember"
        [label]="role.key.plural"
      >
        <mat-option
          *ngFor="let opt of role.value; trackBy: track"
          [value]="opt.member"
          [disabled]="opt.disabled"
        >
          <app-member-icons [member]="opt.member"></app-member-icons>
        </mat-option>
      </mat-optgroup>
    </ng-template>
  </mat-select>
  <mat-error *ngIf="memberSelection.errors?.['required']">Seleziona il giocatore</mat-error>
  <mat-hint *ngIf="value?.stats">
    <span>Ø P.ti: {{value?.stats?.avg_points | number: '1.1-1'}}</span> -
    <span>Ø Voti: {{value?.stats?.avg_rating | number: '1.1-1'}}</span> -
    <span>Σ Gol: {{value?.role_id !== 1 ? value?.stats?.sum_goals : value?.stats?.sum_goals_against}}</span>
  </mat-hint>
</mat-form-field>
