<mat-form-field
  hideRequiredMarker="true"
  floatLabel="never"
  appearance="standard"
>
  <div class="photo-container">
    <div class="img-container mat-elevation-z2">
      <app-player-image [member]="member || undefined"></app-player-image>
    </div>
    <app-member-icons
      *ngIf="member && member?.likely_lineup"
      @createBox
      [captain]="captain"
      [member]="member"
      [circle]="true"
    >
    </app-member-icons>
  </div>
  <mat-select
    #memberSelection="ngModel"
    [disabled]="disabled"
    [placeholder]="placeholder"
    [required]="required"
    [name]="name"
    [compareWith]="compareFn"
    [(ngModel)]="member"
    (ngModelChange)="change($event)"
  >
    <mat-option>{{placeholder}}</mat-option>
    <mat-select-trigger *ngIf="member">
      {{member?.player?.full_name}}
    </mat-select-trigger>
    <ng-container *ngIf="memberList?.length">
      <mat-option
        *ngFor="let opt of memberList; trackBy: track"
        [value]="opt.member"
        [disabled]="opt.disabled"
      >
        <app-member-icons [member]="opt.member"></app-member-icons>
      </mat-option>
    </ng-container>
    <ng-container *ngIf="memberMap">
      <mat-optgroup
        *ngFor="let role of (memberMap | keyvalue), trackBy: trackMember"
        [label]="role.key.plural"
      >
        <mat-option
          *ngFor="let opt of role.value; trackBy: track"
          [value]="opt.member"
          [disabled]="opt.disabled"
        >
          <app-member-icons [member]="opt.member"></app-member-icons>
        </mat-option>
      </mat-optgroup>
    </ng-container>
  </mat-select>
  <mat-error *ngIf="memberSelection.errors?.required">Seleziona il giocatore</mat-error>
  <mat-hint *ngIf="member?.stats">
    <span>Ø P.ti: {{member?.stats?.avg_points | number: '1.1-1'}}</span> -
    <span>Ø Voti: {{member?.stats?.avg_rating | number: '1.1-1'}}</span> -
    <span>Σ Gol: {{member?.role_id !== 1 ? member?.stats?.sum_goals : member?.stats?.sum_goals_against}}</span>
  </mat-hint>
</mat-form-field>
