<div class="photo-container" @createBox>
  <div class="img-container mat-elevation-z2">
    <img [alt]="val?.player?.full_name || placeholder"
      [defaultImage]="val ? (val.club_id | cdi) : '//via.placeholder.com/' + width + 'x' + height"
      [lazyLoad]="val?.player?.photo_url">
  </div>
  <fm-member-icons *ngIf="val?.likely_lineup" @createBox [captain]="captain" [member]="val" [circle]="true">
  </fm-member-icons>
</div>
<mat-form-field hideRequiredMarker="true" floatLabel="never" appearance="standard">
  <mat-select [disabled]="disabled" [placeholder]="placeholder" [attr.required]="required" [(ngModel)]="val"
    [name]="name" (selectionChange)="change($event)">
    <mat-option>{{placeholder}}</mat-option>
    <mat-select-trigger *ngIf="val">
      {{val.player.full_name}}
    </mat-select-trigger>
    <ng-container *ngIf="memberList?.length">
      <mat-option *ngFor="let member of memberList" [value]="member" [disabled]="isMemberDisabled(member)">
        <fm-member-icons [member]="member"></fm-member-icons>
      </mat-option>
    </ng-container>
    <ng-container *ngIf="memberMap">
      <mat-optgroup [label]="role.key.plural" *ngFor="let role of memberMap | keyvalue">
        <mat-option *ngFor="let member of role.value" [value]="member" [disabled]="isMemberDisabled(member)">
          <fm-member-icons [member]="member"></fm-member-icons>
        </mat-option>
      </mat-optgroup>
    </ng-container>
  </mat-select>
  <mat-hint *ngIf="val?.stats">
    <span>Ø P.ti: {{val.stats?.avg_points | number: '1.1-1'}}</span> -
    <span>Ø Voti: {{val.stats?.avg_rating | number: '1.1-1'}}</span> -
    <span>Σ Gol: {{val.role_id != 1 ? val.stats?.sum_goals : val.stats?.sum_goals_against}}</span>
  </mat-hint>
</mat-form-field>
