@import '~@angular/flex-layout/mq';

:host {
  margin: 0 .5rem;
}

.mat-form-field {
  max-width: 100%;
  margin-top: -.5rem;
  flex-grow: 1;
}

.photo-container {
  position: relative;
  text-align: center;
  margin: .5rem 1rem 0 0;

  > img {
    border-radius: 50%;
    box-sizing: border-box;
    max-width: 64px;
  }
}

.select-container {
  max-width: 100%;
}
@include layout-bp(gt-xs) {
  :host {
    overflow: hidden;
    max-width: 180px;
    display: inline-block;
  }

  .photo-container {
    margin: 0;

    > img {
      max-width: calc(100% - .5rem);
    }
  }
}
