@use 'sass:map';
@use '@angular/material' as mat;
@mixin core() {}
@mixin color($theme) {
  $primary: map.get($theme, primary);
  $foreground: map.get($theme, foreground);

  .mat-mdc-list-item .mat-icon {
    color: mat.get-color-from-palette($foreground, 'icon');
  }

  .mat-mdc-list-item.active,
  .mat-list-item.active:active,
  .mat-list-item.active:hover {
    background-color: mat.get-color-from-palette($primary, 0.12) !important;
    color: mat.get-color-from-palette($primary) !important;

    .mat-icon {
      color: mat.get-color-from-palette($primary, 'darker') !important;
    }
  }
}
@mixin theme($theme) {
   @include core;

  $color-config: mat.get-color-config($theme);
  @if $color-config {
     @include color($theme);
  }
}
