.speed-dial {
  padding: 1rem;
  display: none;
  z-index: 1;
  position: relative;
}

.mat-mdc-nav-list {
  padding: 0 0.75rem;
}

.mat-mdc-list-item .mat-icon {
  margin-right: 1rem;
}

mat-mdc-list .mat-mdc-list-item,
.mat-mdc-selection-list .mat-mdc-list-item,
.mat-mdc-nav-list .mat-mdc-list-item {
  height: 3.5rem;
  border-radius: 1.75rem;

  --mdc-list-list-item-leading-icon-size: 24px;
}

.mat-divider {
  margin: 0 1rem;
}

.toggle {
  display: none;
}

@media (min-width: theme('screens.sm')) {
  .speed-dial {
    display: flex;
  }
}
