@use 'sass:map';
@use '@angular/material' as mat;

@mixin core($theme) {
}

@mixin color($theme) {
  $primary: map.get($theme, primary);
  $foreground: map.get($theme, foreground);
  $darker: mat.get-color-from-palette($primary, 'darker');
  $icon: mat.get-color-from-palette($foreground, 'icon');

  .mat-mdc-nav-list {
    --mdc-list-list-item-hover-state-layer-color: #{$darker};
    --mdc-list-list-item-focus-state-layer-color: #{$darker};
    --mdc-list-list-item-hover-label-text-color: #{$darker};
    --mdc-list-list-item-focus-label-text-color: #{$darker};
    --mdc-list-list-item-hover-leading-icon-color: #{$darker};
    --mdc-list-list-item-leading-icon-color: #{$icon};
  }
}

@mixin density($theme) {
}

@mixin typography($theme) {
}

@mixin theme($theme) {
  @include core($theme);

  @include mat.private-check-duplicate-theme-styles($theme, 'navbar') {
    $color: mat.get-color-config($theme);
    $density: mat.get-density-config($theme);
    $typography: mat.get-typography-config($theme);

    @if $color {
      @include color($color);
    }

    @if $density {
      @include density($density);
    }

    @if $typography {
      @include typography($typography);
    }
  }
}
