@use '@angular/material' as mat;

@mixin base($theme) {
}

@mixin color($theme) {
  .mdc-list-item--activated {
    background-color: mat.get-theme-color($theme, secondary-container);
    color: mat.get-theme-color($theme, on-secondary-container) !important;
  }

  .mat-mdc-subheader {
    color: mat.get-theme-color($theme, on-surface-variant);
  }
}

@mixin density($theme) {
}

@mixin typography($theme) {
}

@mixin theme($theme) {
  @include mat.private-check-duplicate-theme-styles($theme, 'navbar') {
    @include base($theme);
    @include color($theme);
    @include density($theme);
    @include typography($theme);
  }
}
