<ng-template [cdkPortal]>
  @if (tabs().length) {
    <nav
      fitInkBarToContent
      mat-tab-nav-bar
      [tabPanel]="tabPanel"
    >
      @for (tab of tabs(); track tab.link) {
        <a
          #rla="routerLinkActive"
          mat-tab-link
          routerLinkActive
          [active]="rla.isActive"
          [fragment]="fragment()"
          [routerLink]="tab.link"
        >
          {{ tab.label }}
        </a>
      }
    </nav>
  }
</ng-template>
<ng-content />
<div
  #tabPanel
  class="tabbed-container"
  [style.viewTransitionName]="viewTransitionName()"
>
  <router-outlet #o="outlet" />
</div>
