<div
  *ngIf="(teams$ | async) as teams; else loading"
  @cardCreationAnimation
  class="flex-container"
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign="space-around flex-start"
  fxLayoutAlign.xs="start"
>
  <mat-card
    *ngFor="let team of teams; let i=index; trackBy: track"
    class="flex-item"
    fxFlex.xs="100"
    fxFlex.sm="45"
    fxFlex.md="30"
    fxFlex.gt-md="30"
  >
    <img
      mat-card-image
      sizes="(min-width: 60em) calc(.3 * (100vw - 15em)), (min-width: 37.5em) 45vw, calc(100vw - 1em)"
      defaultImage="//via.placeholder.com/350x200"
      [alt]="team.name"
      [lazyLoad]="(team.photo_url | srcset)"
      [useSrcset]="true"
    >
    <mat-card-header>
      <mat-card-title>{{team.name}}</mat-card-title>
      <mat-card-subtitle>{{team.user.email}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <a
        mat-button
        color="primary"
        [routerLink]="['/teams/',team.id]"
      >DETTAGLI</a>
      <a
        mat-button
        color="primary"
        [routerLink]="['/teams/',team.id, 'scores','last']"
      >PUNTEGGIO</a>
    </mat-card-actions>
  </mat-card>
</div>
<ng-template #loading>
  <mat-progress-spinner
    *ngIf="!exit"
    color="accent"
    mode="indeterminate"
  ></mat-progress-spinner>
</ng-template>
