<div
  *ngIf="(teams$ | async) as teams; else loading"
  class="flex-container"
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign="space-around flex-start"
  fxLayoutAlign.xs="start"
  @cardCreationAnimation
>
  <mat-card
    *ngFor="let team of teams; let i=index; trackBy: track"
    appearance="outlined"
    class="flex-item"
    fxFlex.gt-md="30"
    fxFlex.md="30"
    fxFlex.sm="45"
    fxFlex.xs="100"
  >
    <figure
      class="aspect-ratio-box"
      mat-card-image
    >
      <img
        defaultImage="//via.placeholder.com/600x450"
        height="450"
        sizes="(min-width: 60em) calc(.3 * (100vw - 15em)), (min-width: 37.5em) 45vw, calc(100vw - 1em)"
        width="600"
        [alt]="team.name"
        [class.has-image]="team.photo_url !== null"
        [lazyLoad]="(team.photo_url | srcset)"
        [useSrcset]="true"
      >
    </figure>
    <mat-card-header>
      <mat-card-title>{{team.name}}</mat-card-title>
      <mat-card-subtitle>{{team.user.email}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <a
        color="primary"
        mat-button
        [routerLink]="['/teams/',team.id]"
      >DETTAGLI</a>
      <a
        color="primary"
        mat-button
        [routerLink]="['/teams/',team.id, 'scores','last']"
      >PUNTEGGIO</a>
    </mat-card-actions>
  </mat-card>
</div>
<ng-template #loading>
  <mat-progress-spinner
    color="accent"
    mode="indeterminate"
  ></mat-progress-spinner>
</ng-template>
