<div
  class="flex-container"
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign="space-around flex-start"
  fxLayoutAlign.xs="start"
  @cardCreationAnimation
>
  <a
    class="flex-item"
    fxFlex.gt-md="30"
    fxFlex.md="30"
    fxFlex.sm="45"
    fxFlex.xs="100"
    routerLink="../members"
  >
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Modifica giocatori</mat-card-title>
      </mat-card-header>
      <mat-card-content></mat-card-content>
    </mat-card>
  </a>

  <a
    class="flex-item"
    fxFlex.gt-md="30"
    fxFlex.md="30"
    fxFlex.sm="45"
    fxFlex.xs="100"
    routerLink="../new_transfert"
  >
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Nuovo trasferimento</mat-card-title>
      </mat-card-header>
      <mat-card-content></mat-card-content>
    </mat-card>
  </a>

  <a
    class="flex-item"
    fxFlex.gt-md="30"
    fxFlex.md="30"
    fxFlex.sm="45"
    fxFlex.xs="100"
    routerLink="../score/edit"
  >
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Modifica punteggio</mat-card-title>
      </mat-card-header>
    </mat-card>
  </a>
</div>
