<div
  class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 grid-rows-1 gap-4 md:gap-6 lg:gap-8"
  @cardCreationAnimation
>
  <a routerLink="../members">
    <mat-card
      appearance="outlined"
      fragment="tab"
    >
      <mat-card-header>
        <mat-card-title>Modifica giocatori</mat-card-title>
      </mat-card-header>
      <mat-card-content />
    </mat-card>
  </a>

  <a
    routerLink="../new_transfert"
    fragment="tab"
  >
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Nuovo trasferimento</mat-card-title>
      </mat-card-header>
      <mat-card-content />
    </mat-card>
  </a>

  <a
    routerLink="../score/edit"
    fragment="tab"
  >
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Modifica punteggio</mat-card-title>
      </mat-card-header>
      <mat-card-content />
    </mat-card>
  </a>
</div>