@if ((selectedMember$ | async); as selectedMember;) {
<div
 
  @enterDetailAnimation
>
  <div class="animation-container">
    <app-parallax-header
      [backgroundImage]="selectedMember.club.background_url"
      [image]="selectedMember.photo_url || player.photo_url || '/assets/svg/clubs.svg#club-' + selectedMember.club_id"
      [subtitle]="selectedMember.role.singolar + ' - ' + selectedMember.club.name"
      [title]="player.full_name"
      (imageLoaded)="scrollTo($event)"
    >
      <div
        class="inherit-color"
        parallax-header-right
      >
        @if (selectedMember.free) {
<a
         
          mat-button
          [queryParams]="{new_member_id: selectedMember.id}"
          [routerLink]="'/teams/' + (app.team$ | async)?.id + '/transferts'"
        >
          Acquista
        </a>
}
        <mat-form-field>
          <mat-label>Stagione</mat-label>
          <mat-select
            placeholder="Stagione"
            [ngModel]="selectedMember"
            (selectionChange)="selectedMember$.next($event.value)"
          >
            @for (member of player.members; track track($index, member)) {
  <mat-option
             
              [value]="member"
            >
              {{ member.season.name }}
            </mat-option>
}
          </mat-select>
        </mat-form-field>
      </div>
    </app-parallax-header>
  </div>
</div>
}
@if ((ratings$ | async); as ratings) {
<div
 
  class="table-container"
>
  <table
    #table
    mat-table
    matSort
    [dataSource]="ratings"
    @tableRowAnimation
    [trackBy]="trackRating"
  >
    <ng-container matColumnDef="matchday">
      <th
        *matHeaderCellDef
        mat-header-cell
      >
        <span
          matTooltip="Giornata"
          matTooltipPosition="above"
        >#</span>
      </th>
      <td
        *matCellDef="let row;"
        mat-cell
      >
        {{row.matchday.number}}
      <td>
    </ng-container>

    <ng-container matColumnDef="rating">
      <th
        *matHeaderCellDef
        mat-header-cell
        mat-sort-header
      > Voto </th>
      <td
        *matCellDef="let row;"
        mat-cell
      >
        {{row.rating}}
      <td>
    </ng-container>

    <ng-container matColumnDef="points">
      <th
        *matHeaderCellDef
        mat-header-cell
        mat-sort-header
      > Punti </th>
      <td
        *matCellDef="let row;"
        mat-cell
      >
        {{row.points}}
      <td>
    </ng-container>

    <ng-container matColumnDef="goals">
      <th
        *matHeaderCellDef
        mat-header-cell
        mat-sort-header
      > Gol </th>
      <td
        *matCellDef="let row;"
        mat-cell
      >
        {{row.goals}}
      <td>
    </ng-container>

    <ng-container matColumnDef="goals_against">
      <th
        *matHeaderCellDef
        mat-header-cell
        mat-sort-header
      > Gol s </th>
      <td
        *matCellDef="let row;"
        mat-cell
      >
        {{row.goals_against}}
      <td>
    </ng-container>

    <ng-container matColumnDef="assist">
      <th
        *matHeaderCellDef
        mat-header-cell
        mat-sort-header
      > Assist </th>
      <td
        *matCellDef="let row;"
        mat-cell
      >
        {{row.assist}}
      <td>
    </ng-container>

    <ng-container matColumnDef="penalities_scored">
      <th
        *matHeaderCellDef
        mat-header-cell
        mat-sort-header
      > Rig </th>
      <td
        *matCellDef="let row;"
        mat-cell
      >
        {{row.penalities_scored}}
      <td>
    </ng-container>

    <ng-container matColumnDef="penalities_taken">
      <th
        *matHeaderCellDef
        mat-header-cell
      > Rig s </th>
      <td
        *matCellDef="let row;"
        mat-cell
      >
        {{row.penalities_taken}}
      <td>
    </ng-container>

    <ng-container matColumnDef="regular">
      <th
        *matHeaderCellDef
        mat-header-cell
        mat-sort-header
      >
        <span
          matTooltip="Titolare"
          matTooltipPosition="above"
        >Tit</span>
      </th>
      <td
        *matCellDef="let row;"
        mat-cell
      >
        @if (row.regular) {
<mat-icon>done</mat-icon>
}
      <td>
    </ng-container>

    <ng-container matColumnDef="yellow_card">
      <th
        *matHeaderCellDef
        mat-header-cell
        mat-sort-header
      >
        <span
          class="yellow-card"
          matTooltip="Ammonizioni"
          matTooltipPosition="above"
        ></span>
      </th>
      <td
        *matCellDef="let row;"
        mat-cell
      >
        @if (row.yellow_card) {
<mat-icon>done</mat-icon>
}
      <td>
    </ng-container>

    <ng-container matColumnDef="red_card">
      <th
        *matHeaderCellDef
        mat-header-cell
        mat-sort-header
      >
        <span
          class="red-card"
          matTooltip="Espulsioni"
          matTooltipPosition="above"
        ></span>
      </th>
      <td
        *matCellDef="let row;"
        mat-cell
      >
        @if (row.red_card) {
<mat-icon>done</mat-icon>
}
      <td>
    </ng-container>

    <ng-container matColumnDef="quotation">
      <th
        *matHeaderCellDef
        mat-header-cell
        mat-sort-header
      >
        <span
          matTooltip="Quotazione"
          matTooltipPosition="above"
        >Q.</span>
      </th>
      <td
        *matCellDef="let row;"
        mat-cell
      >
        {{row.quotation}}
      <td>
    </ng-container>

    <tr
      *matHeaderRowDef="displayedColumns; sticky: true"
      mat-header-row
    ></tr>
    <tr
      *matRowDef="let row; columns: displayedColumns;"
      mat-row
    ></tr>
  </table>
</div>
} @else {

  <mat-progress-spinner
    color="accent"
    mode="indeterminate"
   />

}
