@use 'pkg:@angular/material' as mat;

.member-selection {
  color-scheme: dark;

  @include mat.form-field-overrides(
    (
      filled-container-color: transparent,
      filled-label-text-color: --mat-sys-surface-bright,
      filled-active-indicator-color: --mat-sys-surface-bright,
    )
  );
  @include mat.select-overrides(
    (
      enabled-trigger-text-color: --mat-sys-surface-bright,
      enabled-arrow-color: --mat-sys-surface-bright,
    )
  );
}
