<div *ngIf="dataSource.data.length; else loading">
    <mat-table #table [dataSource]="dataSource" @tableRowAnimation matSort>
        <ng-container matColumnDef="player">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Giocatore </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <a [routerLink]="['/players',row.player.id]">{{row.player.name}} {{row.player.surname}}</a>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="role">
            <mat-header-cell *matHeaderCellDef> Ruolo </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.role.abbreviation}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="club">
            <mat-header-cell *matHeaderCellDef> Club </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <a [routerLink]="['/clubs',row.club.id]">{{row.club.name}}</a>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="sum_present">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Presenze </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.stats.sum_present}} ({{row.stats.sum_valued}})</mat-cell>
        </ng-container>

        <ng-container matColumnDef="avg_points">
            <mat-header-cell *matHeaderCellDef mat-sort-header> MP </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.stats.avg_points}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="avg_rating">
            <mat-header-cell *matHeaderCellDef mat-sort-header> MV </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.stats.avg_rating}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="sum_goals">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Gol </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.stats.sum_goals}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="sum_goals_against">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Gol subiti </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.stats.sum_goals_against}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="sum_assist">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Assist </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.stats.sum_assist}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="sum_yellow_card">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Amm </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.stats.sum_yellow_card}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="sum_red_card">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Esp </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.stats.sum_red_card}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
<ng-template #loading>
    <mat-progress-spinner color="accent" mode="indeterminate"></mat-progress-spinner>
</ng-template>