<h3>Selezione giocatori</h3>
<p>Quì è possibile selezionare il giocatore che si vuole acquistare. Se il giocatore risulta già selezionato da
  una squadra inferiore alla tua in classifica allora riceverai un messaggio di errore. Al contrario il giocatore
  sarà selezionato per la tua squadra.<br />Se successivamento il proprietario di una squadra inferiore alla tua
  seleziona il tuo stesso giocatore perderai la priorità e una notifica ti avviserà dell'accaduto in modo che tu possa
  selezionare un nuovo giocatore.<br />I trasferimenti saranno eseguiti nella nottata del giorno di inizio della
  giornata (ad esempio se la giornata è il 25/12 saranno attivi dalle ore 02:00 del 25/12).<br />Se il giocatore
  svincolato è già stato schierato in formazione verrà sostituito automaticamente con il nuovo giocatore.<br />E'
  possibile cambiare il giocatore selezionato 2 volte.</p>
<form
  *ngIf="(members$ | async) as members;"
  #selectionForm="ngForm"
  (ngSubmit)="save()"
>
  <div class="row">
    <mat-form-field>
      <mat-label>Vecchio giocatore</mat-label>
      <mat-select
        name="old_member"
        placeholder="Vecchio giocatore"
        required
        [compareWith]="compareFn"
        [(ngModel)]="selection.old_member"
        (selectionChange)="playerChange()"
      >
        <mat-optgroup
          *ngFor="let role of (members | keyvalue: descOrder); trackBy: track"
          [label]="role.key.plural"
          [disabled]="newPlayerRole$.value && role.key !== newPlayerRole$.value"
        >
          <mat-option
            *ngFor="let member of role.value"
            [value]="member"
          >{{ member.player.full_name }}</mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nuovo giocatore</mat-label>
      <mat-select
        #newMember
        name="new_member"
        required
        placeholder="Nuovo giocatore"
        [compareWith]="compareFn"
        [(ngModel)]="selection.new_member"
      >
        <mat-option
          *ngFor="let member of (newMembers$ | async); trackBy: trackMember"
          [value]="member"
        >
          {{ member.player.full_name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row center">
    <button
      type="submit"
      color="accent"
      mat-raised-button
      [disabled]="!selectionForm.form.valid"
    >SALVA</button>
    <button
      type="reset"
      mat-raised-button
      (click)="reset()"
    >SVUOTA</button>
  </div>
</form>
