<h3>Selezione giocatori</h3>
<p>Quì è possibile selezionare il giocatore che si vuole acquistare. Se il giocatore risulta già selezionato da
  una squadra inferiore alla tua in classifica allora riceverai un messaggio di errore. Al contrario il giocatore
  sarà selezionato per la tua squadra.<br />Se successivamento il proprietario di una squadra inferiore alla tua
  seleziona il tuo stesso giocatore perderai la priorità e una notifica ti avviserà dell'accaduto in modo che tu possa
  selezionare un nuovo giocatore.<br />I trasferimenti saranno eseguiti nella nottata del giorno di inizio della
  giornata (ad esempio se la giornata è il 25/12 saranno attivi dalle ore 02:00 del 25/12).<br />Se il giocatore
  svincolato è già stato schierato in formazione verrà sostituito automaticamente con il nuovo giocatore.<br />E'
  possibile cambiare il giocatore selezionato 2 volte.</p>
<form #selectionForm="ngForm" (ngSubmit)="save()" *ngIf="members$ | async as members">
  <div class="row">
    <mat-form-field>
      <mat-label>Vecchio giocatore</mat-label>
      <mat-select [compareWith]="compareFn" required (selectionChange)="playerChange()"
        [(ngModel)]="selection.old_member" name="old_member" placeholder="Vecchio giocatore">
        <mat-optgroup *ngFor="let _role of members | keyvalue:descOrder; trackBy: track" [label]="_role.key.plural"
          [disabled]="isDisabled(_role.key)">
          <mat-option *ngFor="let member of _role.value" [value]="member">{{ member.player.full_name }}</mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nuovo giocatore</mat-label>
      <mat-select [compareWith]="compareFn" required #newMember [(ngModel)]="selection.new_member" name="new_member"
        placeholder="Nuovo giocatore">
        <mat-option *ngFor="let member of newMembers$ | async; trackBy: trackMember" [value]="member">
          {{ member.player.full_name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row center">
    <button color="accent" mat-raised-button type="submit" [disabled]="!selectionForm.form.valid">SALVA</button>
    <button mat-raised-button type="reset" (click)="reset()">SVUOTA</button>
  </div>
</form>
