<mat-list *ngIf="events.length" @listItemAnimation (scrolled)="onScrollDown()" infiniteScroll [fromRoot]="true" [infiniteScrollContainer]="'mat-sidenav-content'">
    <mat-list-item *ngFor="let event of events">
        <mat-icon mat-list-icon>{{event.icon}}</mat-icon>
        <h3 mat-line> {{event.title}} </h3>
        <p mat-line> {{event.created_at | date: 'dd/MM/y HH:mm'}} </p>
        <p mat-line> {{event.body}} </p>
    </mat-list-item>
</mat-list>
<mat-progress-spinner *ngIf="isLoading" color="accent" mode="indeterminate"></mat-progress-spinner>