@if(tabs$ | async; as tabs) { @let _team = team();
<app-primary-tab
  fragment="tab"
  [tabs]="tabs"
>
  <div class="animation-container">
    <app-parallax-header
      contextParam="team_id"
      [backgroundImage]="_team.photo_url ?? undefined"
      [placeholder]="placeholder"
      [subtitle]="_team.user.name + ' ' + _team.user.surname"
      [title]="_team.name"
      (imageLoaded)="scrollTo($event)"
    >
      @if (_team.user.id === (auth.user$ | async)?.id && !app.seasonEnded()) {
      <div parallax-header-right>
        <button
          aria-label="Settings"
          mat-icon-button
          type="button"
          (click)="openDialog(_team)"
        >
          <mat-icon>settings</mat-icon>
        </button>
      </div>
      }
    </app-parallax-header>
  </div>
</app-primary-tab>
}
