@if(tabs$ | async; as tabs) {
<app-toolbar-tab
  [tabs]="tabs"
  fragment="tab"
>
  <div class="animation-container">
    <app-parallax-header
      contextParam="team_id"
      [placeholder]="placeholder"
      [backgroundImage]="team().photo_url"
      [subtitle]="team().user.name + ' ' + team().user.surname"
      [title]="team().name"
      (imageLoaded)="scrollTo($event)"
    >
      @if (team().user.id === (auth.user$ | async)?.id && !app.seasonEnded) {
      <div parallax-header-right>
        <button
          aria-label="Settings"
          mat-icon-button
          type="button"
          (click)="openDialog(team())"
        >
          <mat-icon>settings</mat-icon>
        </button>
      </div>
      }
    </app-parallax-header>
  </div>
</app-toolbar-tab>
}
