<ng-container *ngIf="team$ | async as team;">
  <div @enterDetailAnimation>
    <div class="animation-container">
      <fm-parallax-header [backgroundImage]="team.photo_url" [tabs]="tabs" [title]="team.name"
        [subtitle]="team.user.name + ' ' + team.user.surname">
        <div parallax-header-right *ngIf="team.user.id == app.user?.id && !app.seasonEnded">
          <button mat-icon-button (click)="openDialog(team)" aria-label="Settings">
            <mat-icon>settings</mat-icon>
          </button>
        </div>
      </fm-parallax-header>
    </div>
  </div>
  <div class="tabbed-container">
    <router-outlet #o1="outlet"></router-outlet>
  </div>
</ng-container>
