<div *ngIf="team | async as team" @enterDetailAnimation>
  <div class="animation-container">
    <fm-parallax-header [backgroundImage]="team.photo_url" [tabs]="tabs" [title]="team.name"
      [subtitle]="team.user.name + ' ' + team.user.surname + ' - '">
      <div parallax-header-right *ngIf="team.user.id == app.user.id && !app.seasonEnded">
        <button mat-icon-button (click)="openDialog()" aria-label="Settings">
          <mat-icon>settings</mat-icon>
        </button>
      </div>
    </fm-parallax-header>

    <div [@tabTransition]="getState(o)" class="tabbed-container">
      <router-outlet #o="outlet"></router-outlet>
    </div>
  </div>
</div>
