/* You can add global styles to this file, and also import other style files */

// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.app-container,
body,
html {
  margin: 0;
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #fafafa;
  // background-color: #00bcd4;
}

.mat-sidenav-content {
  display: flex;
  height: 100%;
  padding-top: 4em;
  height: calc(100% - 4em) !important;

  > .mat-toolbar {
    position: fixed;
    top: 0;
    z-index: 2;
  }
}

mat-progress-spinner {
  margin: 50px auto;
}

a {
  text-decoration: none;
  color: #ff4081;
}

.mat-card {
  margin-bottom: 15px;
}

.flex-container {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 10px;
}

mat-form-field.white {
  .mat-form-field-placeholder {
    color: rgba(255, 255, 255, 0.87);
  }

  .mat-form-field-underline {
    background-color: rgba(255, 255, 255, 0.12);
  }

  mat-select {
    .mat-select,
    .mat-select-arrow,
    .mat-select-disabled .mat-select-value,
    .mat-select-trigger {
      color: rgba(255, 255, 255, 0.38);
    }

    .mat-select-value {
      color: rgba(255, 255, 255, 0.87);
    }
  }
}

.red_card,
.yellow_card {
  width: 10px;
  height: 15px;
  display: inline-block; //@include box-shadow(1px 1px 2px #AAAAAA);
}

.yellow_card {
  background-color: yellow;
}

.red_card {
  background-color: red;
}
// workaround for https://github.com/angular/material2/issues/2177

.mat-tab-group .mat-tab-link {
  width: 100%;
  height: 100%;
  line-height: 50px;
  display: block;
}
