/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import '~app/shared/styles/card-custom';
@import '~app/shared/styles/table-custom';

.app-container,
body,
html {
  margin: 0;
  height: 100%;
}

router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #fafafa;
  // background-color: #00bcd4;
}

.tabbed-container {
  min-height: calc(100vh - 400px);
}

.spacer {
  flex: 1 1 auto;
}

.hundred {
  height: 100%;
}

.mat-progress-spinner {
  margin: 3rem auto 5rem;
}

a {
  text-decoration: none;
  color: #ff4081;
}

.mat-tab-group {
  margin-bottom: 1rem;
  // workaround for https://github.com/angular/material2/issues/2177
  .mat-tab-link {
    width: 100%;
    height: 100%;
    line-height: 3rem;
    display: block;
  }

  .mat-tab-label-content {
    width: 100%;
  }
}

.red_card,
.yellow_card {
  width: .75rem;
  height: 1rem;
  display: inline-block;
  @include mat-elevation(1);
}

.yellow_card {
  background-color: yellow;

}

.red_card {
  background-color: red;
}

.ng-lazyloaded {
  animation: fadein .5s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.mat-form-field.white {
  .mat-form-field-label {
    color: rgba(255, 255, 255, 0.87);
  }

  .mat-form-field-underline {
    background-color: rgba(255, 255, 255, 0.12);
  }

  mat-select {
    .mat-select,
    .mat-select-arrow,
    .mat-select-disabled .mat-select-value,
    .mat-select-trigger {
      color: rgba(255, 255, 255, 0.38);
    }

    .mat-select-value {
      color: rgba(255, 255, 255, 0.87);
    }
  }
}
