<mat-toolbar *ngIf="app.user" color="primary"
  [style.background-image]="app.team?.photo_url ? 'url(' + app.team?.photo_url['240w'] + ')' : ''"
  [class.has-image]="app.team?.photo_url != null">
  <mat-toolbar-row>
    <span></span>
  </mat-toolbar-row>
  <mat-toolbar-row class="mat-body" fxLayout="column" fxLayoutAlign="end none">
    <mat-form-field appearance="standard" *ngIf="app.teams.length">
      <mat-select [(ngModel)]="app.team" panelClass="teams-panel" role="listbox" aria-label="Squadra selezionata">
        <mat-select-trigger *ngIf="app.team">
          <h3>{{app.team.name}}</h3>
        </mat-select-trigger>
        <mat-option *ngFor="let team of app.teams" [value]="team">
          {{team.name}}<br />
          <small>{{team.championship.season.name}}</small>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span>{{app.user.email}}</span>
  </mat-toolbar-row>
</mat-toolbar>
