<mat-toolbar *ngIf="app.team" color="primary" [lazyLoad]="getPhoto()">
  <mat-toolbar-row>
    <span></span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div fxLayout="column" class="mat-toolbar-tools-bottom inset">
      <div *ngIf="app.user">
        <div *ngIf="app.teams.length > 1">
          <button aria-label="switch" mat-icon-button [matMenuTriggerFor]="menu" class="team-switcher">

            <span class="team-name">{{app.team.name}}
              <br />
              <span class="email">{{app.user.email}}</span>
            </span>

            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="setTeam(team)" *ngFor="let team of app.teams">
              <div>{{team.name}}</div>
              <small>{{team.championship.season.name}}</small>
            </button>
          </mat-menu>
        </div>
        <div *ngIf="app.teams.length == 1">
          {{app.team.name}}
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
