:root {
  flex: 10 1 auto;
  overflow: hidden;
}

nav {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.breadcrumb {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;

  li {
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    min-width: 41px;
  }

  .mat-icon {
    vertical-align: text-bottom;
  }

  a {
    color: inherit;
  }
}
