@use '@angular/material' as mat;

// @use "@angular/flex-layout/mq";
@mixin core() {
  .mat-mdc-card {
    margin: 1rem;
  }

  .mat-mdc-card-header-text {
    max-width: 100%;
  }

  @media (min-width: theme('screens.md')) {
    // @include mq.layout-bp(gt-md) {
    .mat-mdc-card {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

@mixin color($theme) {
}

@mixin density($theme) {
}

@mixin typography($theme) {
}

@mixin theme($theme) {
  @include core;

  @include mat.private-check-duplicate-theme-styles($theme, 'card') {
    $color: mat.get-color-config($theme);
    $density: mat.get-density-config($theme);
    $typography: mat.get-typography-config($theme);

    @if $color {
      @include color($color);
    }

    @if $density {
      @include density($density);
    }

    @if $typography {
      @include typography($typography);
    }
  }
}
