/* stylelint-disable selector-class-pattern */
@use '@angular/material' as mat;

// @use "@angular/flex-layout/mq";
@mixin base($theme) {
  .mat-mdc-card {
    overflow-y: hidden;

    .mat-mdc-card-header-text {
      overflow: hidden;
    }

    .mdc-card__media:first-child {
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
    }
  }
}

@mixin color($theme) {
  .mat-mdc-card {
    @include mat.card-overrides(
      (
        outlined-container-color: mat.get-theme-color($theme, surface-container-low),
      )
    );
  }
}

@mixin density($theme) {
}

@mixin typography($theme) {
}

@mixin theme($theme) {
  @include mat.private-check-duplicate-theme-styles($theme, 'card') {
    @include base($theme);
    @include color($theme);
    @include density($theme);
    @include typography($theme);
  }
}
