@use '@angular/material' as mat;

// @use "@angular/flex-layout/mq";
@mixin base($theme) {
  .mat-mdc-card {
    margin: 1rem;
    overflow: hidden;
  }

  .mat-mdc-card-header-text {
    max-width: 100%;
  }

  @media (min-width: theme('screens.md')) {
    // @include mq.layout-bp(gt-md) {
    .mat-mdc-card {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

@mixin color($theme) {
}

@mixin density($theme) {
}

@mixin typography($theme) {
}

@mixin theme($theme) {
  @include mat.private-check-duplicate-theme-styles($theme, 'card') {
    @include base($theme);
    @include color($theme);

    @include density($theme);

    @include typography($theme);
  }
}
