@use '@angular/material' as mat;

@mixin core($theme) {
  .inherit-color {
    .mat-mdc-select-arrow,
    .mat-mdc-form-field-label,
    .mat-focused .mat-mdc-form-field-label,
    .mat-mdc-form-field.mat-focused .mat-mdc-select-arrow,
    .mat-mdc-select-value {
      color: inherit;
    }
  }
}

@mixin color($theme) {
}

@mixin density($theme) {
}

@mixin typography($theme) {
}

@mixin theme($theme) {
  @include core($theme);

  @include mat.private-check-duplicate-theme-styles($theme, 'form') {
    $color: mat.get-color-config($theme);
    $density: mat.get-density-config($theme);
    $typography: mat.get-typography-config($theme);

    @if $color {
      @include color($color);
    }

    @if $density {
      @include density($density);
    }

    @if $typography {
      @include typography($typography);
    }
  }
}
