@use '@angular/material' as mat;
@use '../themes/theme-colors';

@mixin material() {
  & {
    --mat-sys-motion-emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);
    --mat-sys-motion-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);
    --mat-sys-motion-standard: cubic-bezier(0.2, 0, 0, 1);

    @include mat.theme(
      (
        color: (
          primary: theme-colors.$primary-palette,
          tertiary: theme-colors.$tertiary-palette,
        ),
        typography: "'Exo 2', sans-serif",
        density: 0,
      )
    );
    @include mat.stepper-overrides(
      (
        container-color: transparent,
      )
    );
    @include mat.expansion-overrides(
      (
        container-background-color: transparent,
      )
    );

    .tertiary-fab {
      @include mat.fab-overrides(
        (
          container-color: var(--mat-sys-tertiary-container),
        )
      );
    }
  }
}
