/* stylelint-disable selector-class-pattern */
@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
  & {
    scrollbar-width: thin;
    scrollbar-color: var(--mat-sys-secondary-fixed-dim) transparent;

    [cdkscrollable] {
      scrollbar-width: thin;
      scrollbar-color: var(--mat-sys-secondary-fixed-dim) transparent;
    }
  }
}
