/* stylelint-disable plugin/browser-compat */

@mixin scrollbar() {
  & {
    scrollbar-width: thin;
    scrollbar-color: var(--mat-sys-secondary-fixed-dim) transparent;

    [cdkscrollable] {
      scrollbar-width: thin;
      scrollbar-color: var(--mat-sys-secondary-fixed-dim) transparent;
    }
  }
}
