/* stylelint-disable selector-class-pattern */
@use 'sass:map';
@use 'sass:string';
@use '@angular/material' as mat;

@mixin theme($theme) {
  & {
    font-family: var(--mat-sys-body-medium-font);
  }

  body {
    margin: 0;
    height: 100%;
  }

  figure {
    margin: 0;
  }

  fieldset {
    margin: 0;
    padding: 0;
    border: 0;
  }

  .sticky {
    transition: top 0.2s cubic-bezier(0.05, 0.7, 0.1, 1);
  }

  .spacer {
    flex: 1 1 auto;
  }

  .mat-mdc-progress-spinner {
    margin: 3rem auto 5rem;
  }

  .mat-expansion-panel-body {
    padding: 0 12px;
  }

  a {
    text-decoration: none;
    color: var(--mat-sys-on-primary-container);
  }

  .red-card,
  .yellow-card {
    width: 0.75rem;
    height: 1rem;
    border-radius: 3px;
    display: inline-block;
    box-shadow: var(--mat-sys-level1);
  }

  .yellow-card {
    background-color: yellow;
  }

  .red-card {
    background-color: red;
  }

  content-loader svg {
    max-height: 100%;
  }

  .cdk-virtual-scroll-content-wrapper {
    width: 100%;
    overflow: hidden;
  }

  .placeholder {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--mat-sys-surface-container-low);
    color: var(--mat-sys-on-surface);
    font-size: 2rem;
  }

  .mat-text-accent {
    color: var(--mat-sys-tertiary);
  }

  .mat-text-primary {
    color: var(--mat-sys-primary);
  }

  ::selection {
    background: var(--mat-sys-tertiary);
    color: var(--mat-sys-on-tertiary);
  }

  img[src*='.svg'] {
    background-color: var(--mat-sys-surface-container-low);
  }

  .cdk-virtual-scroll-viewport {
    --mat-skeleton-background-color: #{var(--mat-sys-secondary-fixed-dim)};
    --mat-skeleton-foreground-color: #{var(--mat-sys-secondary-fixed)};
  }

  @media (prefers-color-scheme: dark) {
    .greyscale,
    img {
      filter: grayscale(60%);
    }
  }
}
