@use 'sass:map';
@use 'sass:color';
@use '@angular/material' as mat;

@mixin base($theme) {
  .mat-mdc-table {
    width: 100%;
    border-radius: 4px;

    thead > .mat-mdc-header-row {
      border-radius: 4px;
    }
  }

  .table-container {
    overflow-x: auto;
    border-radius: 4px;
  }

  .mat-mdc-table-header {
    width: 100%;
    padding: 1.25rem 1.5rem;
    min-height: 4rem;
    text-align: left;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    overflow: hidden;
  }

  .mat-mdc-table-header-selected {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.25rem 1.5rem;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    animation: slide-down 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
  }

  .mat-mdc-table-title {
    font-size: 20px;
  }

  .mat-mdc-cell,
  .mat-mdc-header-cell {
    padding-right: 1rem;
  }

  .mat-cell-numeric,
  .mat-footer-cell-numeric,
  .mat-header-cell-numeric {
    text-align: right !important;

    .mat-sort-header-container {
      flex-direction: row-reverse;
    }

    .mat-sort-header-arrow {
      margin: 0 6px 0 0;
    }
  }

  @keyframes slide-down {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@mixin color($theme) {
  .mat-mdc-cell,
  .mat-mdc-header-cell {
    border-color: mat.get-theme-color($theme, outline-variant);
  }

  .mat-mdc-table {
    background-color: inherit;

    .mat-mdc-row:hover .mat-mdc-cell {
      background-color: mat.get-theme-color($theme, primary-fixed-dim);
      color: mat.get-theme-color($theme, on-primary-fixed);

      a {
        color: inherit;
      }
    }

    .mat-mdc-table-sticky-border-elem-right {
      border-left: 1px solid mat.get-theme-color($theme, outline-variant);
    }

    .mat-mdc-table-sticky-border-elem-left {
      border-right: 1px solid mat.get-theme-color($theme, outline-variant);
    }
  }

  .table-container {
    background-color: var(--mat-table-background-color);
  }

  .mat-mdc-table-header {
    background-color: var(--mat-table-background-color);
  }

  .mat-mdc-table-header-selected {
    background-color: mat.get-theme-color($theme, primary-container);
  }
}

@mixin density($theme) {
}

@mixin typography($theme) {
  .mat-column-player,
  .mat-column-points {
    font-weight: 500;
  }
}

@mixin theme($theme) {
  @include mat.private-check-duplicate-theme-styles($theme, 'table') {
    @include base($theme);
    @include color($theme);
    @include density($theme);
    @include typography($theme);
  }
}
