/* stylelint-disable selector-class-pattern */
@use '@angular/material' as mat;

@mixin base($theme) {
  .mat-toolbar {
    transition: background-color 0.6s cubic-bezier(0.2, 0, 0, 1);
  }

  .mat-toolbar-multiple-rows {
    min-height: unset;
  }
}

@mixin color($theme) {
  .is-scrolled .mat-toolbar {
    @include mat.toolbar-overrides(
      (
        container-background-color: mat.get-theme-color($theme, surface-container),
      )
    );
  }

  .mat-drawer .mat-toolbar {
    background-color: inherit;
  }

  .mat-toolbar {
    .mat-mdc-form-field-underline,
    .mat-mdc-form-field-ripple,
    .mat-mdc-focused .mat-mdc-form-field-ripple {
      background-color: currentcolor !important;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
      border-bottom-color: currentcolor !important;
      opacity: 0.42;
    }

    .mat-mdc-form-field-label,
    .mat-mdc-focused .mat-mdc-form-field-label,
    .mat-mdc-select-value,
    .mat-mdc-select-arrow,
    .mat-mdc-form-field.mat-mdc-focused .mat-mdc-select-arrow {
      color: inherit !important;
    }

    .mat-mdc-input-element {
      caret-color: currentcolor !important;
    }
  }
}

@mixin density($theme) {
}

@mixin typography($theme) {
}

@mixin theme($theme) {
  @include mat.private-check-duplicate-theme-styles($theme, 'toolbar') {
    @include base($theme);
    @include color($theme);
    @include density($theme);
    @include typography($theme);
  }
}
