@mixin animations() {
  @keyframes fade-in {
    from {
      opacity: 0;
    }
  }

  @keyframes fade-out {
    to {
      opacity: 0;
    }
  }

  @keyframes slide-from-right {
    from {
      transform: translateX(30px);
    }
  }

  @keyframes slide-from-top {
    from {
      transform: translateY(-100%);
    }
  }

  @keyframes slide-to-top {
    to {
      transform: translateY(-100%);
    }
  }

  @keyframes slide-to-left {
    to {
      transform: translateX(-30px);
    }
  }

  @keyframes tab-to-right {
    to {
      transform: translateX(calc(100% + 2rem));
    }
  }

  @keyframes tab-to-left {
    to {
      transform: translateX(calc(-100% - 2rem));
    }
  }

  @keyframes tab-from-right {
    from {
      transform: translateX(calc(-100% - 2rem));
    }
  }

  @keyframes tab-from-left {
    from {
      transform: translateX(calc(100% + 2rem));
    }
  }
}

.mat-mdc-row,
.mat-mdc-header-row,
.mat-mdc-footer-row,
.mat-mdc-card,
.list-item-animation .mat-mdc-list-item,
.list-item-animation content-loader {
  transition-property: opacity, transform, box-shadow;
  transition-duration: 300ms;
  transition-timing-function: var(--mat-sys-motion-emphasized-decelerate);
  transition-delay: calc(20ms * var(--index));

  @starting-style {
    opacity: 0;
    transform: translateY(1.5rem);
  }
}
