@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-in-from-right {
  from {
    transform: translateX(30px);
  }
}

@keyframes slide-out-to-left {
  to {
    transform: translateX(-30px);
  }
}

@keyframes slide-in-from-top {
  from {
    transform: translateY(-100%);
  }
}

@keyframes slide-out-to-top {
  to {
    transform: translateY(-100%);
  }
}

@keyframes tab-slide-in-from-right {
  from {
    transform: translateX(calc(100% + 2rem));
  }
}

@keyframes tab-slide-in-from-left {
  from {
    transform: translateX(calc(-100% - 2rem));
  }
}

@keyframes tab-slide-out-to-left {
  to {
    transform: translateX(calc(-100% - 2rem));
  }
}

@keyframes tab-slide-out-to-right {
  to {
    transform: translateX(calc(100% + 2rem));
  }
}
