@mixin css-variables() {
  & {
    --mat-sys-motion-emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);
    --mat-sys-motion-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);
    --mat-sys-motion-standard: cubic-bezier(0.2, 0, 0, 1);
    --mat-sys-skeleton-background-color: var(--mat-sys-secondary-fixed-dim);
    --mat-sys-skeleton-foreground-color: var(--mat-sys-secondary-fixed);
  }
}
