:root {
  --mat-sys-motion-emphasized-duration: 500ms;
  --mat-sys-motion-emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);
  --mat-sys-motion-emphasized-accelerate-duration: 200ms;
  --mat-sys-motion-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);
  --mat-sys-motion-emphasized-decelerate-duration: 400ms;
  --mat-sys-motion-standard: cubic-bezier(0.2, 0, 0, 1);
}
