<div *ngIf="score | async as score; else loading">
    <div *ngIf="score.lineup; else nolineup">
        <fm-disposition-list *ngIf="regular.length" [regular]="true" [lineup]="score.lineup" [dispositions]="regular" [caption]="'Punteggio: ' + score.points"></fm-disposition-list>
        <fm-disposition-list *ngIf="notRegular.length" [dispositions]="notRegular" caption="Panchinari"></fm-disposition-list>
    </div>
    <ng-template #nolineup>
        <fm-mat-empty-state [label]="'Punteggio: ' + score.points" description="Formazione non presente" icon="mood_bad"></fm-mat-empty-state>
    </ng-template>
</div>
<ng-template #loading>
    <mat-progress-spinner color="accent" mode="indeterminate"></mat-progress-spinner>
</ng-template>